.badge {
  width: 2.375rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: .05rem;
  border-radius: 2px;
  font-size: .75rem;
  border: 1px solid $gold;
  &.badge-dark {
    background-color: $gold;
    color: $white;
  }
  &.badge-light {
    background-color: #fff;
    color: $gold;
  }
}