.checkbox[type='checkbox'] {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    b,
    strong,
    .b,
    .strong,
    span,
    p {
      vertical-align: middle;
    }
  }

  // Box
  & + label:before {
    content: '';
    display: inline-block;
    margin-right: 0.55555em;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: white;
    box-sizing: border-box;
    border: 1px solid $gold-light;
    border-radius: 5px;
    transition: 0.3s;
  }

  // Box hover
  &:hover + label:before {
    background: rgba($gold-light, 0.4);
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $gold;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: not-allowed;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Check mark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    width: 13px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: 6px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
  }
}
