.pill-btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  border-radius: 500px;
  // padding: $btn-padding-y  $btn-padding-x;
  padding: 0.8rem 4rem;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  cursor: pointer;
  transition: 0.3s;
}

.pill-btn-primary {
  background-color: $brown;
  color: $white;

  &:focus {
    outline: none;
  }

  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled).hover {
    background-color: $brown-dark;
    box-shadow: 0 0.25em 0.125em 0 rgba($brown-dark, 0.4);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $iron;
    box-shadow: 0 0.25em 0.125em 0 rgba($iron, 0.4);
  }

  &[disabled],
  &.disabled {
    background-color: $brown-light;
    cursor: not-allowed;
  }
}

.pill-btn-secondary {
  background-color: $white;
  border-color: $brown;
  color: $brown;

  &:focus {
    outline: none;
  }

  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled).hover {
    background-color: $ivory-light;
    box-shadow: 0 0.25em 0.125em 0 rgba($ivory-dark, 0.4);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $ivory;
    box-shadow: 0 0.25em 0.125em 0 rgba($ivory-dark, 0.4);
  }

  &[disabled],
  &.disabled {
    background-color: $white;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.pill-btn-outline-primary {
  background-color: $white;
  color: $brown;
  border: $btn-border-width solid $brown;
  border-radius: 500px;

  &:focus {
    outline: none;
  }

  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled).hover {
    background-color: $brown-dark;
    color: $white;
    box-shadow: 0 0.25em 0.125em 0 rgba($brown-dark, 0.4);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $iron;
    box-shadow: 0 0.25em 0.125em 0 rgba($iron, 0.4);
  }

  &[disabled],
  &.disabled {
    background-color: $brown-light;
    cursor: not-allowed;
  }
}


// media query
@include media-breakpoint-down(md) {
  .pill-btn {
    padding: 0.8rem 2rem;
  }
}