// radio input animation
.radio[type='radio']:not(:checked) {
  & + label:after {
    opacity: 0.5;
    transform: scale(0.66666666666666);
  }

  & + label:before {
    opacity: 0.5;
  }
}

.radio[type='radio']:checked {
  // label tag style
  & + label {
    // inner radio circle
    &:after {
      opacity: 1;
      transform: scale(1);
      content: '';
      width: 12px;
      height: 12px;
      background: $gold;
      position: absolute;
      top: 6px;
      left: 6px;
      border-radius: 50%;
      transition: all 0.2s ease;
    }
  }
}

.radio[type='radio']:checked,
.radio[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;

  // label tag style
  & + label {
    margin: 0;
    margin-right: 1rem;
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    display: inline-block;

    // outer radio circle
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      border: 1px solid $gold;
      border-radius: 50%;
      background: transparent;
    }
  }

  // disabled radio style
  &:disabled {
    + label {
      color: grey;
      opacity: 0.8;
      pointer-events: none;
      cursor: not-allowed;

      &:before {
        opacity: 1;
        border-color: grey;
      }

      &:after {
        background-color: grey;
      }
    }
  }

  //focus radio style
  &:focus {
    + label {
      border: 1px solid $warning;
    }
  }
}
