<template>
  <div>
    <!-- CONTENT -->
    <div class="container">
      <section class="mb-5 mb-lg-40">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-2 text-brown">{{$t('lb_choose_customized_service')}}</h2>

            <div class="service-list item-wrap border-bottom border-ivory-dark pt-4 pt-lg-5">
              <div class="row mb-5">
                <div class="col-6">
                  <img class="mb-4" src="@/assets/seat.png" alt="seat">
                  <h3 class="text-brown">{{$t('lb_select_seat')}}</h3>
                  <p>{{$t('lb_select_seat_detail')}}</p>
                </div>
                <div class="col-6">
                  <div class="panel mb-2">
                    <div class="panel__head">
                      去程
                      <span>TPE-HND</span>
                    </div>
                    <div class="panel__content">
                      <span>{{$t('lb_default_seat')}}</span>
                      <div class="text-iron mt-2">27C, 27H, 27J</div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="panel__head">
                      回程
                      <span>HND-TPE</span>
                    </div>
                    <div class="panel__content">
                      <span>{{$t('lb_default_seat')}}</span>
                      <div class="text-iron mt-2">16A, 16B, 16C</div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-end my-4 my-lg-5">
                    <div class="mr-4">
                      <span class="mr-2">TWD</span>
                      <span class="h2">{{$n(0)}}</span>
                    </div>
                    <router-link to="/booking/customizedServices/selectSeat">
                      <button class="pill-btn pill-btn-outline-primary">{{$t('lb_select')}}</button>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-list item-wrap border-bottom border-ivory-dark pt-4 pt-lg-5">
              <div class="row">
                <div class="col-6">
                  <img class="mb-4" src="@/assets/meal.png" alt="meal">
                  <h3 class="text-brown">{{$t('select_meal')}}</h3>
                  <p>{{$t('lb_meal_detail')}}</p>
                </div>
                <div class="col-6">
                  <div class="panel mb-2">
                    <div class="panel__head">
                      去程
                      <span>TPE-HND</span>
                    </div>
                    <div class="panel__content">
                      <span>{{$t('lb_pax_select_meal')}}</span>
                      <div class="text-iron-light mt-2">{{$t('lb_not_select_meal')}}</div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="panel__head">
                      回程
                      <span>HND-TPE</span>
                    </div>
                    <div class="panel__content">
                      <span>{{$t('lb_pax_select_meal')}}</span>
                      <div class="text-iron-light mt-2">{{$t('lb_not_select_meal')}}</div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-end my-4 my-lg-5">
                    <div class="mr-4">
                      <span class="mr-2">TWD</span>
                      <span class="h2">{{$t('lb_free')}}</span>
                    </div>
                    <router-link to="/booking/customizedServices/selectMeal">
                      <button class="pill-btn pill-btn-outline-primary">{{$t('lb_select')}}</button>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-wrap border-bottom border-ivory-dark pt-4 pt-lg-5">
              <h3 class="text-brown">{{$t('lb_extra_bag')}}</h3>
              <p>{{$t('lb_extra_detail')}}</p>
              <div class="d-flex align-items-center justify-content-end my-4 my-lg-5">
                <div class="mr-4">
                  <span class="mr-2">TWD</span>
                  <span class="h2">{{$n(9999)}}</span>
                </div>
                <router-link to="">
                  <button class="pill-btn pill-btn-outline-primary">{{$t('lb_select')}}</button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- BOTTOM INFO BAR -->
    <!-- 為了不要一直複製 StarBottomInfoBar 之後會用改其他方式引入 先留空 -->
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.service-list {
  img {
    width: 100%;
  }
}
.panel {
  border: 1px solid $ivory-dark;
  &__head {
    border-bottom: 1px solid $ivory-dark;
    padding: 10px 25px;
    color: $gold-dark;
  }
  &__content {
    padding: 20px 25px;
    span {
      font-size: $font-size-sm;
      color: $iron-lighter;
    }
  }
}
</style>
