<template>
  <div>
    <!-- CONTENT -->
    <div class="container">
      <h2 class="text-brown mb-5">{{$t('lb_view_and_select_meals')}}</h2>
      <vue-tabs class="two-tabs" :class="tabsNavFixed == true ? 'fixed' :''">
        <template v-for="(mealList) in mealLists">
          <v-tab :title="mealList.name" :key="mealList.id">
            <div class="title mb-6 mt-6">
              <h1>{{mealList.name}}，{{$t('lb_business_class')}}</h1>
              <h4 class="tag mb-2 mb-lg-0">{{$t('lb_open_meal_selection')}}</h4>
              <p class="mb-0">{{$t('lb_meal_instruction')}}</p>
            </div>
            <div class="passenger-list">
              <ul>
                <li>
                  <MealSelector
                    v-for="(pax, index) in paxList"
                    :key="pax.id"
                    v-model="pax.meal[index]"
                    :meals="mealList.data"
                    :pax="pax.firstName+'/'+pax.lastName"
                    :paxIndex="index"
                    :selectedMeal="selectedMeal"
                    :passengerId="pax.id"
                    :mealId="mealList.id"
                    @passSelectedMeal="passSelectedMeal=$event"
                  />
                </li>
              </ul>
            </div>
            <MealSelectedPanel
              :selectedMeal="selectedMeal"
              :listID.sync="mealList.id"
              :key="panelKey"
            ></MealSelectedPanel>
          </v-tab>
        </template>
        <v-tab :title="'未開放選餐畫面'">
          <div class="title mb-6 mt-6">
            <h1>{{$t('lb_return')}}{{$t('lb_dinner')}}，{{$t('lb_business_class')}}</h1>
            <h4 class="tag mb-2 mb-lg-0">{{$t('lb_meal_select_close')}}</h4>
            <p class="mb-0">{{$t('lb_meal_instruction')}}</p>
          </div>
          <div class="closed mb-5 mb-lg-7">
            <h3 class="mb-2">{{$t('lb_meal_select_close')}}</h3>
            <h4>{{$t('lb_meal_select_close_detail')}}</h4>
          </div>
          <div class="info mb-7">
            <header>{{$t('lb_select_meal_info_depart')}}</header>
            <div class="info__passenger-list">
              <ul class="mb-0">
                <li class="col-12 col-lg-4">
                  <div class="info__title">
                    <span>1</span>
                    <h4>{{$t('lb_pax')}} LIN / YIJUN MS</h4>
                  </div>
                  <div class="info__desc">
                    <span>{{$t('lb_not_selected')}}</span>
                  </div>
                </li>
                <li class="col-12 col-lg-4">
                  <div class="info__title">
                    <span>1</span>
                    <h4>{{$t('lb_pax')}}LIN / YIJUN MS</h4>
                  </div>
                  <div class="info__desc">
                    <span>{{$t('lb_not_selected')}}</span>
                  </div>
                </li>
                <li class="col-12 col-lg-4">
                  <div class="info__title">
                    <span>1</span>
                    <h4>{{$t('lb_pax')}}LIN / YIJUN MS</h4>
                  </div>
                  <div class="info__desc">
                    <span>{{$t('lb_not_selected')}}{{$t('lb_spml_only')}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </v-tab>
      </vue-tabs>
      <div class="announce mb-6">
        <h3 class="mb-4">{{$t('lb_allergen_statement')}}</h3>
        <p>{{$t('lb_allergen_statement_detail')}}</p>
      </div>
      <div class="hint pb-4">
        <h3 class="mb-4">{{$t('lb_meal_note')}}</h3>
        <!-- <ol>
          <li>餐點內容將根據不同航線、不同機型與艙等而有所調整。購票後仍可登入官網或 App 繼續選擇或變更餐點。</li>
          <li>若您需要更改預訂餐點，請於航班起飛前 24 小時至官網貨或 App 更改 (猶太餐請於航班起飛前72小時更改)。</li>
          <li>若您更改行程，原已預訂之餐點可能會被取消，請在更改行程後再次確認。</li>
          <li>因季節、航班調度等因素，提供之餐點如有變更，恕不另行通知，若無法滿足您的需求，敬請見諒。</li>
          <li>所有餐點圖片僅供參考，請以實物為準。</li>
        </ol>-->
        <div v-html="$t('lb_web_meal_note_detail')"></div>
      </div>
    </div>

    <!-- BOTTOM INFO BAR -->
    <!-- 為了不要一直複製 StarBottomInfoBar 之後會用改其他方式引入 先留空 -->
  </div>
</template>
<script>
import { VueTabs, VTab } from 'vue-nav-tabs';
import 'vue-nav-tabs/themes/vue-tabs.css';
import mealLists from '@/json/mealLists.json';
import paxList from '@/json/paxList.json';
import MealSelector from '@/components/customServices/MealSelector.vue';
import MealSelectedPanel from '@/components/customServices/MealSelectedPanel.vue';

export default {
  components: {
    VueTabs,
    VTab,

    MealSelector,
    MealSelectedPanel,
  },
  data() {
    return {
      mealLists,
      paxList,
      tabsNavFixed: false,
      selectedMeal: {},
      passSelectedMeal: {},
      panelKey: 1,
    };
  },
  methods: {
    fixedNavTabs() {
      let scrollTop =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop;
      let offsetTop = document.querySelector('.nav-tabs-navigation').offsetTop;
      let left = document.querySelector('.tab-content').offsetLeft;
      let target = document.querySelector('.nav-tabs');
      // console.log(scrollTop, offsetTop, left)
      if (scrollTop > offsetTop) {
        // if ( scrollTop > 275 ) {
        target.style.marginLeft = left + 'px';
        target.style.marginRight = left + 'px';
        this.tabsNavFixed = true;
      } else {
        target.style.marginLeft = 'auto';
        target.style.marginRight = 'auto';
        this.tabsNavFixed = false;
      }
    },
  },
  destroyed() {
    window.removeEventListener('scroll', this.fixedNavTabs);
  },
  mounted() {
    window.addEventListener('scroll', this.fixedNavTabs);
    this.selectedMeal = this.paxList;
  },
  watch: {
    passSelectedMeal() {
      let newData = this.passSelectedMeal;
      let $this = this;
      for (let i = 0; i < this.selectedMeal.length; i++) {
        if ($this.selectedMeal[i].id == newData.passengerId) {
          $this.selectedMeal[i].meal[newData.mealId.mealId] = newData.mealId;
          $this.selectedMeal[i].meal[newData.mealId.mealId].title =
            newData.mealId.title;
        }
      }
      this.panelKey++;
    },
  },
};
</script>
<style lang="scss" scoped>
.title {
  background-color: $iron;
  border-radius: 4px;
  color: $white;
  padding: 2rem 3rem;
  p {
    opacity: 0.8;
  }
  h4 {
    float: right;
    top: 0;
  }
}

.announce {
  p {
    color: $iron;
  }
}
.hint {
  ol {
    padding-left: 20px;
    li {
      color: $iron;
    }
  }
}
.closed {
  padding: 74px 0;
  text-align: center;
  background-color: $ivory;
  h3,
  h4 {
    color: $ink;
  }
}
.info__desc {
  vertical-align: top;
  span {
    font-size: $font-size-sm;
    color: $ink;
    opacity: 0.8;
  }
  h4 {
    margin-bottom: 0;
  }
}

.info {
  border-top: 1px solid #cfcec9;
  border-bottom: 1px solid #cfcec9;
  padding: 0;
  header {
    background: #faf9f2;
    padding: 8px 25px;
    color: $gold-dark;
  }
  &__passenger-list {
    padding: 20px 10px;
    ul > li {
      display: inline-block;
    }
    p {
      color: $iron-light;
    }
    li {
      display: inline-block;
      vertical-align: top;
      font-size: $font-size-sm;
    }
  }
  &__title {
    span {
      background-color: #dfb14d;
      border-radius: 12px;
      width: 24px;
      height: 24px;
      color: $white;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: 24px;
    }
    h4 {
      display: inline-block;
      margin-left: 5px;
      top: 2px;
      position: relative;
    }
  }
  &__desc {
    p {
      color: #996a4e;
      margin-bottom: 5px;
    }
    h4 {
      line-height: 1.5rem;
    }
  }
}

// media query
@include media-breakpoint-down(md) {
  .title {
    padding: 1.5rem 1rem;
    h4 {
      float: none;
      display: block;
    }
  }
  .closed {
    padding: 2rem 1rem;
  }
  .info {
    header {
      padding: 1rem;
    }
    &__passenger-list {
      padding: 1rem 0;
      ul {
        margin-bottom: 0;
      }
      ul > li {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
</style>
