<template>
  <div @click="openModal">
    <div class="item">
      <div v-if="meal.mealType === 'specialMeal'">
        <img src="~@/assets/meal-sp.svg" alt="meal" class="mr-2">
        <p class="meal-name">{{meal.title}}</p>
        <h4>{{meal.mealMainTitle}}</h4>
        <span>{{meal.description}}</span>
      </div>
      <div v-else>
        <img
          :src="meal.mainDish.mealImageUrl==null?'https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60':meal.mainDish.mealImageUrl"
          alt="meal"
          class="mr-2"
        >
        <p class="meal-name">{{meal.mealMainTitle}}</p>
        <h4>{{meal.mainDish.locName}}</h4>
        <span>{{meal.mealDescription}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    meal: {
      type: Object,
    },
    active: {
      type: Boolean,
    },
  },
  methods: {
    openModal() {
      this.$emit('input', true);
    },
  },
};
</script>

<style lang="scss" scoped>
.item {
  white-space: normal;
  text-align: center;
  img {
    width: 100%;
    margin-bottom: 1rem;
    height: 250px;
    object-fit: contain;
  }
  .meal-name {
    color: $brown;
    margin-bottom: 5px;
  }
  span {
    opacity: 0.8;
  }
}
h4 {
  white-space: normal;
  margin-bottom: 5px;
}
</style>
