<template>
  <div>
    <div class="pessenger-name mb-4">
      <span>{{paxIndex+1}}</span>
      <h3>旅客 {{pax}}</h3>
    </div>
    <div class="meal-list mb-7">
      <ul>
        <li
          v-for="(meal, index) in meals"
          :key="index"
          @click="setIndex(index)"
          :class="{'selected':getSelectedMeal(passengerId, meal.mealId), 'disable':meal.isDisable}"
        >
          <MealItem :key="meal.mealId" :meal="meal" v-model="isModalOpen"/>
        </li>
      </ul>
    </div>
    <MealModal
      v-if="isModalOpen"
      :passengerId="passengerId"
      :mealId="mealId"
      :meals="meals"
      :swiperIndex="swiperIndex"
      @input="isModalOpen = $event"
      @passSelectedMeal=" passSelectedMeal = $event"
    />
  </div>
</template>

<script>
import MealItem from '@/components/customServices/MealItem.vue';
import MealModal from '@/components/customServices/MealModal.vue';
export default {
  props: [
    'value',
    'meals',
    'pax',
    'paxIndex',
    'selectedMeal',
    'passengerId',
    'mealId',
  ],
  data() {
    return {
      isModalOpen: false,
      passSelectedMeal: {
        type: Object,
      },
      swiperIndex: '',
    };
  },
  components: {
    MealItem,
    MealModal,
  },
  computed: {},
  methods: {
    getSelectedMeal(passengerId, mealId) {
      let $this = this;
      let result = false;
      for (let i = 0; i < this.selectedMeal.length; i++) {
        if ($this.selectedMeal[i].id == passengerId) {
          if (
            !!$this.selectedMeal[i].meal[$this.mealId] &&
            $this.selectedMeal[i].meal[$this.mealId].mainId === mealId
          ) {
            result = true;
          }
        }
      }
      return result;
    },
    setIndex(index) {
      this.swiperIndex = index
    }
  },
  watch: {
    passSelectedMeal() {
      return this.$emit('passSelectedMeal', this.passSelectedMeal);
    },
  },
};
</script>

<style lang="scss" scoped>
.pessenger-name {
  span {
    background-color: #dfb14d;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: $white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 22px;
  }
  h3 {
    display: inline-block;
    top: 4px;
    position: relative;
    margin-left: 10px;
  }
}
.meal-list {
  border: 1px solid #cfcec9;
  border-radius: 4px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  ul > li {
    padding: 1rem;
    width: 295px;
    height: 398px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
}
.selected {
  border: 3px solid $brown;
  border-radius: 4px;
  background-color: $ivory-light;
}
.selected::before {
  content: '';
  background-image: url('~@/assets/ic-input-check.svg');
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  float: right;
  margin-bottom: -26px;
}
.disable {
  opacity: 0.5;
  pointer-events: none;
}
</style>