<template>
  <div class="info mb-5 mb-lg-7">
    <header>{{$t('lb_select_meal_info_depart')}}</header>
    <div class="info__passenger-list">
      <ul class="mb-0">
        <li class="col-12 col-lg-4" v-for="(passenger, index) in selectedMeal" :key="index">
          <div v-if="!!passenger.meal[listID]">
            <div class="info__title">
              <span>{{index+1}}</span>
              <h4>{{$t('lb_pax')}} {{passenger.lastName}} / {{passenger.firstName}} {{passenger.title}}</h4>
            </div>
            <div class="info__desc">
              <p class="meal-name">{{passenger.meal[listID].title}}</p>
              <h4 class="mb-0 font-weight-bold">{{!!passenger.meal[listID].mainDish.locName?passenger.meal[listID].mainDish.locName:passenger.meal[listID].mainDish}}</h4>
            </div>
          </div>
          <div v-else>
            <div class="info__title">
              <span>{{index+1}}</span>
              <h4>{{$t('lb_pax')}} {{passenger.lastName}} / {{passenger.firstName}} {{passenger.title}}</h4>
            </div>
            <p class="mb-0">{{$t('lb_not_selected')}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: ['selectedMeal', 'listID'],
  data() {
    return {
      updates: {},
    };
  }
};
</script>

<style lang="scss" scoped>
.info {
  border-top: 1px solid #cfcec9;
  border-bottom: 1px solid #cfcec9;
  padding: 0;
  header {
    background: #faf9f2;
    padding: 8px 25px;
    color: $gold-dark;
  }
  &__passenger-list {
    padding: 20px 10px;
    ul > li {
      display: inline-block;
    }
    p {
      color: $iron-light;
    }
    li {
      display: inline-block;
      vertical-align: top;
      font-size: $font-size-sm;
    }
  }
  &__title {
    span {
      background-color: #dfb14d;
      border-radius: 12px;
      width: 24px;
      height: 24px;
      color: $white;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: 24px;
    }
    h4 {
      display: inline-block;
      margin-left: 5px;
      top: 2px;
      position: relative;
    }
  }
  &__desc {
    p {
      color: #996a4e;
      margin-bottom: 5px;
    }
    h4 {
      line-height: 1.5rem;
    }
  }
}

// media query
@include media-breakpoint-down(md) {
  .info {
    header {
      padding: 1rem;
    }
    &__passenger-list {
      padding: 1rem 0;
      ul {
        margin-bottom: 0;
      }
      ul > li {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
</style>