<template>
  <transition name="fade">
    <div v-if="isModalOpen" class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="modal modal-md bg-white">
              <h3 class="mb-4 mr-50 ml-50">{{$t('lb_menu_detail')}}</h3>
              <button class="closeBtn" style="font-size:0;" @click="close">
                關閉
                <img src="@/assets/ic-cancel-black.svg" alt="close icon">
              </button>
              <!-- swiper -->
              <swiper :options="swiperOption" ref="mySwiper">
                <!-- filter isAvailable -->
                <swiper-slide
                  v-if="meal.isDisable == false"
                  v-for="(meal, index) in meals"
                  :key="index"
                  :id="mealId"
                >
                  <!-- 特殊餐 -->
                  <div v-if="meal.mealType === 'specialMeal'" class="swiper-content special-meal">
                    <div class="main-meal-img mb-3">
                      <div class="note-bg">
                        <div class="note">{{$t('lb_special_meal')}}</div>
                      </div>
                      <img src="@/assets/mainDish-other.jpg" alt="meal img">
                    </div>
                    <h2 class="text-gold meal-name">{{meal.mealMainTitle}}</h2>
                    <h4 class="meal-desc">{{meal.engMealMainTitle}}</h4>
                    <hr class="border-top-1 border-ivory-dark my-4">
                    <vue-tabs class="five-tabs" @tab-change="handleTabChange">
                      <template v-for="(mealTypes, index) in meal.mealTypes">
                        <v-tab :title="mealTypes.locName">
                          <div class="item-wrap mt-4 pb-4">
                            <div class="row">
                              <div
                                v-for="(data, index) in mealTypes.data"
                                :key="index"
                                class="col-12 item"
                              >
                                <div class="select-meal">
                                  <input
                                    type="radio"
                                    name="mealTypes"
                                    :value="{mealMainTitle:meal.title, mainDish:meal.mealMainTitle  ,sideDish:data, mainId:meal.mealId}"
                                    :id="`mealTypes-${data.id}`"
                                    v-model="selectedMeal"
                                  >
                                  <label :for="`mealTypes-${data.id}`">
                                    {{data.locName}}
                                    <small>{{data.description}}</small>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </v-tab>
                      </template>
                    </vue-tabs>
                  </div>

                  <!-- 一般餐 -->
                  <div v-else class="swiper-content">
                    <div class="main-meal-img mb-3">
                      <img src="@/assets/mainDish.jpg" alt="meal img">
                    </div>
                    <h2 class="text-gold meal-name">{{meal.mainDish.locName}}</h2>
                    <h4 class="meal-desc">{{meal.mainDish.engName}}</h4>
                    <hr class="border-top-1 border-ivory-dark my-4">

                    <h3 class="text-brown cate">{{$t('lb_mise_en_bouche')}}</h3>
                    <div class="item-wrap">
                      <div class="row">
                        <div
                          v-for="(appetizer, index) in meal.appetizer"
                          :key="index"
                          :id="meal.appetizer.appetizerId"
                          class="col-12 col-lg-6 item"
                        >
                          <h4 class="item-name">{{appetizer.locName}}</h4>
                          <div class="item-desc">{{appetizer.engName}}</div>
                        </div>
                      </div>
                    </div>

                    <h3 class="text-brown cate">{{$t('lb_selection_bread')}}</h3>

                    <h3 class="text-brown cate">{{$t('lb_starter')}} {{$t('lb_select_one')}}</h3>
                    <div class="item-wrap">
                      <div class="row">
                        <div
                          v-for="(sideDish, index) in meal.sideDish"
                          :key="index"
                          class="col-12 col-lg-6 item"
                        >
                          <div class="meal-img">
                            <img :src="`${sideDish.mealImageUrl}`" alt="meal img">
                          </div>
                          <div class="select-meal">
                            <input
                              type="radio"
                              name="mealsideDish"
                              :value="{mealMainTitle:meal.mealMainTitle, mainDish:meal.mainDish  ,sideDish:sideDish, mainId:meal.mealId}"
                              :id="`mealsideDish-${sideDish.sideDishId}`"
                              :meal="meal"
                              v-model="selectedMeal"
                            >
                            <label :for="`mealsideDish-${sideDish.sideDishId}`">
                              {{sideDish.locName}}
                              <small>{{sideDish.engName}}</small>
                            </label>
                          </div>
                        </div>
                      </div>

                      <h3 class="text-brown cate">餐後點心</h3>
                      <div class="item-wrap">
                        <div class="row">
                          <div
                            v-for="(dessert, index) in meal.dessert"
                            :key="index"
                            :id="meal.dessert.dessertId"
                            class="col-12 col-lg-6 item"
                          >
                            <h4 class="item-name">{{dessert.locName}}</h4>
                            <div class="item-desc">{{dessert.engName}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </swiper-slide>

                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
              </swiper>

              <hr class="border-top-1 border-ivory-dark ml-50 mr-50">

              <div class="text-right ml-50 mr-50">
                <button
                  class="pill-btn pill-btn-primary btn-md-long my-4"
                  :class="{'disabled':selectedMeal.length==0}"
                  @click="submit"
                >
                  <strong>選擇</strong>
                  <img src="@/assets/btn-r-arrow-white.svg" alt class>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div @click="close" class="modal__background"></div>
    </div>
  </transition>
</template>

<script>
import StarModal from '@/components/common/StarModal';
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import { VueTabs, VTab } from 'vue-nav-tabs';

export default {
  name: 'carrousel',
  props: {
    swiperOption: {
      type: Object,
      default: function() {
        return {
          setWrapperSize: true,
          slidesPerView: 1,
          centeredSlides: true,
          normalizeSlideIndex: false,
          spaceBetween: 1000,
          allowTouchMove: false,
          effect: 'fade',
          autoHeight: true,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          keyboard : true
        };
      },
    },
    passengerId: {
      type: String,
    },
    meals: {
      type: Array,
      required: true,
    },
    mealTypes: {
      type: Array,
    },
    listID: {
      type: String,
    },
    mealId: {
      type: String,
    },
    swiperIndex: {
      type: Number,
    }
  },
  components: {
    StarModal,
    swiper,
    swiperSlide,
    VueTabs,
    VTab,
  },
  data() {
    return {
      isModalOpen: true,
      pickedMeal: null,
      selectedMeal: [],
      pax: [],
    };
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
  },
  mounted() {
    // 取得 meal item index 並打開對應的 swiper slide
    let i = this.swiperIndex
    // console.log(i)
    this.swiper.slideTo(i, 1000, false);
    // 解決 swiper 遇到 tabs 時，高度會產生問題
    setTimeout(() => {
      this.swiper.updateAutoHeight(200);
    }, 0);
  },
  methods: {
    handleTabChange() {
      // 解決 swiper 遇到 tabs 時，高度會產生問題
      setTimeout(() => {
        this.swiper.updateAutoHeight(200);
      }, 0);
    },
    close() {
      this.$emit('input', false);
    },
    submit(evt) {
      let data = {
        passengerId: '',
        mealId: {
          mealId: '',
          title: '',
          sideDish: {},
        },
      };
      if (this.selectedMeal.length == 0) {
        evt.preventDefault();
      } else {
        data.passengerId = this.passengerId;
        data.mealId.mealId = this.mealId;
        data.mealId.title = this.selectedMeal.mealMainTitle;
        data.mealId.mainDish = this.selectedMeal.mainDish;
        data.mealId.sideDish = this.selectedMeal.sideDish;
        data.mealId.mainId = this.selectedMeal.mainId;
        this.$emit('passSelectedMeal', data);
        this.$emit('input', false);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.swiper-container {
  overflow: hidden !important;
}
.wrapper {
  width: 100vw;
  height: 100%;
  padding: 60px 0 60px 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  // background-color: $iron;
  z-index: 2000;
}
.closeBtn {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 36px;
  top: 36px;
  padding: 0;
  cursor: pointer;
  z-index: 2000;
  // background-color: $iron;
}
.modal__background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 999;
}
.modal {
  position: relative;
  z-index: 2000;
}
.modal-md {
  margin: 0 auto;
  padding: 40px 0;
}
.swiper-content {
  margin: 0 50px;
  background: $white;
}
.swiper-slide {
  // display: none;
  // padding: 1000px;
  opacity: 0 !important;
  animation-delay: 1s;
}
.swiper-slide-active {
  display: block;
  opacity: 1 !important;
}

.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.swiper-container {
  overflow: initial;
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 120px;
  position: fixed;
  top: 250px;
  z-index: 2000;
  cursor: pointer;
  opacity: 1;
  animation: fade 2s linear;
  background-size: contain;
}
.swiper-button-prev {
  left: 5%;
  background-image: url('~@/assets/modal-arrow-left.svg');
}
.swiper-button-next {
  right: 5%;
  background-image: url('~@/assets/modal-arrow-right.svg');
}
.swiper-button-disabled {
  opacity: 0;
  animation: fade 2s linear;
}

.main-meal-img {
  position: relative;
  .note-bg {
    padding-right: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('~@/assets/bg-main-meal-note.svg') right bottom no-repeat;
  }
  .note {
    padding: 10px 20px;
    line-height: 1;
    color: $white;
    background: $gold-dark;
  }
}
.cate {
  margin: 2rem 0 1rem 0;
}
.item {
  margin-bottom: 1rem;
  .item-name {
    margin-bottom: 0;
  }
  .item-desc {
    font-size: $font-size-sm;
    color: $iron-light;
  }
  .meal-img {
    margin-bottom: 1rem;
    border: 2px solid $brown;
    border-radius: 4px;
    text-align: right;
    img {
      max-width: 100%;
    }
  }
  .select-meal {
    height: auto;
    label {
      font-size: $h4-font-size;
      font-weight: $font-weight-bold;
    }
    small {
      display: block;
      font-size: $font-size-sm;
      color: $iron-light;
    }
  }
}

// media query
@include media-breakpoint-down(md) {
  .wrapper {
    padding: 2rem 0 1rem;
    overflow: scroll;
  }
  .closeBtn {
    top: 28px;
    right: 8px;
  }
  .mr-50 {
    margin-right: 1rem;
  }
  .ml-50 {
    margin-left: 1rem;
  }
  .swiper-content {
    margin: auto 1rem;
  }
  .main-meal-img {
    img {
      width: 100%;
    }
  }
}
</style>