<template>
  <div>
    <h3>This is Pax List Components</h3>
    <ul>
      <li v-for="(item, index) in paxList" :key="index">
        <p>{{item.firstName}}/{{item.lastName}}</p>
        <p v-if="item.goSeat">{{item.goSeat.seatNo}}</p>
        <p v-if="item.goSeat">{{item.goSeat.pricing}}</p>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    paxList: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
</style>
