<template>
  <div class="border">
    <h3>this is SeatMap component</h3>
    <p>seat map: {{seatMap}}</p>
    <p>paxList:{{value}}</p>
    <button class="btn btn-primary" @click="selectSeat(0)">set pax 1</button>
    <button class="btn btn-primary" @click="selectSeat(1)">set pax 2</button>
    <button class="btn btn-primary" @click="selectSeat(2)">set pax 3</button>
  </div>
</template>
<script>
export default {
  props: {
    //座位圖
    seatMap: {
      type: Array,
      required: true,
    },

    //pax data list
    value: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      selectSeat(index) {
        this.value[index].goSeat = {
          seatNo: '1A',
          pricing: 1000,
        };

        this.value[index].backSeat = {
          seatNo: '1A',
          pricing: 1000,
        };

        //將改變的資料傳回父層 component
        this.$emit('input', [...this.value]);
      },
    };
  },
};
</script>
<style lang="scss" scoped>
</style>
