@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iqtcwx');
  src:  url('fonts/icomoon.eot?iqtcwx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iqtcwx') format('truetype'),
    url('fonts/icomoon.woff?iqtcwx') format('woff'),
    url('fonts/icomoon.svg?iqtcwx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-special:before {
  content: "\e900";
  color: #faf9f2;
}
.icon-ic-meal:before {
  content: "\e901";
}
.icon-ic-r-arrow-bold-black:before {
  content: "\e902";
}
.icon-seat-icon-upgrade:before {
  content: "\e903";
  color: #faf9f2;
}
.icon-seat-icon-kitchen:before {
  content: "\e904";
}
.icon-seat-icon-child:before {
  content: "\e905";
  color: #faf9f2;
}
.icon-ic-input-notice:before {
  content: "\e906";
  color: #bb0a30;
}
.icon-ic-checkbox-on .path1:before {
  content: "\e907";
  color: rgb(132, 117, 78);
}
.icon-ic-checkbox-on .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-checkbox-off:before {
  content: "\e909";
  color: #faf9f2;
}
.icon-xmlid-3:before {
  content: "\e90a";
}
.icon-xmlid-144 .path1:before {
  content: "\e90b";
  color: rgb(65, 70, 75);
}
.icon-xmlid-144 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(152, 105, 76);
}
.icon-xmlid-144 .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(134, 117, 77);
}
.icon-xmlid-144 .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(152, 105, 76);
}
.icon-ic-usb:before {
  content: "\e90f";
}
.icon-ic-upgrade-l:before {
  content: "\e910";
}
.icon-ic-space:before {
  content: "\e911";
}
.icon-ic-seat:before {
  content: "\e912";
}
.icon-ic-seat-l:before {
  content: "\e913";
}
.icon-ic-plug:before {
  content: "\e914";
}
.icon-ic-oneway-black:before {
  content: "\e915";
}
.icon-ic-news:before {
  content: "\e916";
}
.icon-ic-export:before {
  content: "\e917";
  color: #fff;
}
.icon-ic-btn-print-brown:before {
  content: "\e918";
  color: #996a4e;
}
.icon-btn-brown-left-arrow:before {
  content: "\e919";
}
.icon-starlux_logo .path1:before {
  content: "\e91a";
  color: rgb(65, 70, 75);
}
.icon-starlux_logo .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(152, 105, 76);
}
.icon-starlux_logo .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(134, 117, 77);
}
.icon-starlux_logo .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(152, 105, 76);
}
.icon-starlux_logo .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(65, 70, 75);
}
.icon-starlux_logo .path6:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(65, 70, 75);
}
.icon-starlux_logo .path7:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(65, 70, 75);
}
.icon-starlux_logo .path8:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(65, 70, 75);
}
.icon-starlux_logo .path9:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(65, 70, 75);
}
.icon-starlux_logo .path10:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(65, 70, 75);
}
.icon-starlux_logo .path11:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(65, 70, 75);
}
.icon-starlux-flight-logo-xs .path1:before {
  content: "\e925";
  color: rgb(152, 105, 76);
}
.icon-starlux-flight-logo-xs .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(134, 117, 77);
}
.icon-starlux-flight-logo-xs .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(152, 105, 76);
}
.icon-starlux-flight-logo-white-xs:before {
  content: "\e928";
  color: #fff;
}
.icon-round-trip:before {
  content: "\e929";
}
.icon-round-trip-white:before {
  content: "\e92a";
}
.icon-ic-wifi:before {
  content: "\e92b";
}
.icon-ic-r-arrow-black:before {
  content: "\e92c";
}
.icon-ic-nav-cancel:before {
  content: "\e92d";
}
.icon-ic-man:before {
  content: "\e92e";
  color: #bcb39e;
}
.icon-ic-luggage:before {
  content: "\e92f";
}
.icon-ic-kid .path1:before {
  content: "\e930";
  color: rgb(255, 255, 255);
}
.icon-ic-kid .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic-kid .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-kid .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(250, 249, 242);
}
.icon-ic-kid .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(188, 179, 158);
}
.icon-ic-input-check:before {
  content: "\e935";
  color: #84754e;
}
.icon-ic-input-cancel:before {
  content: "\e936";
  color: #d7d1c5;
}
.icon-ic-info:before {
  content: "\e937";
}
.icon-ic-info-white:before {
  content: "\e938";
}
.icon-ic-handbag:before {
  content: "\e939";
}
.icon-ic-gift:before {
  content: "\e93a";
}
.icon-ic-fly-to-white-60px:before {
  content: "\e93b";
}
.icon-ic-fly-to-black-60px:before {
  content: "\e93c";
}
.icon-ic-exchange:before {
  content: "\e93d";
}
.icon-ic-edit-white:before {
  content: "\e93e";
  color: #fff;
}
.icon-ic-d-arrow-white:before {
  content: "\e93f";
}
.icon-ic-d-arrow-black:before {
  content: "\e940";
}
.icon-ic-close-white:before {
  content: "\e941";
}
.icon-ic-child:before {
  content: "\e942";
  color: #bcb39e;
}
.icon-ic-cheapest-icon:before {
  content: "\e943";
  color: #bb0a30;
}
.icon-ic-cancel:before {
  content: "\e944";
}
.icon-ic-cancel-black:before {
  content: "\e945";
}
.icon-ic-btn-r-arrow-brown:before {
  content: "\e946";
}
.icon-ic-baby:before {
  content: "\e947";
  color: #bcb39e;
}
.icon-group-9:before {
  content: "\e948";
}
.icon-group-3:before {
  content: "\e949";
}
.icon-group-11:before {
  content: "\e94a";
}
.icon-btn-r-arrow-white:before {
  content: "\e94b";
}
.icon-btn-next-s .path1:before {
  content: "\e94c";
  color: rgb(0, 0, 0);
}
.icon-btn-next-s .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-btn-next-s .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: none;
}
.icon-btn-increase-s .path1:before {
  content: "\e94f";
  color: rgb(0, 0, 0);
}
.icon-btn-increase-s .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-btn-increase-normal .path1:before {
  content: "\e951";
  color: rgb(0, 0, 0);
}
.icon-btn-increase-normal .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-btn-increase-disable .path1:before {
  content: "\e953";
  color: rgb(214, 205, 185);
  opacity: 0.125;
}
.icon-btn-increase-disable .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(240, 235, 224);
}
.icon-btn-decrease-s .path1:before {
  content: "\e955";
  color: rgb(0, 0, 0);
}
.icon-btn-decrease-s .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-btn-decrease-s .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: none;
}
.icon-btn-decrease-normal .path1:before {
  content: "\e958";
  color: rgb(0, 0, 0);
}
.icon-btn-decrease-normal .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-btn-decrease-normal .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: none;
}
.icon-btn-decrease-disable .path1:before {
  content: "\e95b";
  color: rgb(234, 230, 220);
}
.icon-btn-decrease-disable .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(240, 235, 224);
}
.icon-btn-decrease-disable .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: none;
}
.icon-btn-calendar-prev .path1:before {
  content: "\e95e";
  color: rgb(0, 0, 0);
}
.icon-btn-calendar-prev .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-btn-calendar-prev .path3:before {
  content: "\e960";
  margin-left: -1em;
  color: none;
}
.icon-btn-calendar-next .path1:before {
  content: "\e961";
  color: rgb(0, 0, 0);
}
.icon-btn-calendar-next .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-btn-calendar-next .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: none;
}
