<template>
  <div>
    <div class="container">
      <h2 class="text-primary mb-3">{{$t("lb_booking_complete")}}</h2>
      <p>{{$t("lb_thank_you_order")}}</p>
      <!-- 訂位代號 -->
      <div
        class="bordered-top bg-iron text-white py-4 px-3 py-lg-5 px-lg-6"
        style="margin-bottom: 1px;"
      >
        <div class="row">
          <div class="upper-left col-12 col-lg-6 ">
            <h3>{{$t("lb_pnr")}}</h3>
            <p class="mb-0">{{$t("lb_pnr_view_trip")}}</p>
          </div>
          <div class="upper-right col-12 col-lg-6 text-left text-lg-right mt-3 mt-lg-0">
            <!-- booking number -->
            <span class="h1">SDF3CS</span>
          </div>
        </div>
      </div>
      <hr class="m-0" style="background: rgba(0,0,0,0.9);">
      <div
        class="bordered-bottom bg-iron text-white mb-2 py-4 px-3 py-lg-4 px-lg-6"
      >
        <div class="row">
          <div class="upper-left col-12 col-lg-6">
            <p class="m-0">{{$t("lb_sent_confirmation_to_contact")}}</p>
          </div>
          <div class="upper-right col-12 col-lg-6 text-left text-lg-right mt-3 mt-lg-0">
            <!-- booking number -->
            <span>abc123@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="clearfix mb-5 mb-lg-7">
        <button class="btn btn-link text-gold float-right">{{$t("btn_my_trip_edit")}}</button>
      </div>
      <!-- 付款金額 -->
      <h3 class="text-primary mb-3">付款金額</h3>
      <div class="bordered bg-ivory-light mb-5 mb-lg-7 py-3 px-3 py-lg-5 px-lg-6 clearfix">
        <div class="row">
          <div class="col-12 col-lg-5">
            <div
              class="d-flex align-items-center justify-content-between border-bottom border-ivory-dark pb-2 mb-3"
            >
              <div class="text-iron-light">{{$t("lb_credit_card_number")}}</div>
              <div class="strong font-weight-normal">●●●● ●●●● ●●●● 5678</div>
            </div>
            <div
              class="d-flex align-items-center justify-content-between border-bottom border-ivory-dark pb-2 mb-3"
            >
              <div class="text-iron-light">{{$t("lb_card_holder")}}</div>
              <div class="strong font-weight-normal">LIN YI JYUN</div>
            </div>
            <div
              class="d-flex align-items-center justify-content-between border-bottom border-ivory-dark pb-2"
            >
              <div class="text-iron-light">{{$t("lb_pay_time")}}</div>
              <div class="strong font-weight-normal">2020/1/10 23:59:59</div>
            </div>
          </div>
          <div class="col-12 col-lg-2 offset-lg-5 d-flex justify-content-end justify-content-lg-center align-items-center mt-2 mt-lg-0">
            <span class="strong font-weight-normal mr-2">TWD</span>
            <span class="h1 m-0">23,295</span>
          </div>
        </div>
      </div>
      <!-- 航班資訊 -->
      <div>
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h3 class="text-primary mb-0">{{$t("lb_flt_svc")}}</h3>
          <a
            href="#"
            @click.prevent="hasFlightDetail = !hasFlightDetail"
            class="d-flex align-items-center"
          >
            <p class="mb-0 mr-2" v-if="!hasFlightDetail">展開詳細資訊</p>
            <p class="mb-0 mr-2" v-if="hasFlightDetail">{{$t('btn_hidden_chart')}}</p>
            <span class="icon-show" :class="{'hide': hasFlightDetail}"></span>
          </a>
        </div>
        <div class="mb-7">
          <div class="row">
            <div class="col-12 col-lg-6">
              <StarFlightDetail
                :isShow="hasFlightDetail"
                :depAirport="rawSearchInfo.depAirport"
                :arrAirport="rawSearchInfo.arrAirport"
                :flight="goFlight"
                type="go"
              ></StarFlightDetail>
            </div>
            <div class="col-12 col-lg-6" v-if="rawSearchInfo.isRoundTrip">
              <StarFlightDetail
                :isShow="hasFlightDetail"
                :depAirport="rawSearchInfo.arrAirport"
                :arrAirport="rawSearchInfo.depAirport"
                :flight="backFlight"
                type="back"
              ></StarFlightDetail>
            </div>
          </div>
        </div>
      </div>

      <!-- 旅客資訊與費用 -->
      <div>
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h3 class="text-primary">{{$t("lb_pax_deatil_fee")}}</h3>
          <a
            href="#"
            @click.prevent="hasFeeDetail = !hasFeeDetail"
            class="d-flex align-items-center"
          >
            <p class="mb-0 mr-2" v-if="!hasFeeDetail">展開詳細資訊</p>
            <p class="mb-0 mr-2" v-if="hasFeeDetail">{{$t('btn_hidden_chart')}}</p>
            <span class="icon-show" :class="{'hide': hasFeeDetail}"></span>
          </a>
        </div>
        <div class="mb-7">
          <div class="row">
            <div class="col-12 col-lg-6" v-for="(PAX, i) in paxList" :key="i">
              <StarPaxComplete :isShow="hasFeeDetail" :data="PAX"></StarPaxComplete>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="border-top border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-3 offset-lg-9">
            <button class="pill-btn pill-btn-primary btn-long my-5 my-lg-6" @click="confirm">
              <strong>{{$t("btn_continue")}}</strong>
              <img src="@/assets/btn-r-arrow-white.svg" alt class="vertical-baseline ml-2">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import StarInfo from '@/components/common/StarInfo';
import StarScheduleItem from '@/components/StarScheduleItem';
import StarFlightDetail from '@/components/StarFlightDetail';
import StarPaxComplete from '@/components/StarPaxComplete';

export default {
  components: {
    StarInfo,
    StarScheduleItem,
    StarPaxComplete,
    StarFlightDetail,
  },
  created() {
    this.paxList = this.getCarer();
  },
  data() {
    return {
      hasFlightDetail: false,
      hasFeeDetail: false,
    };
  },
  methods: {
    getCarer() {
      const copyPAXList = JSON.parse(
        JSON.stringify(this.$store.state.Booking.paxList),
      );
      return copyPAXList.reduce((accu, curr) => {
        if (curr.paxType === 'INF') {
          const carerIndex = curr.carer;
          const carerInfo = this.$store.state.Booking.paxList[carerIndex];
          curr.carer = carerInfo;
          accu.push(curr);
        } else {
          accu.push(curr);
        }
        return accu;
      }, []);
    },
    confirm() {
      this.$router.push('/booking/schedule');
    },
  },
  computed: {
    goFlight: {
      set(val) {
        this.$store.commit('Booking/SET_GO_FLIGHT', val);
      },
      get() {
        return this.$store.state.Booking.goFlight;
      },
    },

    backFlight: {
      set(val) {
        this.$store.commit('Booking/SET_BACK_FLIGHT', val);
      },
      get() {
        return this.$store.state.Booking.backFlight;
      },
    },

    allPaxNum() {
      return this.$store.getters['Booking/GET_ALL_PAX_NUM'];
    },

    rawSearchInfo() {
      return this.$store.state.Booking.rawSearchInfo;
    },
  },
};
</script>
