<template>
  <div>
    <StarBanner class="mb-6">
      <StarBreadCrumb :linkData="linkData"/>
      <div class="row">
        <div class="col-12 col-lg-2">
          <h1 class="font-weight-light">網路購票</h1>
        </div>
        <div class="col-12 col-lg-10">
          <StarStepsIndicator
            v-if="stepNums.length > 0"
            :totalStepsNum="4"
            :activeSteps="[...stepNums]"
          />
        </div>
      </div>
    </StarBanner>
    <keep-alive>
      <router-view ref="currRoute"/>
    </keep-alive>

    <!-- Button Bar -->
    <StarBottomInfoBar
      v-if="stepNums.length > 0"
      @click="submit"
      :goFlight="goFlight"
      :backFlight="backFlight"
      :searchInfo="rawSearchInfo"
      :paxList="paxList"
      :currency="currency"
    />
  </div>
</template>
<script>
import StarBanner from '@/components/StarBanner';
import StarBreadCrumb from '@/components/StarBreadCrumb';
import StarStepsIndicator from '@/components/StarStepsIndicator';
import StarBottomInfoBar from '@/components/StarBottomInfoBar';

export default {
  components: {
    StarBanner,
    StarBreadCrumb,
    StarStepsIndicator,
    StarBottomInfoBar,
  },

  data() {
    return {
      //breadCrumb
      linkData: [
        { name: '首頁', route: '/' },
        { name: '網路購票', route: '/booking' },
      ],
      //booking 步驟順序
      stepList: [
        'selectPrice',
        'paxInfo',
        'customizedServices',
        'payment',
      ],
    };
  },

  computed: {
    stepNums() {
      let stepNums = [];
      let currStep = this.stepList.find(item => this.$route.name.includes(item));

      if(currStep) {
        for (let i = 1; i <= this.stepList.indexOf(currStep) + 1 ; i++) {
          stepNums.push(i);
        }
      }
      return stepNums;
    },
    rawSearchInfo() {
      return this.$store.state.Booking.rawSearchInfo;
    },
    goFlight() {
      return this.$store.state.Booking.goFlight;
    },
    backFlight() {
      return this.$store.state.Booking.backFlight;
    },
    paxList() {
      return this.$store.state.Booking.paxList;
    },
    currency() {
      return this.$store.state.Booking.currency;
    }
  },
  methods: {
    submit() {
      this.$refs.currRoute.submit();
    }
  }
};
</script>
