<template>
  <div>
    <div class="container">
      <!-- TITLE AREA -->
      <section class="mb-4 mb-lg-6">
        <h2 class="text-primary mb-4">{{$t('lb_input_pax_info')}}</h2>
        <p>{{$t('lb_input_pax_info_detail')}}</p>
        <button class="btn btn-link text-gold pl-0">
          <u>{{$t('url_join_ffp')}}</u>
          <img src="~@/assets/btn-next-s.svg" alt class="vertical-middle pl-2">
        </button>
      </section>
      <!-- <h1>PAXList</h1>
      {{PAXList}}
      <br>
      <h1>contactList</h1>
      {{contactList}}
      <br>
      <h1>adtPaxList</h1>
      {{adtPaxList}}
      <br>
      {{adtOptions}}-->
      <!-- INFO BOX -->
      <StarInfo class="rounded mb-6" bg="dark">
        <template slot="info-content">
          <strong class="mb-2">{{$t('note_pax_nm_info')}}</strong>
          {{$t('note_pax_nm_info_detail')}}
        </template>
      </StarInfo>
      <ValidationObserver ref="paxinfo">
        <!-- PAX INFO INPUT -->
        <div slot-scope="{ invalid }">
          <div :key="index" v-for="(item, index) in PAXList">
            <StarPaxInputGroupADT v-if="item.paxType === 'ADT'" v-model="PAXList[index]"/>
            <StarPaxInputGroupCHD v-if="item.paxType === 'CHD'" v-model="PAXList[index]"/>
            <StarPaxInputGroupINF
              v-if="item.paxType === 'INF'"
              v-model="PAXList[index]"
              :carerOptions="adtOptions"
              :warnStatus="isInfNumExceed"
            />
          </div>

          <!-- CONTACT -->
          <h1 class="text-primary mb-3 mt-1">{{$t('lb_contact_info')}}</h1>
          <p class="mb-4">{{$t('lb_contact_info_detail')}}</p>
          <div :key="'contact' + index" v-for="(item,index) in contactList">
            <StarContactInput
              v-model="contactList[index]"
              :contactOptions="[...adtOptions,{label: '自訂聯絡人',value: 'custom'}]"
            />
          </div>
        </div>
      </ValidationObserver>
    </div>
  </div>
</template>
<script>
  import StarInfo from '@/components/common/StarInfo';
  import StarPaxInputGroupADT from '@/components/StarPaxInputGroups/ADT';
  import StarPaxInputGroupCHD from '@/components/StarPaxInputGroups/CHD';
  import StarPaxInputGroupINF from '@/components/StarPaxInputGroups/INF';
  import StarContactInput from '@/components/StarContactInput';
  import StarBottomInfoBar from '@/components/StarBottomInfoBar';
  import { ValidationObserver } from 'vee-validate';

  export default {
    name: 'PaxInfo',

    components: {
      StarInfo,
      StarPaxInputGroupADT,
      StarPaxInputGroupCHD,
      StarPaxInputGroupINF,
      StarContactInput,
      StarBottomInfoBar,
      ValidationObserver,
    },

    data() {
      return {
        PAXList: [],
        contactList: [],
      };
    },

    computed: {
      isInfNumExceed() {
        return this.rawSearchInfo.pax.inf >= 2;
      },

      goFlight: {
        set(val) {
          this.$store.commit('Booking/SET_GO_FLIGHT', val);
        },
        get() {
          return this.$store.state.Booking.goFlight;
        },
      },

      backFlight: {
        set(val) {
          this.$store.commit('Booking/SET_BACK_FLIGHT', val);
        },
        get() {
          return this.$store.state.Booking.backFlight;
        },
      },

      allPaxNum() {
        return this.$store.getters['Booking/GET_ALL_PAX_NUM'];
      },

      rawSearchInfo() {
        return this.$store.state.Booking.rawSearchInfo;
      },

      adtPaxList() {
        return this.PAXList.filter((item) => item.paxType === 'ADT');
      },

      adtOptions() {
        return this.adtPaxList.map((item, index) => {
          return {
            label: `旅客${index + 1} ${item.firstName}/${item.lastName}`,
            value: index,
          };
        });
      },
    },

    created() {
      this.PAXList = this.$store.state.Booking.paxList;
      this.contactList = this.$store.state.Booking.contactList;
      if (this.PAXList.length < 1) {
        this.PAXList = this.initPAXList();
        this.contactList = this.initContactList();
      }
    },

    methods: {
      initPAXList() {
        let { adt, smallChd, bigChd, inf } = this.rawSearchInfo.pax;
        let ADTnum = adt;
        let CHDnum = bigChd + smallChd;
        let INFnum = inf;
        let PAXnum = ADTnum + CHDnum + INFnum;
        let PaxList = [];

        for (let i = 0; i < PAXnum; i++) {
          PaxList.push({ id: 'PAX' + (i + 1) });
          if (ADTnum > 0) {
            PaxList[i] = {
              id: i + 1,
              paxType: 'ADT',
              title: null,
              lastName: null,
              firstName: null,
              memberCard: null,
              noFirstName: false,
              hasFirstName: true,
            };
            ADTnum--;
            continue;
          }

          if (CHDnum > 0) {
            PaxList[i] = {
              id: i + 1,
              paxType: 'CHD',
              title: null,
              lastName: null,
              firstName: null,
              memberCard: null,
              birthDay: null,
              noFirstName: false,
              hasFirstName: true,
            };
            CHDnum--;
            continue;
          }

          if (INFnum > 0) {
            PaxList[i] = {
              id: i + 1,
              paxType: 'INF',
              title: null,
              lastName: null,
              firstName: null,
              memberCard: null,
              birthDay: null,
              carer: 0,
              noFirstName: false,
              hasFirstName: true,
            };
            INFnum--;
          }
        }
        return PaxList;
      },

      initContactList() {
        return [
          {
            id: 1,
            contact: null,
            firstName: null,
            lastName: null,
            isSmsNotify: false,
            hasOtherNumbers: false,
            isEdm: false,
            email: null,
            phone: {
              countryCode: null,
              number: null,
            },
            homeNumber: {
              areaCode: null,
              number: null,
            },
            officeNumber: {
              areaCode: null,
              number: null,
              ext: null,
            },
          },
        ];
      },

      getadtPaxList() {
        let list = [];
        for (let i = 0; i < this.rawSearchInfo.pax.adt; i++) {
          list.push({ label: `旅客${i + 1}`, value: i });
        }
        return list;
      },

      sendPAXInfo() {
        //set pax and contact data in store
        this.$store.commit('Booking/SET_PAX_LIST', this.PAXList);

        // if it has custom contact, directly save to store
        // if it has selected contact, mutate firstName and lastName then save to store
        const contactValue = this.contactList[0].contact;
        if (contactValue === 'custom') {
          this.$store.state.Booking.contactList = this.contactList;
        } else {
          this.contactList[0].firstName = this.PAXList[contactValue].firstName;
          this.contactList[0].lastName = this.PAXList[contactValue].lastName;
          this.$store.commit('Booking/SET_CONTACT_LIST', this.contactList);
        }
      },

      submit() {
        this.$refs.paxinfo.validate().then((validateStatus) => {
          if (validateStatus) {
            this.sendPAXInfo();
            const { cartId, airOfferId } = this.$store.state.Booking;
            const { paxList: pax, contactList: contact } = this.$store.state.Booking;
            this.$store.dispatch('Booking/UPDATE_PAX_INFO', {
              cartId,
              airOfferId,
              pax,
              contact,
            })
              .then(() => this.$router.push('/booking/Payment'));
          } else {
            alert('格式驗證未過');
          }
        });
      },

    },
  };
</script>
