<template>
  <div class="container">
    <section class="mb-5 mb-lg-6">
      <div class="row">
        <div class="col-12">
          <h2 class="text-brown">{{$t('lb_view_booking')}}</h2>
          <p class="pb-0">{{$t('note_pay')}}</p>
        </div>
      </div>
    </section>

    <!-- flight detail -->
    <section class="mb-6">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between mb-3 mb-lg-4 align-items-center">
            <h3 class="text-brown mb-0">{{$t('lb_flight_info')}}</h3>
            <a
              href="#"
              @click.prevent="hasFlightDetail = !hasFlightDetail"
              class="d-flex align-items-center"
            >
              <p class="mb-0 mr-2" v-if="!hasFlightDetail">展開詳細資訊</p>
              <p class="mb-0 mr-2" v-if="hasFlightDetail">{{$t('btn_hidden_chart')}}</p>
              <span class="icon-show" :class="{'hide': hasFlightDetail}"></span>
            </a>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <StarFlightDetail
                :isShow="hasFlightDetail"
                :depAirport="rawSearchInfo.depAirport"
                :arrAirport="rawSearchInfo.arrAirport"
                :flight="goFlight"
                type="go"
              ></StarFlightDetail>
            </div>
            <div class="col-12 col-lg-6" v-if="rawSearchInfo.isReturn">
              <StarFlightDetail
                :isShow="hasFlightDetail"
                :depAirport="rawSearchInfo.arrAirport"
                :arrAirport="rawSearchInfo.depAirport"
                :flight="backFlight"
                type="back"
              ></StarFlightDetail>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- paxInfo -->
    <section class="mb-5" v-if="paxList">
      <div class="row">
        <div class="col-12">
          <h3 class="text-brown mb-3">{{$t('lb_pax_info')}}</h3>
          <div class="row">
            <div class="col-12 paxinfo-wrapper" v-for="(item, index) in paxList" :key="item.id">
              <StarPaxInfoBoxADT v-if="item.paxType === 'ADT'" :data="item" :index="index + 1"/>
              <StarPaxInfoBoxCHD v-if="item.paxType === 'CHD'" :data="item" :index="index + 1"/>
              <StarPaxInfoBoxINF
                v-if="item.paxType === 'INF'"
                :data="item"
                :index="index + 1"
                :carer="paxList[item.carer]"
              />
            </div>
            <div class="col-12 clearfix">
              <button
                class="btn btn-link text-gold float-right p-0"
                type="button"
                @click="editInfo"
              >修改旅客及聯絡資訊</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contactInfo -->
    <section class="mb-5" v-if="contactList.length !== 0">
      <div class="row">
        <div class="col-12">
          <h3 class="text-brown mb-3">{{$t('lb_contact_info')}}</h3>
          <div class="row">
            <div class="col-12 paxinfo-wrapper">
              <StarPaxInfoBoxContact
                v-for="(contact, id) in contactList"
                :key="id"
                :data="contact"
              ></StarPaxInfoBoxContact>
            </div>
            <div class="col-12 clearfix">
              <button
                class="btn btn-link text-gold float-right p-0"
                type="button"
                @click="editInfo"
              >修改旅客及聯絡資訊</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- flight fee detail -->
    <section>
      <div class="row mt-7">
        <div class="col-12">
          <div class="d-flex justify-content-between mb-3 mb-lg-4 align-items-center">
            <h3 class="text-brown mb-0">{{$t('lb_price')}}</h3>
            <a
              href="#"
              @click.prevent="hasFeeDetail = !hasFeeDetail"
              class="d-flex align-items-center"
            >
              <p class="mb-0 mr-2" v-if="!hasFeeDetail">展開詳細資訊</p>
              <p class="mb-0 mr-2" v-if="hasFeeDetail">{{$t('btn_hidden_chart')}}</p>
              <span class="icon-show" :class="{'hide': hasFeeDetail}"></span>
            </a>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6" v-for="(PAX, index) in paxList" :key="PAX.id">
              <StarPaxTotalFee 
                :isShow="hasFeeDetail"
                :data="PAX"
                :index="index + 1"
                :currency="currency"></StarPaxTotalFee>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5 mt-2">
        <div class="col-12">
          <div
            class="bg-iron rounded p-3 p-lg-5 d-block d-lg-flex justify-content-between text-white align-items-center"
          >
            <div class="mb-3 mb-lg-0">
              <div class="strong">{{$t('lb_pax_total_price')}}</div>
              <div class="pt-1">{{$t('note_amount')}}</div>
            </div>
            <div class="h1 mb-0 d-block d-lg-flex align-items-center">
              <div class="strong mr-2 d-inline-block">TWD</div>
              <div class="d-inline-block">{{ $n(24695) }}</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- credit card -->
    <section class="mb-5 mb-lg-0">
      <div class="row mt-7">
        <div class="col-12">
          <h3 class="text-brown">{{$t('lb_credit_card_pay')}}</h3>
          <div class="mb-5">
            <p class="mb-0 mt-1">提醒您，使用信用卡付款時，可能需支付不可退回服務費。您的信用卡公司亦可能會向您收取海外刷卡手續費以及貨幣兌換手續費。</p>
            <p class="mb-0 mt-2">{{$t('lb_title_pay_title')}}</p>
            <img
              src="~@/assets/credit-card-list@2x.png"
              alt
              class="d-block pt-2"
              style="width: 270px;"
            >
          </div>
        </div>
      </div>

      <div class="row">
        <StarInput
          class="col-12 col-lg-4 mb-3"
          name="card-number"
          :placeholder="$t('hint_credit_card_number')"
          aria-label
          :isDisabled="false"
          :title="$t('lb_credit_card_number')"
          :max-length="19"
          type="email"
          v-model="creditcard.number"
          :fieldName="$t('lb_credit_card_number')"
          rules="required|credit_card"
          :formatter="formatCreditCard"
        >
          <template slot="tips">this is required</template>
        </StarInput>
      </div>

      <div class="row">
        <StarInput
          class="col-12 col-lg-4 mb-3"
          name="name"
          :placeholder="$t('hint_card_holder')"
          aria-label
          :isDisabled="false"
          :title="$t('lb_card_holder')"
          type="text"
          v-model="creditcard.name"
          :fieldName="$t('lb_card_holder')"
          rules="required|alpha"
          :formatter="upperCase"
        ></StarInput>
      </div>

      <div class="row">
        <div class="col-12">
          <strong class="mb-2 d-block">{{$t('lb_expiration_date')}}</strong>
          <div class="row">
            <div class="col-6 col-lg-2">
              <StarDropdown
                :options="monthList"
                v-model="creditcard.validDate.month"
                :maxHeight="300"
                :title="$t('lb_month')"
                placeholder="month"
              ></StarDropdown>
            </div>
            <div class="col-6 col-lg-2">
              <StarDropdown
                :options="yearList"
                v-model="creditcard.validDate.year"
                :maxHeight="300"
                :title="$t('lb_year')"
                placeholder="year"
              ></StarDropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <StarInput
          class="col-6 col-lg-2 mb-3"
          name="valid-date"
          :placeholder="$t('hint_ccv')"
          aria-label
          :isDisabled="false"
          :title="$t('lb_ccv')"
          :max-length="3"
          type="tel"
          v-model="creditcard.cvc"
        ></StarInput>
        <div class="col-12 col-lg-4 pl-3 pl-lg-0">
          <StarInfo>
            <template slot="info-content">{{$t('lb_ccv_detl')}}</template>
          </StarInfo>
        </div>
      </div>
    </section>
    <!-- terms -->
    <section class="mt-3 mb-7">
      <div class="row">
        <div class="col-12">
          <strong class="mb-3 d-block">{{$t('lb_title_terms_conditions')}}</strong>
          <div class="bg-ivory-light">
            <ul class="list-unstyled px-3 px-lg-6 py-3 d-flex flex-wrap">
              <li class="w-100 w-lg-50 p-1">
                <a href="#">{{$t('url_fare_detl')}}</a>
              </li>
              <li class="w-100 w-lg-50 p-1">
                <a href="#">{{$t('url_dangerous_goods')}}</a>
              </li>
              <li class="w-100 w-lg-50 p-1">
                <a href="#">{{$t('url_conditions_carriage')}}</a>
              </li>
              <li class="w-100 w-lg-50 p-1">
                <a href="#">{{$t('url_extra_leg_space')}}</a>
              </li>
              <li class="w-100 w-lg-50 p-1">
                <a href="#">{{$t('url_conditions_of_use')}}</a>
              </li>
              <li class="w-100 w-lg-50 p-1">
                <a href="#">{{$t('url_baggage_allowance')}}</a>
              </li>
            </ul>
          </div>
          <div>
            <input type="checkbox" id="privacy" v-model="isPrivacy">
            <label for="privacy">
              <span>{{$t('checkbox_agree')}}</span>
            </label>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import StarPaxInfoBoxADT from '@/components/StarPaxInfoGroups/ADT';
import StarPaxInfoBoxCHD from '@/components/StarPaxInfoGroups/CHD';
import StarPaxInfoBoxINF from '@/components/StarPaxInfoGroups/INF';
import StarPaxInfoBoxContact from '@/components/StarPaxInfoGroups/Contact';
import StarPaxTotalFee from '@/components/StarPaxTotalFee';
import StarInfo from '@/components/common/StarInfo';
import StarInput from '@/components/common/StarInput';
import StarDropdown from '@/components/common/StarDropdown';
import StarBottomInfoBar from '@/components/StarBottomInfoBar';
import StarFlightDetail from '@/components/StarFlightDetail';

export default {
  created() {
    this.yearList = this.getYearList();
    this.$store.dispatch('Booking/GET_CART_INFO', this.$store.state.Booking.cartId);
  },
  components: {
    StarFlightDetail,
    StarPaxInfoBoxADT,
    StarPaxInfoBoxCHD,
    StarPaxInfoBoxINF,
    StarPaxInfoBoxContact,
    StarPaxTotalFee,
    StarInfo,
    StarInput,
    StarDropdown,
    StarBottomInfoBar,
  },
  data() {
    return {
      hasFlightDetail: false,
      hasFeeDetail: false,
      // creditCard
      creditcard: {
        number: null,
        name: null,
        validDate: {
          month: null,
          year: null,
        },
        cvc: null,
        email: null,
      },
      monthList: [
        { label: '01', value: 1 },
        { label: '02', value: 2 },
        { label: '03', value: 3 },
        { label: '04', value: 4 },
        { label: '05', value: 5 },
        { label: '06', value: 6 },
        { label: '07', value: 7 },
        { label: '08', value: 8 },
        { label: '09', value: 9 },
        { label: '10', value: 10 },
        { label: '11', value: 11 },
        { label: '12', value: 12 },
      ],
      yearList: [],
      // privacy
      isPrivacy: false,
    };
  },
  watch: {
    // creditcard: {
    //   handler(val) {
    //     if (val.number) {
    //       let newVal = val.number
    //         .replace(/[^\d]/g, '')
    //         .replace(/(\d{4})(?=\d)/g, '$1-');
    //       this.creditcard.number = newVal;
    //     }
    //   },
    //   deep: true,
    // },
  },
  computed: {
    goFlight: {
      set(val) {
        this.$store.commit('Booking/SET_GO_FLIGHT', val);
      },
      get() {
        return this.$store.state.Booking.goFlight;
      },
    },

    backFlight: {
      set(val) {
        this.$store.commit('Booking/SET_BACK_FLIGHT', val);
      },
      get() {
        return this.$store.state.Booking.backFlight;
      },
    },

    allPaxNum() {
      return this.$store.getters['Booking/GET_ALL_PAX_NUM'];
    },

    rawSearchInfo() {
      return this.$store.state.Booking.rawSearchInfo;
    },

    paxList() {
      return this.$store.getters['Booking/GET_PAX_LIST'];
    },

    contactList() {
      console.log(this.$store.state.Booking.cartInfo.contact);
      return this.$store.state.Booking.cartInfo.contact;
      // return this.$store.state.Booking.contactList;
    },
    currency() {
      return this.$store.state.Booking.currency;
    }
  },
  methods: {
    getYearList() {
      const currYear = new Date().getFullYear();
      const yearList = [];
      for (let i = 0; i < 20; i++) {
        yearList.push({ label: currYear + i, value: currYear + i });
      }
      return yearList;
    },
    pay() {
      this.$store.state.creditCard = this.creditCard;
      this.$router.push('/booking/Completed');
    },
    submit() {
      this.pay();
    },
    editInfo() {
      this.$router.push('/booking/PaxInfo');
    },
    formatCreditCard(val) {
      const newVal = val.replace(/[^\d]/g, '').replace(/(\d{4})(?=\d)/g, '$1-');
      return newVal;
    },
  },
};
</script>

<style lang="scss">
.icon-show {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url('~@/assets/btn-increase-s.svg');
  &.hide {
    background-image: url('~@/assets/btn-decrease-s.svg');
  }
}
.paxinfo-wrapper,
.contactor-wrapper {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}
</style>
