<template>
  <div>
    <!-- 行程表 -->
    <div class="bg-ivory-light pt-5 pt-lg-6">
      <div class="container">
        <h2 class="text-primary mb-4">{{$t("lb_title_svc")}}</h2>
        <div class="row">
          <div class="col-12 col-lg-10">
            <p class="mb-5 mb-lg-7">{{$t("lb_pax_svc_detl")}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- items -->
            <div v-for="(item, index) in scheduleDataArr" :key="index">
              <StarScheduleItem class="mb-5 mb-lg-7" date="1月26日, 週日" :scheduleData="item.data"/>
            </div>
            <!-- note -->
            <StarInfo class="rounded mt-0 mb-5 my-lg-6" :bg="'bg-ivory'">
              <template slot="info-content">
                <strong class="mb-2">{{$t("note_hint_to_managae_trip")}}</strong>
                {{$t("note_hint_to_managae_trip_detl")}}
              </template>
            </StarInfo>
          </div>
        </div>
      </div>

      <!-- button -->
      <div class="border border-left-0 border-right-0">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 offset-lg-6">
              <router-link
                tag="button"
                class="pill-btn pill-btn-secondary btn-long mt-5 mb-3 my-lg-6"
                to="/"
              >
                <strong>{{$t("btn_back_to_main_page")}}</strong>
              </router-link>
            </div>
            <div class="col-12 col-lg-3">
              <button class="pill-btn pill-btn-primary btn-long my-0 mb-5 my-lg-6">
                <strong>{{$t("btn_manager_trip")}}</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import StarInfo from '@/components/common/StarInfo';
import StarScheduleItem from '@/components/StarScheduleItem';

export default {
  components: {
    StarInfo,
    StarScheduleItem,
  },
  data() {
    return {
      scheduleDataArr: [
        {
          date: '12月8日, 週六',
          data: [
            {
              imgUrls: [
                './images/schedule-item/img-01.jpg',
                './images/schedule-item/img-01@2x.jpg',
                './images/schedule-item/img-01@3x.jpg',
              ],
              time: '14:30',
              title: this.$t('lb_pax_svc_online_ckin'),
              content: this.$t('lb_web_pax_svc_online_ckin_detl'),
            },
          ],
        },

        {
          date: '12月10日, 週一',
          data: [
            {
              imgUrls: [
                './images/schedule-item/img-02.jpg',
                './images/schedule-item/img-02@2x.jpg',
                './images/schedule-item/img-02@3x.jpg',
              ],
              time: '11:30',
              title: this.$t('lb_pax_svc_ctr_ckin'),
              content: this.$t('lb_pax_svc_ctr_ckin_detl'),
            },
            {
              imgUrls: [
                './images/schedule-item/img-03.jpg',
                './images/schedule-item/img-03@2x.jpg',
                './images/schedule-item/img-03@3x.jpg',
              ],
              time: '14:30',
              title: this.$t('lb_pax_svc_dept'),
              content: this.$t('lb_pax_svc_dept_detl'),
            },
            {
              imgUrls: [
                './images/schedule-item/img-04.jpg',
                './images/schedule-item/img-04@2x.jpg',
                './images/schedule-item/img-04@3x.jpg',
              ],
              time: '16:40',
              title: this.$t('lb_pax_svc_arvl'),
              content: this.$t('lb_pax_svc_arvl_detl'),
            },
          ],
        },
      ],
    };
  },
};
</script>
