<template>
  <div>
    <!-- CONTENT -->
    <div class="container">
      <section class="mb-6 mb-md-7">
        <!-- Header -->
        <div class="row">
          <div class="col-12">
            <h2 class="text-brown mb-3" tabindex="0">{{$t('lb_title_plan')}}</h2>
          </div>
        </div>
        <!-- Search Flight -->
        <div class="row mb-4">
          <div class="col-12 col-md-12 col-lg-8">
            <div class="row">
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <div class="flight-dropdown border border-ivory-dark">
                  <label class="small px-3 pt-3 mb-0" for="airportCode">{{$t('lb_origin')}}</label>
                  <div>
                    <StarAirportSelector
                      data-test="go-airport-selector"
                      ref="depAirport"
                      :options="options"
                      :option="rawSearchInfo.depAirport"
                      :value="rawSearchInfo.depAirport"
                      v-on:selected="selectDepAirport"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="flight-dropdown border border-ivory-dark">
                  <label class="small px-3 pt-3 mb-0" for="airportCode">{{$t('lb_destination')}}</label>
                  <div>
                    <StarAirportSelector
                      data-test="back-airport-selector"
                      ref="arrAirport"
                      :options="options"
                      :option="rawSearchInfo.arrAirport"
                      :value="rawSearchInfo.arrAirport"
                      v-on:selected="selectArrAirport"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Radios -->
        <div class="row">
          <div class="col-12">
            <fieldset class="mb-4">
              <span class="mr-6">
                <input
                  class="radio"
                  type="radio"
                  name="trip"
                  id="round"
                  :value="true"
                  v-model="rawSearchInfo.isRoundTrip"
                  checked
                >
                <label for="round">{{$t('lb_roundtrip')}}</label>
              </span>
              <span>
                <input
                  class="radio"
                  type="radio"
                  name="trip"
                  id="single"
                  :value="false"
                  v-model="rawSearchInfo.isRoundTrip"
                >
                <label for="single">{{$t('lb_oneway')}}</label>
              </span>
            </fieldset>
          </div>
        </div>

        <!-- DatePicker -->
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8">
            <!--來回-->
            <div class="row" v-if="rawSearchInfo.isRoundTrip">
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <calendar
                  data-test="go-calendar"
                  v-model="rawSearchInfo.goDate"
                  :format="format"
                  :title="$t('lb_dept_date')"
                  :placeholder="placeholder"
                  :pane="2"
                  :range-bus="getBus"
                  :range-status="1"
                ></calendar>
              </div>
              <div class="col-12 col-md-6">
                <calendar
                  data-test="back-calendar"
                  v-model="rawSearchInfo.backDate"
                  :format="format"
                  :title="$t('lb_return_date')"
                  :placeholder="placeholder"
                  :pane="2"
                  :isDisabled="true"
                  :range-bus="getBus"
                  :range-status="2"
                ></calendar>
              </div>
            </div>
            <!--單程-->
            <div class="row no-gutter" v-if="!rawSearchInfo.isRoundTrip">
              <div class="col-12 col-md-6">
                <calendar
                  v-model="rawSearchInfo.goDate"
                  :format="format"
                  :title="$t('lb_dept_date')"
                  :placeholder="placeholder"
                  :pane="2"
                  :range-bus="getBus"
                  :range-status="1"
                ></calendar>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mb-3">
        <!-- Header -->
        <h2 class="text-brown mb-3" tabindex="0">{{$t('lb_how_many_pax')}}</h2>
        <div class="row mb-2 mb-lg-3">
          <p class="visual-hidden" aria-live="polite">
            You have selected {{rawSearchInfo.pax.adt}} adult passengers,
            {{rawSearchInfo.pax.inf}} infant passengers,
            {{rawSearchInfo.pax.smallChd}} small child passengers,
            {{rawSearchInfo.pax.bigChd}} big child passengers,
            total {{totalPax}} passengers.
          </p>
          <!-- ADT Stepper -->
          <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
            <StarPaxStepper
              name="adult"
              data-test="adt-pax-stepper"
              class="border border-ivory-dark p-3"
              v-model="rawSearchInfo.pax.adt"
              :min="1"
              :max="9"
              :maxTotal="totalPax"
            >
              <template slot="title">
                <div class="d-flex flex-column align-items-start justify-content-center">
                  <span>{{$t('lb_adt')}}</span>
                  <small class="d-block">{{$t('lb_adt_rule')}}</small>
                </div>
              </template>
            </StarPaxStepper>
          </div>

          <!-- INF Stepper -->
          <div class="col-12 col-md-6 col-lg-4">
            <StarPaxStepper
              name="infant"
              data-test="inf-pax-stepper"
              class="border border-ivory-dark p-3"
              v-model="rawSearchInfo.pax.inf"
              :min="0"
              :max="9"
              :maxTotal="totalPax"
            >
              <template slot="title">
                <div class="d-flex flex-column align-items-start justify-content-center">
                  <span>{{$t('lb_inf')}}</span>
                  <small class="d-block">{{$t('lb_inf_rule')}}</small>
                </div>
              </template>
            </StarPaxStepper>
          </div>
        </div>
        <div class="row">
          <!-- SMALL CHD Stepper -->
          <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
            <StarPaxStepper
              name="small-child"
              data-test="small-chd-pax-stepper"
              class="border border-ivory-dark p-3"
              v-model="rawSearchInfo.pax.smallChd"
              :min="0"
              :max="9"
              :maxTotal="totalPax"
            >
              <template slot="title">
                <div class="d-flex flex-column align-items-start justify-content-center">
                  <span>{{$t('lb_chd')}}</span>
                  <small class="d-block">{{$t('lb_kid_rule')}}</small>
                </div>
              </template>
            </StarPaxStepper>
          </div>
          <!-- CHD Stepper -->
          <div class="col-12 col-md-6 col-lg-4">
            <StarPaxStepper
              name="big-child"
              data-test="big-chd-pax-stepper"
              class="border border-ivory-dark p-3"
              v-model="rawSearchInfo.pax.bigChd"
              :min="0"
              :max="9"
              :maxTotal="totalPax"
            >
              <template slot="title">
                <div class="d-flex flex-column align-items-start justify-content-center">
                  <span>{{$t('lb_chd')}}</span>
                  <small class="d-block">{{$t('lb_chd_rule')}}</small>
                </div>
              </template>
            </StarPaxStepper>
          </div>
        </div>
      </section>

      <section class="mb-6 mb-md-7">
        <div class="row">
          <button class="btn btn-link text-gold" @click="isModalOpen = true">
            <img src="@/assets/ic-info.svg" alt="info icon" class="mr-2">
            <span class="align-middle" v-html="$t('btn_pax_rule')"></span>
          </button>
        </div>
      </section>

      <section class="mb-4 mb-md-7">
        <h2 class="text-brown mb-3" tabindex="0">{{$t('lb_which_cabin')}}</h2>
        <div class="row">
          <div class="col-12 col-md-4 mb-2 mb-md-0" v-for="(el, i) in cabins" :key="i">
            <div class="border border-ivory-dark p-4 cabin">
              <input
                class="radio"
                type="radio"
                name="cabin"
                :id="`cabin${el.code}`"
                :value="el.code"
                v-model="rawSearchInfo.cabin"
              >
              <label :for="`cabin${el.code}`" class="w-100">{{ el.name }}</label>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Button Bar -->
    <div class="border border-left-0 border-right-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-3 offset-lg-9">
            <button class="pill-btn pill-btn-primary btn-long my-5 my-md-6" @click="searchFlight">
              <strong>{{$t('btn_select_flt')}}</strong>
              <img src="@/assets/btn-r-arrow-white.svg" alt class="vertical-baseline ml-2">
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pax limited info -->
    <StarModal :title="$t('lb_pax_rule')" v-model="isModalOpen" :hasConfirmBtn="true">
      <template slot="content">
        <div class="w-100">
          <div class="content-cards py-0 py-md-6">
            <!-- INF -->
            <div class="row mb-4">
              <div class="col-12 col-md-6">
                <p class="mb-1 font-weight-bold">{{$t('lb_inf_on_knee')}}</p>
                <small class="text-iron" v-html="$t('lb_pax_rule_1')"/>
              </div>
              <div class="col-12 col-md-6 text-center">
                <img src="@/assets/group-3.svg" alt="A homo sapien with its small form">
              </div>
            </div>
            <!-- CHD -->
            <div class="row mb-4">
              <div class="col-12 col-md-6">
                <p class="mb-1 font-weight-bold">{{$t('lb_chd')}}</p>
                <small class="text-iron" v-html="$t('lb_pax_rule_3')"/>
              </div>
              <div class="col-12 col-md-6 text-center">
                <img src="@/assets/group-11.svg" alt="A homo sapiens with its small form">
              </div>
            </div>
            <!-- INF & ADT -->
            <div class="row mb-4">
              <div class="col-12 col-md-6">
                <p class="mb-1 font-weight-bold">{{$t('lb_inf_chd')}}</p>
                <small class="text-iron" v-html="$t('lb_pax_rule_2')"/>
              </div>
              <div class="col-12 col-md-6 text-center">
                <img src="@/assets/group-9.svg" alt="A homo sapiens with its small form">
              </div>
            </div>

            <div class="bg-ivory-light d-flex justify-content-center py-3">
              <div class="mx-1 mr-md-3 text-center text-md-left">
                <img
                  src="@/assets/ic-man.svg"
                  alt="A fully grown homo sapiens"
                  class="mx-2 mb-1 mr-md-2 mb-md-0"
                >
                <div class="d-inline-block align-middle">
                  <div class="text-iron font-weight-normal">{{$t('lb_adt')}}</div>
                  <div class="tiny">{{$t('lb_adt_rule')}}</div>
                </div>
              </div>
              <div class="mx-1 mr-md-3 text-center text-md-left">
                <img
                  src="@/assets/ic-child.svg"
                  alt="A fully grown homo sapiens"
                  class="mx-2 mb-1 mr-md-2 mb-md-0"
                >
                <div class="d-inline-block align-middle">
                  <div class="text-iron font-weight-normal">{{$t('lb_chd')}}</div>
                  <div class="tiny">{{$t('lb_chd_rule')}}</div>
                </div>
              </div>
              <div class="mx-1 mr-md-3 text-center text-md-left">
                <img
                  src="@/assets/ic-kid.svg"
                  alt="A fully grown homo sapiens"
                  class="mx-2 mb-1 mr-md-2 mb-md-0"
                >
                <div class="d-inline-block align-middle">
                  <div class="text-iron font-weight-normal">{{$t('lb_chd')}}</div>
                  <div class="tiny">{{$t('lb_kid_rule')}}</div>
                </div>
              </div>
              <div class="mx-1 mr-md-3 text-center text-md-left">
                <img
                  src="@/assets/ic-baby.svg"
                  alt="A fully grown homo sapiens"
                  class="mx-2 mb-1 mr-md-2 mb-md-0"
                >
                <div class="d-inline-block align-middle">
                  <div class="text-iron font-weight-normal">{{$t('lb_inf')}}</div>
                  <div class="tiny">{{$t('lb_inf_rule')}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </StarModal>
  </div>
</template>

<script>
  import Vue from 'vue';
  import Calendar from '@/components/Calendar';
  import StarPaxStepper from '@/components/StarPaxStepper';
  import StarModal from '@/components/common/StarModal';
  import StarAirportSelector from '@/components/StarAirportSelector';

  export default {
    name: 'SearchFlight',

    components: {
      Calendar,
      StarPaxStepper,
      StarModal,
      StarAirportSelector,
    },

    data() {
      return {
        isModalOpen: false,
        // Calendar
        format: 'yyyy/MM/dd',
        placeholder: this.$t('hint_select'),
        rawSearchInfo: this.$store.getters['Booking/GET_RAW_SEARCH_INFO'],
      };
    },

    computed: {
      maxSearchLimited() {
        //最大可選日期為 1 年 ex: 2018/12/11 ~ 2019/12/10
        const TODAY = new Date();
        return `${TODAY.getFullYear() + 1}/${TODAY.getMonth() +
        1}/${TODAY.getDate() - 1}`;
      },

      totalPax() {
        return (
          this.rawSearchInfo.pax.adt +
          this.rawSearchInfo.pax.smallChd +
          this.rawSearchInfo.pax.bigChd +
          this.rawSearchInfo.pax.inf
        );
      },

      cabins() {
        return this.$store.state.Booking.cabins;
      },

      options() {
        return this.$store.getters['Booking/GET_AIRPORT_OPTIONS'];
      },
    },

    created() {
      this.$store.dispatch('Booking/GET_CABINS', 'zh')
        .catch(err => {
          this.$notify({
            group: 'danger',
            text: err.message,
            duration: -1,
          });
        });

      this.$store.dispatch('Booking/GET_AIRPORTS', 'zh');
      // .then(() => this.getNearbyAirport())
      // .then(() => {
      //   this.rawSearchInfo.depAirport = this.$store.getters[
      //     'Booking/GET_NEARBY_AIRPORT'
      //     ];
      // });

      //For Calendr
      this.bus = new Vue();
    },

    methods: {
      // Calendar
      getBus() {
        return this.bus;
      },

      searchFlight() {
        this.$store.commit('Booking/SET_RAW_SEARCH_INFO', this.rawSearchInfo);
        const SEARCH_INFO = this.$store.getters['Booking/GET_SEARCH_INFO'];
        const IS_ROUND_TRIP = SEARCH_INFO.isRoundTrip;
        const GET_FARE_FAMILY = IS_ROUND_TRIP
          ? 'Booking/GET_ROUND_FARE_FAMILY'
          : 'Booking/GET_SINGLE_FARE_FAMILY';
        const GET_FLIGHTS = IS_ROUND_TRIP
          ? 'Booking/GET_ROUND_FLIGHTS'
          : 'Booking/GET_SINGLE_FLIGHTS';

        this.$store
          .dispatch(GET_FARE_FAMILY, SEARCH_INFO)
          .then(() => {
            return this.$store.dispatch(GET_FLIGHTS, SEARCH_INFO);
          })
          .then(() => this.$router.push('/booking/selectPrice'))
          .catch((err) => console.log(err))
          .finally(() => console.log('complete get flights & farefamily'));
      },

      getGeolocation() {
        return new Promise((resolve, reject) => {
          this.$store.commit('loading', true);
          navigator.geolocation.getCurrentPosition(resolve, () => {
            this.$store.commit('loading', false);
            reject('User Reject GPS');
          });
        });
      },

      async getNearbyAirport() {
        try {
          const position = await this.getGeolocation();
          const { latitude, longitude } = position.coords;
          this.$store.commit('loading', false);
          return this.$store.dispatch('Booking/GET_NEARBY_AIRPORT_CODE', {
            lat: latitude,
            lng: longitude,
          });
        } catch (err) {
          this.$notify({
            group: 'danger',
            text: err,
            duration: -1,
          });
        }
      },

      selectDepAirport(param) {
        this.rawSearchInfo.depAirport = param;
        this.$refs.arrAirport.$el.focus();
      },

      selectArrAirport(param) {
        this.rawSearchInfo.arrAirport = param;
        this.arrAirport = param;
      },
    },
  };
</script>
