<template>
  <div>
    <div class="container">
      <section class="mb-40">
        <!-- Info -->
        <div class="row">
          <div class="col-12">
            <StarBookingInfo v-model="isModalOpen">
              <template slot="dep">
                <!-- cityName and airport code -->
                <span
                  class="h1 text-light mb-0"
                >{{rawSearchInfo.depAirport.cityLocName}} {{rawSearchInfo.depAirport.airportCode}}</span>
                <div style="opacity:0.7;">{{rawSearchInfo.depAirport.airportLocName}}</div>
              </template>
              <template slot="arr">
                <span
                  class="h1 text-light mb-0"
                >{{rawSearchInfo.arrAirport.cityLocName}} {{rawSearchInfo.arrAirport.airportCode}}</span>
                <div style="opacity:0.7;">{{rawSearchInfo.arrAirport.airportLocName}}</div>
              </template>
              <template slot="right">
                <strong class="pl-3 mr-4">
                  <span v-if="rawSearchInfo.isRoundTrip" class="h2">來回</span>
                  <span v-else class="h2">單程</span>
                </strong>
                <strong class="mr-4">
                  <span class="h2">{{currCabinName}}</span>
                </strong>
                <strong>
                  <span class="h2">
                    旅客
                    <span>{{allPaxNum}}</span> 人
                  </span>
                </strong>
              </template>
            </StarBookingInfo>
          </div>
        </div>
      </section>

      <!--出發航班-->
      <section class="go-flight" v-show="!goFlight.isSelected">
        <div class="row">
          <div class="col-12">
            <h2 class="text-brown mb-3">選擇出發航班</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <star-price-swiper
                type="dep"
                :currency="currency"
                :targetDate="rawSearchInfo.goDate"
                :dataList="goFareFamily"
                @pickedDate="selectGoDate"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4 class="mb-3">
              {{formatDate(rawSearchInfo.goDate)}} ｜ {{ rawSearchInfo.depAirport.cityLocName}} 飛往 {{
              rawSearchInfo.arrAirport.cityLocName }}
            </h4>
            <fieldset>
              <template v-for="(goFlight, index) in goFlights">
                <StarPriceList
                  ref="goPriceList"
                  :key="'go' + index + goFlight.flightNo + replaceSlash(goFlight.depDate)"
                  :data="goFlight"
                  :selectedFlight="selectedGoFlight"
                  :currency="currency"
                  type="go"
                  :cheapest="cheapestGoFlightPrice"
                  :flightDetails="goFlightDetails"
                  :depAirportCode="rawSearchInfo.depAirport.airportCode"
                  :arrAirportCode="rawSearchInfo.arrAirport.airportCode"
                  @getFlightDetails="getGoFlightDetails"
                  @selectFlight="selectGoFlight"
                  @toggleFlightDetailModal="hasFlightDetailModal = $event"
                  @toggleCabinClassDetailModal="toggleCabinClassDetailModal"
                />
              </template>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right price-hint mt-2 mt-lg-3 mb-7">所示價格皆已包含機票票價、燃油附加費與機場稅</div>
        </div>
      </section>
      <!-- 已選擇出發航班 -->
      <section class="go-flight-result" v-if="goFlight.isSelected">
        <div class="row">
          <div class="col-12">
            <StarFlightSelectResult
              :flightInfo="goFlight"
              :depAirport="rawSearchInfo.depAirport"
              :arrAirport="rawSearchInfo.arrAirport"
              :currency="currency"
              @resetFlight="goFlight.isSelected = false"
              @toggleFlightDetailModal="hasFlightDetailModal = $event"
              type="go"
            />
          </div>
        </div>
      </section>

      <!--回程航班-->
      <section class="mb-40" v-show="!backFlight.isSelected" v-if="rawSearchInfo.isRoundTrip">
        <div class="row">
          <div class="col-12">
            <h2 class="text-brown mb-3">選擇回程航班</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <!-- price picker -->
              <star-price-swiper
                type="arr"
                :currency="currency"
                :targetDate="rawSearchInfo.backDate"
                :dataList="backFareFamily"
                @pickedDate="selectBackDate"
                :limitDate="rawSearchInfo.goDate"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4 class="mb-3">
              {{formatDate(rawSearchInfo.backDate)}} ｜ {{rawSearchInfo.arrAirport.cityLocName}} 飛往
              {{rawSearchInfo.depAirport.cityLocName}}
            </h4>
            <fieldset>
              <template v-for="(backFlight, index) in backFlights">
                <StarPriceList
                  ref="backPriceList"
                  :key="'back' + index + backFlight.flightNo + replaceSlash(backFlight.depDate)"
                  :selectedFlight="selectedBackFlight"
                  :data="backFlight"
                  :currency="currency"
                  type="back"
                  :cheapest="cheapestBackFlightPrice"
                  :flightDetails="backFlightDetails"
                  :depAirportCode="rawSearchInfo.arrAirport.airportCode"
                  :arrAirportCode="rawSearchInfo.depAirport.airportCode"
                  @getFlightDetails="getBackFlightDetails"
                  @selectFlight="selectBackFlight"
                  :isDisabled="!goFlight.isSelected"
                  @toggleFlightDetailModal="hasFlightDetailModal = $event"
                  @toggleCabinClassDetailModal="toggleCabinClassDetailModal"
                />
              </template>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right price-hint mt-2 mt-lg-3 mb-4 mb-lg-7">所示價格皆已包含機票票價、燃油附加費與機場稅</div>
        </div>
      </section>

      <!-- 已選擇回程航班 -->
      <section class="back-flight-result" v-if="rawSearchInfo.isRoundTrip && backFlight.isSelected">
        <div class="row">
          <div class="col-12">
            <StarFlightSelectResult
              :flightInfo="backFlight"
              :depAirport="rawSearchInfo.arrAirport"
              :arrAirport="rawSearchInfo.depAirport"
              :currency="currency"
              @resetFlight="backFlight.isSelected = false"
              @toggleFlightDetailModal="hasFlightDetailModal = $event"
              type="back"
            />
          </div>
        </div>
      </section>

      <!-- 票價說明 -->
      <div v-show="selectedStatus" class="price-description">
        <h3>票價說明</h3>
        <ol>
          <li>所示價格皆已包含機票票價、燃油附加費與機場稅。</li>
          <li>所示時間皆為當地時間。</li>
          <li>本系統針對來回行程採去回程航段票價分開列計，各航段並非單程票價，僅供計算組合票價之參考，旅客可自行選擇去回航段不同艙等。</li>
          <li>辦理未搭乘機票退費，將按實際已搭乘行程之適用票價計算。</li>
          <li>其他可能隨超額行李或額外服務收取之費用，請參考超過限額行李規定及其他服務費用。</li>
        </ol>
      </div>
    </div>
    <!-- 艙等詳細資訊 -->
    <StarModal
      title="票價詳細資訊"
      v-model="hasCabinClassDetailModal"
      :hasConfirmBtn="false"
      :data="{ currFareFamilyCode, cabinList }"
    >
      <template slot="content" slot-scope="slotProps">
        <Star-cabin-list-modal
          :fareFamilyCode="slotProps.data.currFareFamilyCode"
          :cabinList="slotProps.data.cabinList"
        ></Star-cabin-list-modal>
      </template>
    </StarModal>

    <!-- 航班詳細資訊 -->
    <StarModal title="航班詳細資訊" v-model="hasFlightDetailModal" :hasConfirmBtn="true">
      <template slot="content">
        <Star-flight-detail-modal></Star-flight-detail-modal>
      </template>
    </StarModal>

    <!--編輯訂票條件-->
    <StarBookingModal
      class="text-white"
      v-model="isModalOpen"
      @on-search="searchFlight"
      :cabins="cabinsList"
      :options="optionsList"
    />
  </div>
</template>
<script>
import StarBookingInfo from '@/components/StarBookingInfo';
import StarModal from '@/components/common/StarModal';
import StarCabinListModal from '@/components/modal/StarCabinListModal';
import StarFlightDetailModal from '@/components/modal/StarFlightDetailModal';
import StarPriceSwiper from '@/components/StarPriceSwiper.vue';
import StarPriceList from '@/components/StarPriceList';
import StarFlightSelectResult from '@/components/StarFlightSelectResult';
import StarBookingModal from '@/components/modal/StarBookingModal';

export default {
  name: 'SelectPrice',

  components: {
    StarBookingInfo,
    StarModal,
    StarCabinListModal,
    StarFlightDetailModal,
    StarPriceSwiper,
    StarPriceList,
    StarFlightSelectResult,
    StarBookingModal,
  },

  data() {
    return {
      hasFlightDetailModal: false,
      hasCabinClassDetailModal: false,
      offerId: null,
      currGoFlightDetail: {},
      currBackFlightDetail: {},
      tempGoFlight: {},
      tempBackFlight: {},
      currFareFamilyCode: null,
      cabinList: [
        {
          className: '經濟Save',
          fareFamilyCode: 'ECOMERC',
          price: 8000,
          availableSeat: 0,
          wifi: false,
          luggage: 20,
          milage: 100,
          handluggage: 7,
          seatSelection: false,
          seat: {
            position: '標準',
            info: '12-33 排座位',
          },
          millageCumulative: false,
          allowRefund: 0,
          allowChangePlan: 2888,
          allowChangeFlight: 2888,
          allowMissedRefund: 2888,
        },
        {
          className: '經濟 Standard',
          fareFamilyCode: 'BUSMERC',
          price: 10000,
          availableSeat: 1,
          wifi: true,
          luggage: 20,
          milage: 60,
          handluggage: 7,
          seatSelection: false,
          seat: {
            position: '標準',
            info: '12-33 排座位',
          },
          millageCumulative: true,
          allowRefund: 2888,
          allowChangePlan: 1888,
          allowChangeFlight: 1888,
          allowMissedRefund: 2888,
        },
        {
          className: '經濟 Flex',
          fareFamilyCode: 'ECONOMIC FLEX',
          price: 11825,
          availableSeat: null,
          wifi: true,
          luggage: 30,
          milage: 80,
          handluggage: 7,
          seatSelection: true,
          seat: {
            position: '前排',
            info: '05-33 排座位',
          },
          millageCumulative: true,
          allowRefund: 1888,
          allowChangePlan: 888,
          allowChangeFlight: 888,
          allowMissedRefund: 1888,
        },
        {
          className: '經濟 Flex Plus',
          fareFamilyCode: 'ECONOMIC FLEX PLUS',
          price: 13225,
          availableSeat: 0,
          wifi: true,
          luggage: 30,
          milage: 100,
          handluggage: 7,
          seatSelection: true,
          seat: {
            position: '前排',
            info: '05-33 排座位',
          },
          millageCumulative: true,
          allowRefund: 888,
          allowChangePlan: 0,
          allowChangeFlight: 0,
          allowMissedRefund: 888,
        },
      ],
      goFlight: this.$_.cloneDeep(this.$store.state.Booking.goFlight),
      backFlight: this.$_.cloneDeep(this.$store.state.Booking.backFlight),
      isModalOpen: false
    };
  },

  computed: {
    cabinsList() {
      return this.$store.state.Booking.cabins;
    },

    optionsList() {
      return this.$store.getters['Booking/GET_AIRPORT_OPTIONS'];
    },

    currency() {
      return this.$store.state.Booking.currency;
    },

    goFareFamily() {
      return this.$store.getters['Booking/GET_GO_FARE_FAMILY'];
    },

    backFareFamily() {
      return this.$store.getters['Booking/GET_BACK_FARE_FAMILY'];
    },

    goFlights() {
      return this.$store.getters['Booking/GET_GO_FLIGHTS'];
    },

    backFlights() {
      return this.$store.getters['Booking/GET_BACK_FLIGHTS'];
    },

    allPaxNum() {
      return this.$store.getters['Booking/GET_ALL_PAX_NUM'];
    },

    currCabinName() {
      return this.$store.getters['Booking/GET_CURR_CABIN_NAME'];
    },

    goFlightDetails() {
      return this.$store.state.Booking.goFlightDetails;
    },

    backFlightDetails() {
      return this.$store.state.Booking.backFlightDetails;
    },

    cheapestGoFlightPrice() {
      const PRICE_LIST = this.goFlights.map((item) => item.prices);
      return Math.min(...PRICE_LIST);
    },

    cheapestBackFlightPrice() {
      const PRICE_LIST = this.backFlights.map((item) => item.prices);
      return Math.min(...PRICE_LIST);
    },

    selectedStatus() {
      const IS_ROUND_TRIP = this.rawSearchInfo.isRoundTrip;

      if (IS_ROUND_TRIP) {
        if (this.goFlight.isSelected && this.backFlight.isSelected) {
          return true;
        }
      } else {
        if (this.goFlight.isSelected) {
          return true;
        }
      }
      return false;
    },

    rawSearchInfo(){
      return this.$store.getters['Booking/GET_RAW_SEARCH_INFO'];
    },

    searchInfo() {
      let {
        goDate,
        backDate,
        isRoundTrip,
        depAirport,
        arrAirport,
        cabin,
        pax,
      } = this.rawSearchInfo;

      if (depAirport && arrAirport) {
        return {
          goDate,
          backDate: isRoundTrip ? backDate : null,
          depAirport: depAirport.airportCode,
          arrAirport: arrAirport.airportCode,
          cabin,
          pax: {
            adt: pax.adt,
            chd: pax.bigChd + pax.smallChd,
            inf: pax.inf,
          },
          isRoundTrip,
        };
      }
    },

    selectedGoFlight() {
      if(this.goFlight.depDate) {
        return `go${this.goFlight.flightNo}${this.replaceSlash(this.goFlight.depDate)}${this.goFlight.depTime.split(':').join('')}`;
      }
      return null;
    },

    selectedBackFlight() {
      if(this.backFlight.depDate) {
        return `back${this.backFlight.flightNo}${this.replaceSlash(this.backFlight.depDate)}${this.backFlight.depTime.split(':').join('')}`;
      }
      return null;
    }
  },

  mounted() {
    //TODO need to fetch cabinList detail list and save in store
  },

  created() {
    if(!this.rawSearchInfo.goDate || !this.rawSearchInfo.depAirport) {
      this.$router.push('/booking');
    }
  },

  methods: {
    searchFlight(data) {
      this.$store.commit('Booking/SET_RAW_SEARCH_INFO', data);
      const SEARCH_INFO = this.searchInfo;
      const IS_ROUND_TRIP = this.rawSearchInfo.isRoundTrip;
      const GET_FARE_FAMILY = IS_ROUND_TRIP
        ? 'Booking/GET_ROUND_FARE_FAMILY'
        : 'Booking/GET_SINGLE_FARE_FAMILY';
      const GET_FLIGHTS = IS_ROUND_TRIP
        ? 'Booking/GET_ROUND_FLIGHTS'
        : 'Booking/GET_SINGLE_FLIGHTS';

      this.$store
        .dispatch(GET_FARE_FAMILY, SEARCH_INFO)
        .then(() => {
          return this.$store.dispatch(GET_FLIGHTS, SEARCH_INFO);
        })
        .then(() => {
          this.goFlight = {isSelected: false};
          this.backFlight = {isSelected: false};
          this.tempBackFlight = {};
          this.backFlight = {};
          this.isModalOpen = false;
        })
        .catch((err) => console.log(err))
        .finally(() => {
          console.log('Finish Booking Modal Switch!');
        });
    },

    submit() {
      if (!this.selectedStatus) {
        alert('Please choose your flight!');
        return;
      }

      this.offerId = this.getOfferId();
      const SEARCH_INFO = { ...this.$store.getters['Booking/GET_SEARCH_INFO'] };
      const IS_ROUND_TRIP = this.rawSearchInfo.isRoundTrip;
      SEARCH_INFO.airOfferId = this.offerId;
      SEARCH_INFO.goFlightNo = this.goFlight.flightNo;
      SEARCH_INFO.backFlightNo = IS_ROUND_TRIP
        ? this.backFlight.flightNo
        : null;
      SEARCH_INFO.backDate = IS_ROUND_TRIP ? SEARCH_INFO.backDate : null;

      // create cart & set airOfferId
      this.$store.commit('Booking/SET_AIR_OFFER_ID', this.offerId);
      this.$store
        .dispatch('Booking/CREATE_CART_ID', SEARCH_INFO)
        .then(() => this.$router.push('/booking/paxInfo'));
    },

    replaceSlash(val) {
      return val.replace(/\//g, '');
    },

    //@String date: yyyy/mm/dd
    selectGoDate(date) {
      this.rawSearchInfo.goDate = date;
      // this.$store.commit('Booking/SET_RAW_SEARCH_INFO', this.rawSearchInfo);
      const IS_ROUND_TRIP = this.rawSearchInfo.isRoundTrip;
      const GET_FLIGHTS = IS_ROUND_TRIP
        ? 'Booking/GET_ROUND_FLIGHTS'
        : 'Booking/GET_SINGLE_FLIGHTS';

      if (IS_ROUND_TRIP) {
        if (date > this.rawSearchInfo.backDate) {
          this.rawSearchInfo.backDate = date;
          // this.$store.commit('Booking/SET_RAW_SEARCH_INFO', this.rawSearchInfo);
        }
        this.tempBackFlight = {};
        this.backFlight = { isSelected: false };
        this.$refs.backPriceList.forEach((item) => {
          item.isChecked = false;
          item.checkStatus = false;
        });
      }

      this.$store.dispatch(
        GET_FLIGHTS,
        this.searchInfo,
      );
    },

    //@String date: yyyy/mm/dd
    selectBackDate(date) {
      this.rawSearchInfo.backDate = date;
      // this.$store.commit('Booking/SET_RAW_SEARCH_INFO', this.rawSearchInfo);
      const GET_FLIGHTS = 'Booking/GET_ROUND_FLIGHTS';

      this.$store.dispatch(
        GET_FLIGHTS,
        this.searchInfo,
      );
    },

    getGoFlightDetails(flight) {
      this.tempGoFlight = flight;
      let SEARCH_INFO = { ...this.searchInfo };
      SEARCH_INFO.isReturn = false;
      SEARCH_INFO.goFlightNo = flight.flightNo;

      this.$store.dispatch('Booking/GET_GOFLIGHT_DETAILS', SEARCH_INFO);
    },

    getBackFlightDetails(flight) {
      this.tempBackFlight = flight;

      let SEARCH_INFO = { ...this.searchInfo };
      SEARCH_INFO.isReturn = true;
      SEARCH_INFO.backFlightNo = flight.flightNo;
      SEARCH_INFO.goFlightNo = this.goFlight.flightNo;
      SEARCH_INFO.backDate = this.rawSearchInfo.backDate;
      SEARCH_INFO.goFareFamilyCode = this.goFlight.fareFamilyCode;

      this.$store.dispatch('Booking/GET_BACKFLIGHT_DETAILS', SEARCH_INFO);
    },

    selectGoFlight(flightDetail) {
      // TODO
      // const currFareFamilyCode = this.goFlight.fareFamilyCode
      //   ? this.goFlight.fareFamilyCode
      //   : null;
      // const currGoFlightNo = this.goFlight.flightNo
      //   ? this.goFlight.flightNo
      //   : null;
      // const currDepDate = this.goFlight.depDate ? this.goFlight.depDate : null; 
      // 更新 goFlight 的資料
      // this.goFlight = {
      //   ...this.goFlight,
      //   ...this.tempGoFlight,
      //   ...flightDetail,
      // };
      const IS_ROUND_TRIP = this.rawSearchInfo.isRoundTrip;
      const OFFER_ID = this.goFlight.offerId ? this.goFlight.offerId : null;

      if(IS_ROUND_TRIP && OFFER_ID && flightDetail.offerId !== OFFER_ID ) {
        this.backFlight = { isSelected: false };
        this.$store.commit('Booking/SET_BACK_FLIGHT', this.backFlight);
      } 

      // //目前點選的去程航班跟原本的去程航班艙等或航班號碼不同
      // if (
      //   this.rawSearchInfo.isRoundTrip &&
      //   (currFareFamilyCode !== flightDetail.fareFamilyCode ||
      //     currGoFlightNo !== this.tempGoFlight.flightNo || 
      //     currDepDate !== this.goFlight)
      //   // this.rawSearchInfo.isRoundTrip &&
      //   // (currFareFamilyCode !== flightDetail.fareFamilyCode ||
      //   //   currGoFlightNo !== this.goFlight.flightNo || 
      //   //   currDepDate !== this.goFlight)
      // ) {
      //   // TODO 如果回程航班已經選取，取消收闔，清除已經選取的回程航班，但保留開啟的選項
      //   if (Object.keys(this.tempBackFlight).length === 0) {
      //     this.backFlight = { isSelected: false };
      //     this.$store.commit('Booking/SET_BACK_FLIGHT', this.backFlight);
      //   }
      //   // 更新 flightDetail
      //   this.getBackFlightDetails(this.backFlight);
      // }

      this.goFlight = {
        ...this.goFlight,
        ...this.tempGoFlight,
        ...flightDetail,
      };

      this.tempGoFlight = {};
      this.goFlight.isSelected = true;
      this.$store.commit(
        'Booking/SET_GO_FLIGHT',
        this.$_.cloneDeep(this.goFlight),
      );
    },

    selectBackFlight(flightDetail) {
      this.offerId = null;
      this.backFlight = {
        ...this.backFlight,
        ...this.tempBackFlight,
        ...flightDetail,
      };
      this.tempBackFlight = {};
      this.backFlight.isSelected = true;
      this.$store.commit(
        'Booking/SET_BACK_FLIGHT',
        this.$_.cloneDeep(this.backFlight),
      );
    },

    toggleCabinClassDetailModal(param) {
      // 點選 cabinDetail 展開彈窗，傳出目前的 FareFamilyCode
      this.hasCabinClassDetailModal = param.status;
      this.currFareFamilyCode = param.fareFamilyCode;
    },

    getOfferId() {
      const IS_ROUND_TRIP = this.rawSearchInfo.isRoundTrip;
      const FLIGHT = IS_ROUND_TRIP ? this.backFlight : this.goFlight;

      if (FLIGHT.offerId) return FLIGHT.offerId;
      return null;
    },
  },
};
</script>
<style lang="scss" scoped>
.price-description {
  padding-bottom: 100px;
  h3 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  ol {
    padding-left: 20px;
  }
}

.price-hint {
  font-size: $small-font-size;
}
</style>
