<template>
  <div class="custom-dropdown w-100" :class="{disabled: disabled}">
    <label :class="{focus: isFocus}" :for="elementId" class="d-block w-100">
      <small class="d-block">{{title}}</small>
      <input
        type="button"
        :aria-expanded="isExpanded"
        aria-haspopup="listbox"
        readonly
        :id="elementId"
        :ref="elementId"
        :disabled="disabled"
        @click="toggleListbox"
        @focus="handleInputFocus"
        @blur="handleInputBlur"
        @keydown.self.down.prevent="showListbox"
        @keydown.self.up.prevent="showListbox"
        :value="selectedLabel"
        class="d-block w-100 p-0 text-left"
        :class="{empty: selectedLabel === placeholder }"
        :placeholder="placeholder"
      >
      <i class="icon" :class="{hide: !isExpanded}"></i>
    </label>
    <ul
      tabindex="-1"
      role="listbox"
      @keydown.self.prevent="handleKeyDown"
      @click="selectByMouseDown"
      @focus="setupFocus"
      :aria-activedescendant="currFocusItemId"
      class="w-100"
      :class="{hidden: !isExpanded}"
      :style="{ 'max-height': maxHeight + 'px' }"
    >
      <li
        v-for="(option, index) in options"
        :key="elementId + index"
        :id="elementId + '_' + index"
        role="option"
        :class="{focus: currFocusItemIndex === index, active: activeItemIndex === index}"
      >{{option.label}}</li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'StarDropdown',
  props: {
    options: {
      type: Array,
      default: () => {
        return [];
      },
    },

    placeholder: {
      type: String,
      default: 'Choose',
    },

    elementId: {
      type: String,
      required: true,
    },

    value: {
      type: [String, Number],
      default: null,
    },

    title: {
      type: String,
      required: true,
    },

    maxHeight: {
      type: Number,
      default: 300,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isExpanded: false,
      isFocus: false,
      currFocusItemIndex: null,
      activeItemIndex: null,
    };
  },
  computed: {
    currFocusItemId() {
      if (!this.currFocusItemIndex) return null;
      return this.elementId + '_' + this.currFocusItemIndex;
    },

    selectedLabel() {
      if (
        (this.activeItemIndex && this.options.length > 0) ||
        this.activeItemIndex === 0
      ) {
        return this.options[this.activeItemIndex].label;
      } else {
        return this.placeholder;
      }
    },
  },

  watch: {
    value(newVal) {
      if (!newVal) {
        this.activeItemIndex = null;
        this.currFocusItemIndex = null;
        this.$nextTick(() => {
          this.$el.querySelector('ul').scrollTop = 0;
        });
      }
    },
  },

  methods: {
    toggleListbox() {
      if (this.isExpanded) {
        this.hideListbox();
      } else {
        this.showListbox();
      }
    },

    showListbox() {
      this.isExpanded = true;
      this.$nextTick(() => {
        this.$el.querySelector('ul').focus();
        this.isFocus = true;
      });
    },

    hideListbox() {
      this.isExpanded = false;
      this.isFocus = false;
      this.$el.querySelector('ul').blur();
    },

    selectByKeydown() {
      this.activeItemIndex = this.currFocusItemIndex;
      this.focusItem(this.activeItemIndex);
      this.$emit('input', this.options[this.activeItemIndex].value);
      this.hideListbox();
    },

    selectByMouseDown(evt) {
      const selectedItemIndex = Number(evt.target.id.split('_')[1]);
      this.activeItemIndex = selectedItemIndex;
      this.currFocusItemIndex = selectedItemIndex;
      this.focusItem(selectedItemIndex);
      this.$emit('input', this.options[this.activeItemIndex].value);
      this.hideListbox();
    },

    moveDownItems() {
      if (this.currFocusItemIndex !== this.options.length - 1) {
        this.currFocusItemIndex++;
        this.focusItem(this.currFocusItemIndex);
      }
    },

    moveUpItems() {
      if (this.currFocusItemIndex !== 0) {
        this.currFocusItemIndex--;
        this.focusItem(this.currFocusItemIndex);
      }
    },

    focusItem(focusItemIndex) {
      const currFocusItemId = this.elementId + '_' + focusItemIndex;
      const currFocusItem = this.$el.querySelector(`#${currFocusItemId}`);
      const listbox = this.$el.querySelector('ul');

      if (listbox.scrollHeight > listbox.clientHeight) {
        let scrollBottom = listbox.clientHeight + listbox.scrollTop;
        let eleBottom = currFocusItem.offsetTop + currFocusItem.offsetHeight;
        if (eleBottom > scrollBottom) {
          listbox.scrollTop = eleBottom - listbox.clientHeight;
        } else if (currFocusItem.offsetTop < listbox.scrollTop) {
          listbox.scrollTop = currFocusItem.offsetTop;
        }
      }
    },

    handleKeyDown(evt) {
      const key = evt.code;

      switch (key) {
        case 'ArrowDown':
          this.moveDownItems();
          break;

        case 'ArrowUp':
          this.moveUpItems();
          break;

        case 'Escape':
          this.hideListbox();
          break;

        case 'Space':
        case 'Enter':
          this.selectByKeydown();
          break;
        default:
          return;
      }
    },

    handleInputFocus() {
      this.isFocus = true;
    },

    handleInputBlur() {
      this.isFocus = false;
    },

    hide(evt) {
      if (this.$el) {
        if (!this.$el.contains(evt.target)) {
          this.hideListbox();
        }
      }
    },

    setupFocus() {
      if (!this.activeItemIndex && this.activeItemIndex !== 0) {
        this.currFocusItemIndex = 0;
        this.focusItem(0);
      }
    },
  },
  created() {
    document.body.addEventListener('click', this.hide);

    // initialize default value
    if (this.value) {
      const activeItemIndex = this.options.findIndex(
        (option) => option.value === this.value,
      );

      this.activeItemIndex = activeItemIndex;
      this.currFocusItemIndex = activeItemIndex;
    }
  },
  mounted() {},
  beforeDestroy() {
    document.body.removeEventListener('click', this.hide);
  },
  components: {},
};
</script>
<style lang='scss' scoped>
.custom-dropdown {
  position: relative;

  &.focus {
    box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
  }

  label {
    position: relative;
    font-size: 1.123rem;
    border: 1px solid $ivory-dark;
    padding: 1rem;
    transition: 0.3s;
    .empty {
      color: $iron-lighter;
    }
    &:hover,
    &.focus {
      background-color: $ivory-light;
      border-color: $brown;
      box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
    }
  }

  .icon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 1rem;
    transition: transform 0.3s;
    background-image: url('~@/assets/ic-d-arrow-black.svg');
    pointer-events: none;
    &.hide {
      transform: translateY(-50%);
      transition: transform 0.3s;
    }
  }

  ul {
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
    border: 1px solid $brown;
    &:focus {
      outline: none;
    }
    &.hidden {
      display: none;
    }
  }

  input {
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &.disabled {
      color: $iron-lighter;
    }
  }

  li {
    padding: 1rem;
    background: $white;
    border-bottom: 1px solid rgba(139, 143, 147, 0.3);
    &:last-child {
      border-bottom: none;
    }
    &.focus,
    &:hover {
      background-color: $ivory-light;
    }
    &.active {
      background-color: $ivory;
    }
  }
  &.disabled {
    .icon {
      filter: contrast(0);
    }
    label {
      background-color: #efebe3;
      pointer-events: none;
      color: $gold-light;
    }
    input {
      color: $gold-light;
    }
  }
}
</style>
