.icon-wifi {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('~@/assets/ic-wifi.svg') no-repeat center center;
  background-size: 24px 24px;
  vertical-align: sub;
}
.icon-cancel {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('~@/assets/ic-cancel.svg') no-repeat center center;
  background-size: 24px 24px;
  vertical-align: sub;
}
.icon-exchange {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('~@/assets/ic-exchange.svg') no-repeat center center;
  background-size: 24px 24px;
  vertical-align: sub;
}
.icon-handbag {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('~@/assets/ic-handbag.svg') no-repeat center center;
  background-size: 24px 24px;
  vertical-align: sub;
}
.icon-luggage {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('~@/assets/ic-luggage.svg') no-repeat center center;
  background-size: 24px 24px;
  vertical-align: sub;
}
.icon-gift {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('~@/assets/ic-gift.svg') no-repeat center center;
  background-size: 24px 24px;
  vertical-align: sub;
}