.logo-xs-icon {
  width: 23px;
  height: 18px;
  display: inline-block;
  background: url('~@/assets/starlux-flight-logo-xs.svg') no-repeat center center;
  background-size: 23px 18px;
  vertical-align: sub;
}