<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>logo_favicon_32x32.jpg" />
    <link rel="stylesheet" href="./style/icon-font.css">
    <title>starlux-vue-component</title>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but starlux-vue-component doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
