<template>
  <div class="home">
    <h1 class="text-center">Starlux Web Components</h1>
    <div class="container text-left">
      <h2>
        <router-link to="/test">Testing</router-link>
      </h2>
      <h2>Booking</h2>
      <ul class="text-left">
        <li>
          <router-link to="/booking">BD01.1 搜尋航班</router-link>
        </li>
        <li>
          <router-link to="/booking/selectPrice">BD02.1 檢視雙週票價</router-link>
        </li>
        <li>
          <router-link to="/booking/paxInfo">BD03.1 填寫旅客資訊</router-link>
        </li>
        <li>
          <router-link to="/booking/customizedServices">BD04.1 選擇客製化服務</router-link>
          <ol>
            <li>
              <router-link to="/booking/customizedServices/selectSeat">SD01.1 查看及選擇座位</router-link>
            </li>
            <li>
              <router-link to="/booking/customizedServices/selectMeal">SD02.1 查看及選擇餐點</router-link>
            </li>
          </ol>
        </li>
        <li>
          <router-link to="/booking/payment">BD06.1 旅客資料確認</router-link>
        </li>
        <li>
          <router-link to="/booking/completed">BD07.1 訂票完成頁</router-link>
        </li>
        <li>
          <router-link to="/booking/schedule">BD08.1 行程頁面</router-link>
        </li>
      </ul>
      <h2>Check in</h2>
      <ul class="text-left">
        <li>
          <router-link to="/checkIn">CD01.1 搜尋定位航班</router-link>
        </li>
        <li>
          <router-link to="/checkIn/selectCheckInFlight">CD02.1 選擇報到航班</router-link>
        </li>
        <li>
          <router-link to="/checkIn/selectCheckInPax">CD02.2 選擇報到旅客</router-link>
        </li>
        <li>
          <router-link to="/checkIn/paxInfo">CD03.1 填寫旅客資料</router-link>
        </li>
        <li>
          <router-link to="/checkIn/confirmLuggageNotice">CD04.1 確認行李須知</router-link>
        </li>
        <li>
          <router-link to="/checkIn/completed">CD05.1 完成網路報到</router-link>
        </li>
        <li>
          <router-link to="/boardingPass">CD06.1 Boarding Pass</router-link>
        </li>
      </ul>
      <StarInfo>
        <template slot="info-strong">您所填寫的旅客英文姓名必須與護照上相同</template>
        <template slot="info-content">如果輸入之姓名與護照上的不一致，您有可能需要重新預定機票。</template>
      </StarInfo>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import StarInfo from '@/components/common/StarInfo';

export default {
  name: 'home',
  components: {
    StarInfo,
  },
};
</script>
