<template>
  <div class="container">
    <h1>Test Page</h1>
    <button class="btn btn-danger" @click="launchErrorMsg">error info</button>
    <button class="btn btn-success" @click="launchSuccessMsg">success info</button>
    <div class="btn btn-warning" @click="launchWarnMsg">warning info</div>
    <input type="text" placeholder="input some text">
  </div>
</template>

<script>
export default {
  name: 'Test',

  data() {
    return {
      isModalOpen: true,
    };
  },

  methods: {
    launchErrorMsg() {
      this.$notify({
        group: 'danger',
        text: '錯誤文字訊息!',
        duration: -1,
      });
      console.log(this.$announcer.set);
      this.$announcer.set('woah');
    },

    launchWarnMsg() {
      this.$notify({
        group: 'warning',
        text: '警告文字訊息!',
        duration: 3000,
      });
    },

    launchSuccessMsg() {
      this.$notify({
        group: 'success',
        text: '成功文字訊息!',
        duration: 3000,
      });
    },
  },

  //clean the message
  beforeDestroy() {
    this.$notify({
      group: 'danger',
      clean: true,
    });
  },

  //if there is <keep-live/> tag around <router-view/>
  deactivated() {
    this.$notify({
      group: 'danger',
      clean: true,
    });
  },
};
</script>
