<template>
  <div class="d-flex align-items-stretch py-3 w-100 h-100 bg-white text-iron">
    <!--TITLE AND DESCRIPTION-->
    <label :id="'stepper-title-' + name">
      <slot name="title"></slot>
    </label>

    <div class="d-flex align-items-center ml-auto">
      <!--DECREASE BUTTON-->
      <button class="decrease"
              @click="decrease"
              :disabled="isMin"
              tabindex="-1">
        decrease {{name}} passenger number
      </button>

      <!--DISPLAY INPUT-->
      <input
        role="spinbutton"
        type="text"
        @keydown.prevent.up="increase"
        @keydown.prevent.down="decrease"
        :value="number"
        class="pax-number"
        :aria-labelledby="'stepper-title-' + name"
        readonly
        tabindex="0">

      <!--INCREASE BUTTON-->
      <button
        class="increase"
        @click="increase"
        :disabled="isMax"
        tabindex="-1">
        increase {{name}} passenger number
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: Number,
        required: true,
      },
      max: {
        type: Number,
      },
      min: {
        type: Number,
      },
      maxTotal: {
        type: Number,
      },
      name: {
        type: String,
        default: 'Name',
      },
    },
    data() {
      return {
        number: null,
      };
    },

    computed: {
      isMax() {
        return this.value >= this.max || this.maxTotal >= this.max;
      },

      isMin() {
        return this.value <= this.min;
      },
    },

    created() {
      this.number = this.value;
    },

    methods: {
      increase() {
        if (!this.isMax) {
          this.$emit('input', ++this.number);
        }
      },

      decrease() {
        if (!this.isMin) {
          this.$emit('input', --this.number);
        }
      },
    },
  };
</script>

<style lang="scss">
  input,
  button {
    border: none;
  }

  input[type=number]{
    text-align:right;
  }

  label {
    cursor: initial;
  }

  %button {
    font-size: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
    &:focus {
      border: 1px solid #ccc;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  .increase {
    @extend %button;
    background-image: url('assets/btn-increase-normal.svg');
    &:disabled {
      background-image: url('assets/btn-increase-disable.svg');
    }
  }

  .decrease {
    @extend %button;
    background-image: url('assets/btn-decrease-normal.svg');
    &:disabled {
      background-image: url('assets/btn-decrease-disable.svg');
    }
  }

  .pax-number {
    width: 47px;
    text-align: center;
    background-color: transparent;
  }
</style>
