<template>
  <div>
    <div class="time-table">
      <div v-for="item in flightDetailData" :key="item.key">
        <div class="dep">
          <h3>{{item.depTime}}</h3>
          <p>{{item.depTerminal}}</p>
        </div>
        <ul>
          <li>營運航空<span><img src="@/assets/starlux_logo.svg" alt="icon" class="time-table__airline"></span></li>
          <li>航班編號<span>{{item.airplaneNumber}}</span></li>
          <li>航班編號<span>{{item.airplaneInfo.airplaneModel}}</span></li>
          <li>
            <ul>
              <li>
                <img src="@/assets/ic-space.svg" alt="icon">
                佈局
                <span>{{item.airplaneInfo.airplaneLayout}}</span>
              </li>
              <li>
                <img src="@/assets/ic-seat.svg" alt="icon">
                <span>{{item.airplaneInfo.seat}}</span>
              </li>
              <li v-show="item.airplaneInfo.charger">
                <img src="@/assets/ic-plug.svg" alt="icon">
                <span>電源插座</span>
              </li>
              <li v-show="item.airplaneInfo.magazine">
                <img src="@/assets/ic-news.svg" alt="icon">
                <span>報刊雜誌</span>
              </li><li v-show="item.airplaneInfo.USBcharger">
                <img src="@/assets/ic-usb.svg" alt="icon">
                <span>USB充電座</span>
              </li>
            </ul>
          </li>
        </ul>
        <div class="arr">
          <h3>{{item.arrTime}}</h3>
          <p>{{item.arrTerminal}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    flightDetails: {
      type: Object,
    }
  },
  data() {
    return {
      flightDetailData:[{
        depTime: '13:00',
        arrTime: '16:00',
        depTerminal: '台北, 桃園國際機場 TPE, 第 2 航廈',
        arrTerminal: '東京, 東京羽田機場 HND, 第 2 航廈',
        airline: '/img/ic-seat.svg',
        airplaneNumber: 'JX100',
        airplaneInfo: {
          airplaneModel: 'Airbus Industrie A321 neo',
          airplaneLayout: '3-3',
          seat: '標準機艙椅',
          charger: true,
          magazine: true,
          USBcharger: true,
        },
      }]
    };
  },
  computed:{
    // getFlightDetailData(){
    //   console.log(this.$store.state.flightDetailData);
    //   return this.$store.state.flightDetailData;
    // }
  }
};
</script>
<style lang="scss" scoped>
.time-table{
  border-left: 1px solid #000;
  margin-left: 10px;
  margin-bottom: 60px;
  .dep, .arr{
    padding-left: 28px;
  }
  .dep{
    margin-top: -24px;
    font-weight: bold;
  }
  .arr{
    margin-bottom: -80px;
    font-weight: bold;
  }
  ul{
    padding-left: 28px;
    list-style-type: none;
    li{
      margin-bottom: 10px;
      list-style-type: none;
      span{
        margin-left: 30px;
      }
      ul{
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 40px;
        li{
          font-size: $font-size-sm;
          span{
            margin-left: 6px;
          }
          img{
            margin-top: -3px;
          }
        }
      }
    }
  }
}

.time-table::before{
  content: '\25CF';
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  text-align: center;
  top: -4px;
  left: -10px;
  padding: 0px;
  border-radius: 12px;
  font-size: 13px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.time-table::after{
  content: '\25CF';
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  text-align: center;
  bottom: -4px;
  left: -10px;
  padding: 0px;
  border-radius: 12px;
  font-size: 13px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.time-table__airline{
  height: 28px;
  margin-left: -7px;
}
</style>
