<template>
  <transition name="fade">
    <div v-if="isDisplay" class="wrapper" v-on-clickaway="close">
      <div class="container">
        <h1>編輯搜尋條件</h1>
        <slot name="content"></slot>
        <section class="my-4 my-lg-6">
          <!-- Search Flight -->
          <div class="row mb-4">
            <div class="col-12 col-lg-12 col-xl-8">
              <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                  <div class="flight-dropdown border border-ivory-dark">
                    <label class="small px-3 pt-3 mb-0" for="airportCode">{{$t("lb_origin")}}</label>
                    <div>
                      <StarAirportSelector
                        ref="depAirport"
                        :options="options"
                        :option="rawSearchInfo.depAirport"
                        :value="rawSearchInfo.depAirport"
                        v-on:selected="selectDepAirport"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="flight-dropdown border border-ivory-dark">
                    <label class="small px-3 pt-3 mb-0" for="airportCode">{{$t("lb_destination")}}</label>
                    <div>
                      <StarAirportSelector
                        ref="arrAirport"
                        :options="options"
                        :option="rawSearchInfo.arrAirport"
                        :value="rawSearchInfo.arrAirport"
                        v-on:selected="selectArrAirport"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Radios -->
          <div class="row">
            <div class="col-12">
              <fieldset class="mb-4">
                <span class="mr-6">
                  <input
                    class="radio"
                    type="radio"
                    name="trip"
                    id="round"
                    :value="true"
                    v-model="rawSearchInfo.isRoundTrip"
                    checked
                  >
                  <label for="round">{{$t("lb_roundtrip")}}</label>
                </span>
                <span>
                  <input
                    class="radio"
                    type="radio"
                    name="trip"
                    id="single"
                    :value="false"
                    v-model="rawSearchInfo.isRoundTrip"
                  >
                  <label for="single">{{$t("lb_oneway")}}</label>
                </span>
              </fieldset>
            </div>
          </div>

          <!-- DatePicker -->
          <div class="row">
            <div class="col-12 col-lg-8">
              <!--來回-->
              <div class="text-black row" v-if="rawSearchInfo.isRoundTrip">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                  <calendar
                    v-model="rawSearchInfo.goDate"
                    :format="format"
                    :title="$t('lb_dept_date')"
                    :placeholder="placeholder"
                    :pane="2"
                    :range-bus="getBus"
                    :range-status="1"
                  />
                </div>
                <div class="col-12 col-lg-6">
                  <calendar
                    v-model="rawSearchInfo.backDate"
                    :format="format"
                    :title="$t('lb_return_date')"
                    :placeholder="placeholder"
                    :pane="2"
                    :isDisabled="true"
                    :range-bus="getBus"
                    :range-status="2"
                  />
                </div>
              </div>
              <!--單程-->
              <div class="row no-gutter" v-if="!rawSearchInfo.isRoundTrip">
                <div class="col-12 col-lg-6">
                  <calendar
                    v-model="rawSearchInfo.goDate"
                    :format="format"
                    :title="$t('lb_dept_date')"
                    :placeholder="placeholder"
                    :pane="2"
                    :range-bus="getBus"
                    :range-status="1"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mb-2 mb-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <!-- ADT Stepper -->
              <div class="row mb-4">
                <div class="col-12 col-lg-6 col-xl-3 mb-3 mb-xl-0">
                  <StarPaxStepper
                    class="border border-ivory-dark p-3"
                    v-model="rawSearchInfo.pax.adt"
                    :max="9"
                    :min="1"
                    :maxTotal="totalPax"
                  >
                    <template slot="title">
                      <div class="d-flex flex-column justify-content-center">
                        <span>{{$t("lb_adt")}}</span>
                        <small class="d-block">{{$t("lb_adt_rule")}}</small>
                      </div>
                    </template>
                  </StarPaxStepper>
                </div>
                <!-- INF Stepper -->
                <div class="col-12 col-lg-6 col-xl-3 mb-3 mb-xl-0">
                  <StarPaxStepper
                    class="border border-ivory-dark p-3"
                    v-model="rawSearchInfo.pax.inf"
                    :min="0"
                    :max="9"
                    :maxTotal="totalPax"
                  >
                    <template slot="title">
                      <div class="d-flex flex-column justify-content-center">
                        <span>{{$t("lb_inf")}}</span>
                        <small class="d-block">{{$t("lb_inf_rule")}}</small>
                      </div>
                    </template>
                  </StarPaxStepper>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 mb-3 mb-xl-0">
                  <StarPaxStepper
                    class="border border-ivory-dark p-3"
                    v-model="rawSearchInfo.pax.smallChd"
                    :min="0"
                    :max="9"
                    :maxTotal="totalPax"
                  >
                    <template slot="title">
                      <div class="d-flex flex-column justify-content-center">
                        <span>{{$t("lb_chd")}}</span>
                        <small class="d-block">{{$t("lb_kid_rule")}}</small>
                      </div>
                    </template>
                  </StarPaxStepper>
                </div>
                <!-- CHD Stepper -->
                <div class="col-12 col-lg-6 col-xl-3 mb-3 mb-xl-0">
                  <StarPaxStepper
                    class="border border-ivory-dark p-3"
                    v-model="rawSearchInfo.pax.bigChd"
                    :min="0"
                    :max="9"
                    :maxTotal="totalPax"
                  >
                    <template slot="title">
                      <div class="d-flex flex-column justify-content-center">
                        <span>{{$t("lb_chd")}}</span>
                        <small class="d-block">{{$t("lb_chd_rule")}}</small>
                      </div>
                    </template>
                  </StarPaxStepper>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mb-0 mb-lg-7">
          <div class="row">
            <div class="col-12 col-lg-4 mb-3 mb-lg-0" v-for="(el, i) in cabins" :key="i">
              <div class="border border-ivory-dark p-3 pt-4 cabin">
                <input
                  class="radio"
                  type="radio"
                  name="cabin"
                  :id="`cabin${el.code}`"
                  :value="el.code"
                  v-model="rawSearchInfo.cabin"
                >
                <label :for="`cabin${el.code}`" class="w-100">{{ el.name }}</label>
              </div>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-12 col-lg-3 offset-lg-9">
            <button class="pill-btn pill-btn-primary btn-long my-6" @click="searchFlight">
              <strong>搜尋航班</strong>
              <img src="@/assets/btn-r-arrow-white.svg" alt class="vertical-baseline ml-2">
            </button>
          </div>
        </div>
      </div>
      <button class="closeBtn" style="font-size:0;" @click="close">
        關閉
        <img src="@/assets/ic-nav-cancel.svg" alt="close icon">
      </button>
    </div>
  </transition>
</template>
<script>
import { directive as onClickaway } from 'vue-clickaway';
import Vue from 'vue';
import Calendar from '@/components/Calendar';
import StarPaxStepper from '@/components/StarPaxStepper';
import StarModal from '@/components/common/StarModal';
import StarAirportSelector from '@/components/StarAirportSelector';

export default {
  directives: {
    onClickaway,
  },

  props: {
    value: {
      type: Boolean,
    },

    cabins: {
      type: Array,
      required: true,
    },

    options: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      format: 'yyyy/MM/dd',
      placeholder: this.$t('hint_select'),
      rawSearchInfo: this.$store.getters['Booking/GET_RAW_SEARCH_INFO'],
    };
  },

  computed: {
    maxSearchLimited() {
      //最大可選日期為 1 年 ex: 2018/12/11 ~ 2019/12/10
      const TODAY = new Date();
      return `${TODAY.getFullYear() + 1}/${TODAY.getMonth() +
        1}/${TODAY.getDate() - 1}`;
    },

    isDisplay() {
      return this.value;
    },

    totalPax() {
      return (
        this.rawSearchInfo.pax.adt +
        this.rawSearchInfo.pax.smallChd +
        this.rawSearchInfo.pax.bigChd +
        this.rawSearchInfo.pax.inf
      );
    },
  },

  components: {
    Calendar,
    StarPaxStepper,
    StarModal,
    StarAirportSelector,
  },

  methods: {
    close() {
      this.$emit('input', false);
    },
    // Calendar
    getBus() {
      return this.bus;
    },

    searchFlight() {
      this.$emit('on-search', this.rawSearchInfo);
    },

    selectDepAirport(param) {
      this.rawSearchInfo.depAirport = param;
      this.$refs.arrAirport.$el.focus();
    },

    selectArrAirport(param) {
      this.rawSearchInfo.arrAirport = param;
      this.arrAirport = param;
    },
  },

  created() {
    this.bus = new Vue();
  },
};
</script>
<style lang="scss" scoped>
.wrapper {
  width: 100vw;
  height: 100%;
  position: fixed;
  padding: 100px 130px 130px 82px;
  background-color: $iron;
  z-index: 2000;
  top: 0;
  left: 0;
  overflow-y:scroll;
}

.closeBtn {
  position: absolute;
  right: 48px;
  top: 48px;
  padding: 0;
  cursor: pointer;
  background-color: $iron;
}
.flight-dropdown,
.pax-stepper,
.cabin {
  background-color: #fff;
  color: #000;
}

// media query
@include media-breakpoint-down(md) {
  .wrapper {
    padding: 2rem 0 1rem;
    overflow: scroll;
  }
  .closeBtn {
    top: 28px;
    right: 8px;
  }
}
</style>
