<template>
  <div>
    <div class="cabin-list-wrapper">
      <ul v-for="(item, index) in  cabinList" :key="index" v-bind:class="{active: item.fareFamilyCode === fareFamilyCode}">
        <li>
          <h3 class="cabin-list-wrapper__title">{{item.className}}</h3>
        </li>
        <li>
          <h3>{{item.luggage}} kg </h3>
          <p>托運行李</p>
        </li>
        <li>
          <h3>{{item.handluggage}} kg </h3>
          <p>手提行李</p>
        </li>
        <li>
          <img class="cabin-class__icon" src="@/assets/ic-wifi.svg" alt="close icon">
          <p>免費傳文字訊息</p>
        </li>
        <li>
          <div v-if="item.seatSelection">
            <img class="cabin-class__icon" src="@/assets/ic-seat-l.svg" alt="close icon">
            <p>免費選位</p>
          </div>
          <div v-else>
            <h3>指定座位</h3>
            <p>可額外付費選位</p>
          </div>
        </li>
        <li>
          <h3>{{item.seat.position}}</h3>
          <p>{{item.seat.info}}</p>
        </li>
        <li>
          <h3>{{item.milage}}%</h3>
          <p>累積哩程</p>
        </li>
        <li>
          <div v-if="item.millageCumulative">
            <img class="cabin-class__icon" src="@/assets/ic-upgrade-l.svg" alt="close icon">
            <p>有哩程升等</p>
          </div>
          <div v-else>
            <h3>無</h3>
            <p>累積哩程</p>
          </div>
        </li>
        <li>
          <div v-if="item.allowRefund===0" class="mt-4">
            <h3>不可退票</h3>
          </div>
          <div v-else>
            <p>NTD <span>{{$n(item.allowRefund)}}</span></p>
            <p>申請退票</p>
          </div>
        </li>
        <li>
          <div v-if="item.allowChangePlan!=0">
            <p>NTD <span>{{$n(item.allowChangePlan)}}</span></p>
            <p>更換行程</p>
          </div>
          <div v-else>
            <h3>免費</h3>
            <p>更換行程</p>
          </div>
        </li>
        <li>
          <div v-if="item.allowChangeFlight!=0">
            <p>NTD <span>{{$n(item.allowChangeFlight)}}</span></p>
            <p>更換日期/航班</p>
          </div>
          <div v-else>
            <h3>免費</h3>
            <p>更換日期/航班</p>
          </div>
        </li>
        <li>
          <div v-if="item.allowMissedRefund!=0">
            <p>NTD <span>{{$n(item.allowMissedRefund)}}</span></p>
            <p>錯過航班申請退款</p>
          </div>
          <div v-else>
            <h3>免費</h3>
            <p>錯過航班申請退款</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    fareFamilyCode: {
      type: String,
    },
    cabinList: {
      type: Array,
    }
  },
  data() {
    return {
      // commercialCabinClassList: [
      //   {
      //     className: '商務 Standard',
      //     price: 19925,
      //     availableSeat: null,
      //     wifi: true,
      //     luggage: 45,
      //     milage: 130,
      //     handluggage: 7,
      //     seatSelection: false,
      //     seat: {
      //       position: '標準',
      //       info: '12-33 排座位',
      //     },
      //     millageCumulative: false,
      //     allowRefund: 0,
      //     allowChangePlan: 2888,
      //     allowChangeFlight: 2888,
      //     allowMissedRefund: 2888,
      //   },
      //   {
      //     className: '商務 Flex',
      //     price: 21825,
      //     availableSeat: null,
      //     wifi: true,
      //     luggage: 45,
      //     milage: 150,
      //     handluggage: 7,
      //     seatSelection: false,
      //     seat: {
      //       position: '標準',
      //       info: '12-33 排座位',
      //     },
      //     millageCumulative: false,
      //     allowRefund: 0,
      //     allowChangePlan: 2888,
      //     allowChangeFlight: 2888,
      //     allowMissedRefund: 2888,
      //   },
      //   {
      //     className: '商務 Flex Plus',
      //     price: 23225,
      //     availableSeat: 6,
      //     wifi: true,
      //     luggage: 45,
      //     milage: 175,
      //     handluggage: 7,
      //     seatSelection: false,
      //     seat: {
      //       position: '標準',
      //       info: '12-33 排座位',
      //     },
      //     millageCumulative: false,
      //     allowRefund: 0,
      //     allowChangePlan: 2888,
      //     allowChangeFlight: 2888,
      //     allowMissedRefund: 2888,
      //   },
      // ],
      // economyCabinClassList: [
      //   {
      //     className: '經濟Save',
      //     fareFamilyCode: 'ECOMERC',
      //     price: 8000,
      //     availableSeat: 0,
      //     wifi: false,
      //     luggage: 20,
      //     milage: 100,
      //     handluggage: 7,
      //     seatSelection: false,
      //     seat: {
      //       position: '標準',
      //       info: '12-33 排座位',
      //     },
      //     millageCumulative: false,
      //     allowRefund: 0,
      //     allowChangePlan: 2888,
      //     allowChangeFlight: 2888,
      //     allowMissedRefund: 2888,
      //   },
      //   {
      //     className: '經濟 Standard',
      //     fareFamilyCode: 'BUSMERC',
      //     price: 10000,
      //     availableSeat: 1,
      //     wifi: true,
      //     luggage: 20,
      //     milage: 60,
      //     handluggage: 7,
      //     seatSelection: false,
      //     seat: {
      //       position: '標準',
      //       info: '12-33 排座位',
      //     },
      //     millageCumulative: true,
      //     allowRefund: 2888,
      //     allowChangePlan: 1888,
      //     allowChangeFlight: 1888,
      //     allowMissedRefund: 2888,
      //   },
      //   {
      //     className: '經濟 Flex',
      //     fareFamilyCode: 'ECONOMIC FLEX',
      //     price: 11825,
      //     availableSeat: null,
      //     wifi: true,
      //     luggage: 30,
      //     milage: 80,
      //     handluggage: 7,
      //     seatSelection: true,
      //     seat: {
      //       position: '前排',
      //       info: '05-33 排座位',
      //     },
      //     millageCumulative: true,
      //     allowRefund: 1888,
      //     allowChangePlan: 888,
      //     allowChangeFlight: 888,
      //     allowMissedRefund: 1888,
      //   },
      //   {
      //     className: '經濟 Flex Plus',
      //     fareFamilyCode: 'ECONOMIC FLEX PLUS',
      //     price: 13225,
      //     availableSeat: 0,
      //     wifi: true,
      //     luggage: 30,
      //     milage: 100,
      //     handluggage: 7,
      //     seatSelection: true,
      //     seat: {
      //       position: '前排',
      //       info: '05-33 排座位',
      //     },
      //     millageCumulative: true,
      //     allowRefund: 888,
      //     allowChangePlan: 0,
      //     allowChangeFlight: 0,
      //     allowMissedRefund: 888,
      //   },
      // ],     
    };
  },
  computed:{
    getCabinData(){
      let cabinClass = this.$store.state.flightModalDepActivation.cabinClass;
      if(cabinClass==='economy'){
        return this.$store.state.cabin.economyCabinClassList;
      }else if(cabinClass==='commercial'){
        return this.$store.state.cabin.commercialCabinClassList;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.cabin-list-wrapper {
  display: flex;
  justify-content: center;
  ul {
    width: 170px;
    list-style: none;
    flex: 1;
    flex-direction: row;
    padding: 30px 0;
  }
  .active {
    background-color: $ivory-light;
  }
  li {
    text-align: center;
    padding: 14px 0;
    height: 80px;
    margin-bottom: 10px;
  }
  .cabin-list-wrapper__title {
    color: $brown;
    font-weight: bold;
  }
  p {
    font-size: $small-font-size;
    margin-bottom: 5px;
    span {
      font-size: $strong-font-size;
      font-weight: bold;
    }
  }
  .cabin-class__icon {
    width: 36px;
    height: 36px;
    margin: -5px 0 5px 0;
  }
}
// media query
@include media-breakpoint-down(md) {
  .cabin-list-wrapper {
    ul {
      width: auto;
      padding-top: 1rem;
    }
  }
}
</style>
