import Vue from 'vue';
import { storiesOf } from '@storybook/vue';
import { action } from '@storybook/addon-actions';
import { checkA11y } from '@storybook/addon-a11y';
import { withReadme } from 'storybook-readme';
import Centered from '@storybook/addon-centered';
import README from './README.md';

import {{ properCase name }} from './';

Vue.component('{{ properCase name }}', {{ properCase name }});

storiesOf('{{properCase name}}', module)
  .addDecorator(Centered)
  .addDecorator(checkA11y)
  .add(
    'Default',
    withReadme([README], () => ({
      template: `<{{properCase name}}/>`,
      data() {
        return {
        };
      },
      methods: {
        log(val) {
          action('{{properCase name}}')(val);
        },
      },
    })),
    { jest: ['{{properCase name}}.test.js'] },
  );

