<template>
  <div>
  </div>
</template>
<script>
  export default {
    name: '{{ properCase name }}',
    props: {},
    data: () => ({
    }),
    computed: {
    },
    methods: {
    },
    mounted() {
    },
    beforeDestroy() {
    },
    components: {
    },
  }
</script>
<style lang='scss' scoped>
</style>
