<template>
  <div class="row d-flex align-items-stretch">
    <div class="title-wrapper col-lg-4">
      <div class="bg-ivory-light p-3 px-lg-6 py-lg-5 h-100">
        <div class="h3">{{$t('lb_contact')}}</div>
        <div class="text-iron-light">自訂聯絡人</div>
      </div>
    </div>
    <div class="info-wrapper col-lg-8">
      <div class="row px-3 pl-lg-3">
        <div class="col-12 mb-0 h1 py-3 px-0 border-bottom border-ivory-dark">{{ fullName }}</div>
        <StarInputBox class="col-12 col-lg-6" :title="$t('lb_mobile')" :content="fullPhone"></StarInputBox>
        <StarInputBox v-if="data.email" class="col-12 col-lg-6" :title="$t('lb_email')" :content="data.email"></StarInputBox>
        <StarInputBox
          v-if="data.homeNumber"
          class="col-12 col-lg-6"
          :title="$t('lb_home')"
          :content="fullHome"
        ></StarInputBox>
        <StarInputBox
          v-if="data.officeNumber"
          class="col-12 col-lg-6"
          :title="$t('lb_company')"
          :content="fullOfficeNumber"
        ></StarInputBox>
      </div>
    </div>
  </div>
</template>

<script>
import StarInputBox from '@/components/StarInputBox';
/*
data: {
  "firstName": "CHILING",
  "lastName": "LIN",
  "phone": [
    {
      "countryCode": "886",
      "number": "0988777666"
    }
  ],
  "email": "prettylin@starlux-airlines.com",
  "homeNumber": [
    {
      "areaCode": "02",
      "number": "27911000"
    }
  ],
  "officeNumber": [
    {
      "areaCode": "02",
      "number": "27911000"
    }
  ],
  "isSmsNotify": true,
  "isEdm": true
}
*/
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  components: {
    StarInputBox,
  },
  computed: {
    fullName() {
      if (this.data.firstName) {
        return `${this.data.lastName} / ${this.data.firstName}`;
      } else {
        return `${this.data.lastName}`;
      }
    },
    fullHome() {
      return `${this.data.homeNumber.areaCode}-${
        this.data.homeNumber.number
      }`;
    },
    fullPhone() {
      return `${this.data.phone.countryCode} ${this.data.phone.number}`;
    },
    fullOfficeNumber() {
      if (this.data.officeNumber.ext) {
        return `${this.data.officeNumber.areaCode}-${
          this.data.officeNumber.number
        } ${this.$t('lb_company_ext')}${this.data.officeNumber.ext}`;
      } else {
        return `${this.data.officeNumber.areaCode}-${
          this.data.officeNumber.number
        }`;
      }
    },
  },
};
</script>
