<template>
  <div class="row d-flex align-items-stretch">
    <div class="title-wrapper col-lg-4">
      <div class="bg-ivory-light p-3 px-lg-6 py-lg-5 h-100">
        <div class="h3">旅客 {{ index }}</div>
        <div class="text-iron-light">{{$t('lb_inf')}}</div>
      </div>
    </div>
    <div class="info-wrapper col-lg-8">
      <div class="row px-3 pl-lg-3">
        <div class="col-12 mb-0 h1 py-3 px-0 border-bottom border-ivory-dark">{{ fullName }}</div>
        <StarInputBox class="col-6" :title="$t('lb_title')" :content="data.title"></StarInputBox>
        <StarInputBox class="col-6" :title="$t('lb_dob')" :content="data.birthDay"></StarInputBox>
        <StarInputBox class="col-6" :title="$t('lb_companion')" :content="carerName"></StarInputBox>
      </div>
    </div>
  </div>
</template>

<script>
import StarInputBox from '@/components/StarInputBox';
/*
data: {
  "paxType": "INF",
  "title": "MR",
  "firstName": "CHILING",
  "lastName": "LIN",
  "birthDay": "1990/10/10",
  "id": "SKH-4-EXT"
} 
carer: {
  "paxType": "ADT",
  "title": "MRS / MS / MISS / MR",
  "firstName": "CHILING",
  "lastName": "LIN",
  "memberCard": null,
  "id": "SKH-4-EXT",
}
*/
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
    carer: {
      type: Object,
      required: true,
    },
    index: Number,
  },
  components: {
    StarInputBox,
  },
  computed: {
    fullName() {
      if (!this.data.firstName) {
        return `${this.data.lastName} / ${this.data.firstName}`;
      } else {
        return `${this.data.lastName}`;
      }
    },
    carerName() {
      const CARER = this.carer;
      if (!CARER.firstName) {
        return `旅客${CARER.id} (${CARER.lastName}/${CARER.firstName})`;
      } else {
        return `旅客${CARER.id} (${CARER.lastName})`;
      }
    },
  },
};
</script>
