label {
  cursor: pointer;
}

button {
  background-color: #fff;
}

.bottom-border-top {
  border-top: 3px solid $gold !important;
}

.bg-white {
  background: $white;
}

.white {
  color: $white;
}

.cheapest {
  position: absolute;
  right: 2px;
  top: 0;
  font-size: $tiny-font-size;
  color: $red;
}

.cheapest::after {
  width: 20px;
  height: 20px;
  content: '';
  display: inline-block;
  background-image: url('~@/assets/ic-cheapest-icon.svg');
  // border-left: 18px solid transparent;
  // border-right: 0px solid transparent;
  // border-top: 18px solid $red;
  position: relative;
  bottom: -2px;
  margin-left: 2px;
}

.mb-40 {
  margin-bottom: 40px;
}

.text-iron {
  span {
    font-weight: bold;
  }
}

#app {
  span:before {
    font-size: 36px;
    cursor: pointer;
  }
  .facility {
    span::before {
      font-size: 24px;
      vertical-align: middle;
    }
  }
}

.flight-dropdown {
  cursor: pointer;
  label {
    position: absolute;
    font-weight: 500;
  }
  .multiselect {
    padding: 39px 0 0 0px;
  }
  .multiselect__tags {
    padding-top: 0px;
    padding-bottom: 8px;
    min-height: initial;
    height: 37px;
    background-color: none;
  }
  .multiselect__single {
    margin-bottom: 0;
  }
}

.multiselect__select {
  height: auto;
  width: auto;
  top: 12px;
}

.multiselect__select::before {
  background-image: url('~@/assets/ic-d-arrow-black.svg');
  width: 36px;
  height: 36px;
  display: inline-block;
  border: 0;
  margin: 0;
}

.multiselect__content-wrapper {
  top: 76px;
}

.cabin {
  height: 76px;
  label {
    vertical-align: middle;
    font-weight: normal;
  }
}

ul li,
ol li {
  line-height: 1.8;
}

.tooltip {
  background: $brown;
  color: $white;
  border-radius: 4px;
  padding: .5rem 1rem;
  margin-bottom: .2rem;
}

// modal
.modal-lg {
  width: 960px;
}

.modal-md {
  width: 850px;
}

.modal-sm {
  width: 665px;
}

// tabs
.vue-tabs .tabs__link {
  color: $brown;
}

.fixed {
  .nav-tabs-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: $white;
  }
  .swiper-container {
    .nav-tabs-navigation {
      margin-bottom: 1rem;
    }
    .nav-tabs-wrapper {
      position: relative !important;
    }
    .swiper-content {
      margin-top: 1rem;
    }
  }
}

.nav-tabs-wrapper {
  border-bottom: 1px solid $brown;
  ul.nav-tabs {
    padding-left: 0;
    @include clearfix;
    .tab {
      // width: 25%;
      text-align: center;
      list-style: none;
      float: left;
      font-size: $h3-font-size;
      &.active {
        border-bottom: 3px solid $brown;
        a {
          color: $brown;
          font-weight: 600;
        }
      }
      a {
        display: block;
        border: 0;
        background: none;
        &:hover,
        &:focus {
          border: 0;
          text-decoration: none;
          a {
            color: $brown;
          }
        }
      }
    }
  }
}

.two-tabs {
  .nav-tabs-wrapper ul.nav-tabs .tab {
    width: 25%;
  }
}

.three-tabs {
  .nav-tabs-wrapper ul.nav-tabs .tab {
    width: 33.333%;
  }
}

.four-tabs {
  .nav-tabs-wrapper ul.nav-tabs .tab {
    width: 25%;
  }
}

.five-tabs {
  .nav-tabs-wrapper ul.nav-tabs .tab {
    width: 20%;
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.visual-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// media query
@include media-breakpoint-down(md) {
  .border-right-md-0 {
    border-right: 0 !important;
  }
  .two-tabs {
    .nav-tabs-wrapper ul.nav-tabs .tab {
      width: 50%;
    }
  }
  .three-tabs {
    .nav-tabs-wrapper ul.nav-tabs .tab {
      width: 50%;
    }
  }
  .four-tabs {
    .nav-tabs-wrapper ul.nav-tabs .tab {
      width: 50%;
    }
  }
  .five-tabs {
    .nav-tabs-wrapper {
      overflow: scroll;
      ul.nav-tabs {
        width: 150%;
        overflow: scroll;
        .tab {
          width: auto;
          display: block;
        }
      }
    }

  }
  .vue-tabs {
    overflow: hidden;
  }
  .modal-lg,
  .modal-md,
  .modal-sm {
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .border-right-sm-1 {
    border-right: 1px solid $ivory-dark !important;
  }
  .border-right-sm-0 {
    border-right: 0 !important;
  }
}

@include media-breakpoint-down(sm) {
  button {
    background: none;
  }
}

