<template>
  <div class="w-100 position-relative">
    <!-- economy class -->
    <div class="cabin-class pt-0 pb-0 pt-lg-5 pb-lg-3" v-if="currentCabinClass==='economy'">
      <div class="col-lg-12">
        <div class="row">
          <div
            class="col-12 col-lg-3"
            v-for="(item, key, index) in cabin.economyCabinClassList"
            :key="index"
          >
            <div class="card mb-3 mb-lg-0" v-bind:class="{ 'card--active': item.availableSeat==0 }">
              <div class="card-body">
                <div class="card-title">
                  <h2>{{item.className}}</h2>
                  <img
                    class="cabin-class__info"
                    src="@/assets/ic-info.svg"
                    alt="close icon"
                    @click="switchFlightModal(index,'economy')"
                  >
                </div>
                <div class="card-text">
                  <ul>
                    <li v-if="item.wifi">
                      <img class="cabin-class__icon" src="@/assets/ic-wifi.svg" alt="close icon">
                      <p>免費無線上網</p>
                    </li>
                    <li>
                      <img class="cabin-class__icon" src="@/assets/ic-luggage.svg" alt="close icon">
                      <p>{{item.luggage}} kg 行李</p>
                    </li>
                    <li>
                      <img class="cabin-class__icon" src="@/assets/ic-gift.svg" alt="close icon">
                      <p>累積 {{item.milage}}% 哩程</p>
                    </li>
                  </ul>
                  <span
                    v-if="item.availableSeat"
                    class="card__rest-seats"
                  >僅餘 {{item.availableSeat}} 個座位</span>
                  <button
                    class="pill-btn pill-btn-primary btn-long"
                    @click="cabinSelect(item, flightType)"
                  >TWD {{$n(item.price)}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <a @click="currentCabinClassChange('commercial')" class="card__promotion">
              <p>再多付 TWD {{ $n(9999) }} 即可享有商務艙服務</p>
              <img class="cabin-class__icon" src="@/assets/btn-next-s.svg" alt="close icon">
            <a @click="currentCabinClassChange('commercial')" class="card__promotion pt-2 pb-5">
          </div>
        </div>
      </div>
    </div>
    <!-- commercial class -->
    <div class="cabin-class pt-4 pb-2 pt-lg-5 pb-lg-3" v-if="currentCabinClass === 'commercial'">
      <div class="col-lg-12">
        <div class="row">
          <div
            class="col-lg-4"
            v-for="(item, key, index) in cabin.commercialCabinClassList"
            :key="index"
          >
            <div class="card mb-3 mb-lg-0" v-bind:class="{ 'card--active': item.availableSeat==0 }">
              <div class="card-body">
                <div class="card-title">
                  <h2>{{item.className}}</h2>
                  <img class="cabin-class__info" src="@/assets/ic-info.svg" alt="close icon" @click="switchFlightModal(index, 'commercial')">
                </div>
                <div class="card-text">
                  <ul>
                    <li v-if="item.wifi">
                      <img class="cabin-class__icon" src="@/assets/ic-wifi.svg" alt="close icon">
                      <p>免費無線上網</p>
                    </li>
                    <li>
                      <img class="cabin-class__icon" src="@/assets/ic-luggage.svg" alt="close icon">
                      <p>{{item.luggage}} kg 行李</p>
                    </li>
                    <li>
                      <img class="cabin-class__icon" src="@/assets/ic-gift.svg" alt="close icon">
                      <p>累積 {{item.milage}}% 哩程</p>
                    </li>
                  </ul>
                  <span
                    v-if="item.availableSeat"
                    class="card__rest-seats"
                  >僅餘 {{item.availableSeat}} 個座位</span>
                  <button
                    class="pill-btn pill-btn-primary btn-long"
                    @click="cabinSelect(item, flightType)"
                  >TWD {{$n(item.price)}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <a @click="currentCabinClassChange('economy')" class="card__promotion py-4 left">
              <p>返回經濟艙票價</p>
              <img class="cabin-class__icon" src="@/assets/btn-next-s.svg" alt="close icon">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['cabin', 'flightType'],
  data() {
    return {
      currentCabinClass: 'economy',
      selectedCabinClass: null,
    };
  },
  methods: {
    currentCabinClassChange(val) {
      this.currentCabinClass = val;
    },
    cabinSelect(val, type) {
      if (type == 'dep') {
        this.$store.commit('depSelectCabin', val);
      } else if (type == 'arr') {
        this.$store.commit('arrSelectCabin', val);
      }
    },
    switchFlightModal(index, cabinClass){
      this.$store.commit({
        type: '#flightModalDepSwitch',
        index: index,
        cabinClass: cabinClass,
        opened: true
      });
    }
  }
}
</script>
<style lang="scss">
// cabin-class
.cabin-class {
  width: 100%;
  position: relative;
  .card {
    border: 1px solid $brown;
    border-radius: 4px;
    box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
    background-color: #fff;
    .card-text {
      padding: 20px;
    }
    .card-title {
      padding: 20px 0;
      text-align: center;
      color: $brown;
      border-bottom: 1px solid $brown;
      margin-bottom: 0;
      h2 {
        display: inline;
      }
    }
    .cabin-class__info {
      float: right;
      margin-top: 3px;
      cursor: pointer;
    }
    ul {
      padding: 0;
      max-width: 160px;
      margin: 0 auto 40px auto;
      height: 92px;
      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
    .cabin-class__icon {
      float: none;
      display: inline-block;
      margin-right: 10px;
      margin-top: -6px;
    }
    .card-text {
      margin: 0;
      p {
        display: inline-block;
        margin: 0;
      }
    }
    .pill-btn {
      margin-top: 10px;
      padding: 0.8rem 0;
      box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
    }
  }
	.card--active{
    opacity: 0.5;
    pointer-events: none;
	}
	.card__promotion{
		float: right;
    cursor: pointer;
    p {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0;
      color: $gold;
      text-decoration: underline;
    }
    .cabin-class__icon {
      display: inline-block;
    }
  }
  .left {
    float: left;
    .cabin-class__icon {
      float: left;
      margin-right: 10px;
      transform: rotate(180deg);
    }
  }
  .card__rest-seats {
    text-align: center;
    display: block;
    color: $red;
    margin-top: -21px;
    font-size: $small-font-size;
  }
}
.cabin-class::after {
  content: '';
  position: absolute;
  width: 100vw;
  margin-left: calc(-100vw / 2 + 1140px / 2);
  height: 455px;
  border-top: 1px solid $brown-light;
  border-bottom: 1px solid $brown-light;
  background-color: $ivory-light;
  top: -1px;
  z-index: -1;
}

@include media-breakpoint-down(md) {
  .cabin-class {
    .card-body {
      padding: 0 1rem;
    }
    &:after {
      display: none;
      width: 100%;
      position: relative;
    }
  }
}
</style>
