<template>
  <div class="calendar-selector d-flex align-items-stretch" :class="{ 'disabled': showDisabled }">
    <div class="form-group w-100">
      <label for>
        <small>{{ title }}</small>
      </label>
      <div class="datepicker">
        <div v-if="hasInput">
          <input
            :id="elementId"
            class="form-control datepicker-input"
            :class="classes"
            :disabled="showDisabled"
            type="text"
            :placeholder="placeholder"
            :style="{width: 642}"
            @focus="inputClick"
            v-model="inputValue"
          >
        </div>

        <div
          class="datepicker-wrapper"
          ref="popup"
          v-transfer="transfer"
          v-show="isWrapperShow"
          :style="paneStyle"
        >
          <div
            class="datepicker-popup"
            @mouseover="handleMouseOver"
            @mouseout="handleMouseOver"
            v-show="displayDayView"
          >
            <div class="datepicker-ctrl">
              <span
                class="datepicker-preBtn glyphicon glyphicon-chevron-left"
                aria-hidden="true"
                @click="preNextMonthClick(0)"
              ></span>
              <span
                class="datepicker-nextBtn glyphicon glyphicon-chevron-right"
                aria-hidden="true"
                @click="preNextMonthClick(1)"
              ></span>
            </div>
            <div class="datepicker-inner" v-for="(p, pan) in pane" :key="p + '-displayDayView' ">
              <div class="datepicker-body">
                <!-- show year and month -->
                <p
                  class="datepicker-month-year"
                  @click="switchMonthView"
                >{{stringifyDayHeader(currDate, pan)}}</p>
                <div class="datepicker-weekRange">
                  <span v-for="w in text.daysOfWeek" :key="w">{{w}}</span>
                </div>
                <div class="datepicker-dateRange">
                  <span
                    v-for="d in dateRange[pan]"
                    class="day-cell"
                    :class="getItemClasses(d)"
                    :data-date="stringify(d.date)"
                    @click="daySelect(d, $event)"
                    :key="p + '-' + d.date + '-displayDayView-dateRange' "
                  >
                    <div>{{d.text}}</div>
                    <div v-if="d.sclass !== 'datepicker-item-gray'">
                      <slot :name="stringify(d.date)"></slot>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="datepicker-popup" v-if="!showDateOnly" v-show="displayMonthView">
            <div class="datepicker-ctrl">
              <span
                class="datepicker-preBtn glyphicon glyphicon-chevron-left"
                aria-hidden="true"
                @click="preNextYearClick(0)"
              ></span>
              <span
                class="datepicker-nextBtn glyphicon glyphicon-chevron-right"
                aria-hidden="true"
                @click="preNextYearClick(1)"
              ></span>
            </div>
            <div class="datepicker-inner" v-for="(p, pan) in pane" :key="p + '-displayMonthView' ">
              <div class="datepicker-body">
                <!-- select year -->
                <p
                  class="datepicker-month-year"
                  @click="switchDecadeView"
                >{{stringifyYearHeader(currDate, pan)}}</p>
                <div class="datepicker-monthRange">
                  <!-- select month -->
                  <span
                    v-for="(m, $index) in text.months"
                    :key="m + '-displayMonthView-monthRange' "
                    :class="{'datepicker-dateRange-item-active':(text.months[parse(value).getMonth()]  === m) && currDate.getFullYear() + pan === parse(value).getFullYear()}"
                    @click="monthSelect(stringifyYearHeader(currDate, pan), $index)"
                  >{{m}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="datepicker-popup" v-if="!showDateOnly" v-show="displayYearView">
            <div class="datepicker-ctrl">
              <span
                class="datepicker-preBtn glyphicon glyphicon-chevron-left"
                aria-hidden="true"
                @click="preNextDecadeClick(0)"
              ></span>
              <span
                class="datepicker-nextBtn glyphicon glyphicon-chevron-right"
                aria-hidden="true"
                @click="preNextDecadeClick(1)"
              ></span>
            </div>
            <div class="datepicker-inner" v-for="(p, pan) in pane" :key="p + '-displayYearView' ">
              <div class="datepicker-body">
                <p class="datepicker-month-year">{{stringifyDayHeader(currDate, pan)}}</p>
                <div class="datepicker-monthRange decadeRange">
                  <span
                    v-for="decade in decadeRange[pan]"
                    :key="decade.text + '-displayYearView-monthRange' "
                    :class="{'datepicker-dateRange-item-active': parse(inputValue).getFullYear() === decade.text}"
                    @click.stop="yearSelect(decade.text)"
                  >{{decade.text}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
function getTarget(node) {
  if (node === void 0) {
    node = document.body;
  }
  if (node === true) {
    return document.body;
  }
  return node instanceof window.Node ? node : document.querySelector(node);
}

const transfer = {
  inserted(el, binding) {
    const value = binding.value;
    if (value === false) return false;
    el.className = el.className ? el.className + ' v-transfer' : 'v-transfer';
    const parentNode = el.parentNode;
    if (!parentNode) return;
    const home = document.createComment('');
    let hasMovedOut = false;
    if (value !== false) {
      parentNode.replaceChild(home, el); // moving out, el is no longer in the document
      getTarget(value).appendChild(el); // moving into new place
      hasMovedOut = true;
    }
    if (!el.__transferDomData) {
      el.__transferDomData = {
        parentNode: parentNode,
        home: home,
        target: getTarget(value),
        hasMovedOut: hasMovedOut,
      };
    }
  },
  componentUpdated(el, binding) {
    const value = binding.value;
    if (value === false) return false;
    // need to make sure children are done updating (vs. `update`)
    const ref$1 = el.__transferDomData;
    if (!ref$1) return;
    // homes.get(el)
    const parentNode = ref$1.parentNode;
    const home = ref$1.home;
    const hasMovedOut = ref$1.hasMovedOut; // recall where home is

    if (!hasMovedOut && value) {
      // remove from document and leave placeholder
      parentNode.replaceChild(home, el);
      // append to target
      getTarget(value).appendChild(el);
      el.__transferDomData = Object.assign({}, el.__transferDomData, {
        hasMovedOut: true,
        target: getTarget(value),
      });
    } else if (hasMovedOut && value === false) {
      // previously moved, coming back home
      parentNode.replaceChild(el, home);
      el.__transferDomData = Object.assign({}, el.__transferDomData, {
        hasMovedOut: false,
        target: getTarget(value),
      });
    } else if (value) {
      // already moved, going somewhere else
      getTarget(value).appendChild(el);
    }
  },
  unbind(el, binding) {
    const value = binding.value;
    if (value === false) return false;
    el.className = el.className.replace('v-transfer', '');
    const ref$1 = el.__transferDomData;
    if (!ref$1) return;
    if (el.__transferDomData.hasMovedOut === true) {
      el.__transferDomData.parentNode &&
        el.__transferDomData.parentNode.appendChild(el);
    }
    el.__transferDomData = null;
  },
};
export default {
  name: 'calendar',
  props: {
    value: {
      type: [String, Date],
    },
    format: {
      default: 'yyyy-MM-dd',
    },
    width: {
      type: String,
      default: '100%',
    },
    inputClasses: {
      type: String,
      default: '',
    },
    lang: {
      type: String,
      default: navigator.language,
    },
    title: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
    },
    hasInput: {
      type: Boolean,
      default: true,
    },
    isDisabled: {
      type: Boolean,
      default: false,
    },
    pane: {
      type: Number,
      default: 1,
    },
    borderWidth: {
      type: Number,
      default: 2,
    },
    onDayClick: {
      type: Function,
      default() {},
    },
    changePane: {
      type: Function,
      default() {},
    },
    rangeBus: {
      type: Function,
      default() {
        // return new Vue()
      },
    },
    rangeStatus: {
      type: Number,
      default: 0,
    },
    onDrawDate: {
      type: Function,
      default() {},
    },
    maxDate: {
      type: String,
    },
    minDate: {
      type: String,
    },
    showDateOnly: {
      type: Boolean,
      default: false,
    },
    transfer: {
      type: Boolean,
      default: false,
    },
    elementId: [String],
  },
  directives: {
    transfer,
  },
  mounted() {
    this._blur = (e) => {
      if (this.transfer) {
        if (
          !this.$el.contains(e.target) &&
          !this.$refs.popup.contains(e.target) &&
          this.hasInput
        )
          this.close();
      } else {
        if (!this.$el.contains(e.target) && this.hasInput) this.close();
      }
    };
    this.$emit('child-created', this);
    this.inputValue = this.value;
    this.dateFormat = this.format;
    this.currDate = this.parse(this.inputValue) || this.parse(new Date());
    const year = this.currDate.getFullYear();
    const month = this.currDate.getMonth();
    this.changePane(year, month, this.pane);
    if (!this.hasInput) {
      this.displayDayView = true;
      this.updatePaneStyle();
    }
    if (this.rangeStatus) {
      this.eventbus = this.rangeBus();
      if (typeof this.eventbus === 'object' && !this.eventbus.$on) {
        // console.warn('Calendar rangeBus doesn\'t exist')
        this.rangeStatus = 0;
      }
    }
    if (this.rangeStatus === 2) {
      this._updateRangeStart = (date) => {
        this.rangeStart = date;
        this.currDate = date;

        // if arr date over dep date
        if (this.stringify(this.currDate) >= this.inputValue) {
          this.inputValue = this.stringify(this.currDate);
          this.rangeMinDate = date;
        } else {
          this.rangeMinDate = date;
        }
        // remove disabled
        this.showDisabled = false;
        // auto open next calendar
        this.displayDayView = true;
      };
      this.eventbus.$on('calendar-rangestart', this._updateRangeStart);
    }
    document.addEventListener('click', this._blur);
  },
  beforeDestroy() {
    document.removeEventListener('click', this._blur);
    if (this.rangeStatus === 2) {
      this.eventbus.$off('calendar-rangestart', this._updateRangeStart);
    }
  },
  data() {
    return {
      // inputValue: this.value,
      dateFormat: this.format,
      currDate: new Date(),
      dateRange: [],
      decadeRange: [],
      paneStyle: {
        width: '642px',
      },
      displayDayView: false,
      displayMonthView: false,
      displayYearView: false,
      rangeStart: '',
      rangeEnd: '',
      rangeMinDate: new Date(new Date().setDate(new Date().getDate() - 1)),
      rangeMaxDate: '',
      showDisabled: this.isDisabled,
    };
  },
  watch: {
    currDate() {
      this.getDateRange();
    },
    value(v) {
      this.inputValue = v;
      // 要顯示 "yyyy 年 mm 月 dd 日, 周 w"  目前死掉中因為 dateformat 不符合，待解 - 20181227 moshi
      // this.inputValue = this.$d(new Date(v), 'longWeekday')
    },
  },
  computed: {
    text() {
      return this.translations(this.lang);
    },
    isWrapperShow() {
      return (
        this.displayDayView || this.displayMonthView || this.displayYearView
      );
    },
    inputValue: {
      get() {
        return this.value;
      },
      set(v) {
        this.$emit('input', v);
        // console.log(v)
        this.currDate = this.parse(v);
        if (this.rangeStatus === 1 && this.eventbus) {
          this.eventbus.$emit('calendar-rangestart', this.currDate);
        }
      },
    },
    classes() {
      var classes = this.inputClasses;
      // if (this.clearButton) {
      //   classes += ' with-reset-button'
      // }
      return classes;
    },
  },
  methods: {
    handleMouseOver(event) {
      let target = event.target;
      // this.rangeEnd = false
      if (!this.rangeStart) {
        return true;
      }
      if (event.type === 'mouseout') {
        return true;
      }
      while (
        this.$el.contains(target) &&
        !~target.className.indexOf('day-cell')
      ) {
        target = target.parentNode;
      }
      if (
        ~target.className.indexOf('day-cell') &&
        !~target.className.indexOf('datepicker-item-gray')
      ) {
        const rangeEnd = target.getAttribute('data-date');
        if (this.rangeStart < this.parse(rangeEnd)) {
          this.rangeEnd = this.parse(rangeEnd);
        }
      }
    },
    __OnDrawDate(e) {
      let date = e.date;
      let maxDate = this.parse(this.maxDate, false);
      let rangeMinDate = this.parse(this.rangeMinDate, false);
      if (this.isDate(maxDate)) {
        if (date.getTime() > maxDate.getTime()) {
          e.allowSelect = false;
        }
      }
      if (this.isDate(rangeMinDate)) {
        if (date.getTime() < rangeMinDate.getTime()) {
          e.allowSelect = false;
        }
      }
      this.$emit('drawdate', e);
      this.onDrawDate(e);
    },
    getItemClasses(d) {
      d.allowSelect = true;
      this.__OnDrawDate(d);
      const clazz = [];
      clazz.push(d.sclass);
      if (
        this.rangeStart &&
        this.rangeEnd &&
        d.sclass !== 'datepicker-item-gray'
      ) {
        if (d.date > this.rangeStart && d.date < this.rangeEnd) {
          clazz.push('daytoday-range');
        }
        /* eslint-disable eqeqeq */
        if (this.stringify(d.date) == this.stringify(this.rangeStart)) {
          clazz.push('daytoday-start');
        }
        /* eslint-disable eqeqeq */
        if (this.stringify(d.date) == this.stringify(this.rangeEnd)) {
          clazz.push('daytoday-end');
        }
      }
      if (d.allowSelect == false) {
        clazz.push('datepicker-item-disabled');
      }
      return clazz.join(' ');
    },
    translations(lang) {
      lang = lang || 'en';
      let text = {
        daysOfWeek: this.$t('daysOfWeek'),
        months: this.$t('months'),
      };
      return window.VueCalendarLang ? window.VueCalendarLang(lang) : text;
    },
    close() {
      this.displayDayView = this.displayMonthView = this.displayYearView = false;
    },
    inputClick() {
      // if (this.showDisabled) return
      this.currDate = this.parse(this.inputValue) || this.parse(new Date());
      if (this.displayMonthView || this.displayYearView) {
        this.displayDayView = false;
      } else {
        this.displayDayView = !this.displayDayView;
      }
      this.updatePaneStyle();
    },
    getElOffset(el) {
      let offsetParent = el;
      let top = el.offsetTop;
      let left = el.offsetLeft;
      while (offsetParent != document.body) {
        offsetParent = offsetParent.offsetParent;
        // prevent calendar console error in modal
        if (offsetParent == null) {
          return false;
        }
        top += offsetParent.offsetTop;
        left += offsetParent.offsetLeft;
      }
      return {
        top,
        left,
      };
    },
    updatePaneStyle() {
      if (!(this.displayMonthView || this.displayYearView)) {
        this.$nextTick(function() {
          let { left, top } = this.getElOffset(this.$el);
          let offsetLeft = this.$el.offsetLeft;
          let elWidth = this.$el.offsetWidth;
          let offsetTop = top + this.$el.offsetHeight;
          let offsetWidth = this.$refs.popup.querySelector('.datepicker-inner')
            .offsetWidth;
          // let popWidth = this.pane * offsetWidth + this.borderWidth // add border
          let popWidth = this.paneStyle;
          this.paneStyle.width = popWidth + 'px';
          if (this.hasInput) {
            if (this.transfer) {
              this.paneStyle.left = left + 'px';
              this.paneStyle.top = offsetTop + 'px';
              if (popWidth + left > document.documentElement.clientWidth) {
                this.paneStyle.left = left + elWidth - popWidth + 'px';
              }
            } else {
              if (
                popWidth + offsetLeft >
                document.documentElement.clientWidth
              ) {
                this.paneStyle.right = '0px';
              }
            }
          } else {
            this.paneStyle.position = 'initial';
          }
          this.$forceUpdate();
        });
      }
    },
    preNextDecadeClick(flag) {
      const year = this.currDate.getFullYear();
      const months = this.currDate.getMonth();
      const date = this.currDate.getDate();
      if (flag === 0) {
        this.currDate = new Date(year - 10, months, date);
      } else {
        this.currDate = new Date(year + 10, months, date);
      }
    },
    preNextMonthClick(flag) {
      const year = this.currDate.getFullYear();
      const month = this.currDate.getMonth();
      const date = this.currDate.getDate();
      if (flag === 0) {
        const preMonth = this.getYearMonth(year, month - 1);
        this.currDate = new Date(preMonth.year, preMonth.month, date);
        this.changePane(preMonth.year, preMonth.month, this.pane);
      } else {
        const nextMonth = this.getYearMonth(year, month + 1);
        this.currDate = new Date(nextMonth.year, nextMonth.month, date);
        this.changePane(nextMonth.year, nextMonth.month, this.pane);
      }
    },
    preNextYearClick(flag) {
      const year = this.currDate.getFullYear();
      const months = this.currDate.getMonth();
      const date = this.currDate.getDate();
      if (flag === 0) {
        this.currDate = new Date(year - 1, months, date);
      } else {
        this.currDate = new Date(year + 1, months, date);
      }
    },
    yearSelect(year) {
      this.displayYearView = false;
      this.displayMonthView = true;
      this.currDate = new Date(
        year,
        this.currDate.getMonth(),
        this.currDate.getDate(),
      );
    },
    daySelect(item, event) {
      let date = item.date;
      let el = event.target;
      if (
        item.allowSelect == false ||
        el.classList[0] === 'datepicker-item-disable'
      ) {
        return false;
      } else {
        if (this.hasInput) {
          this.currDate = date;
          this.inputValue = this.stringify(this.currDate);
          this.displayDayView = false;
        } else {
          this.onDayClick(date, this.stringify(date));
        }
      }
    },
    switchMonthView() {
      if (this.showDateOnly) {
        return true;
      }
      this.displayDayView = false;
      this.displayMonthView = true;
    },
    switchDecadeView() {
      this.displayMonthView = false;
      this.displayYearView = true;
    },
    monthSelect(year, index) {
      this.displayMonthView = false;
      this.displayDayView = true;
      this.currDate = new Date(year, index, this.currDate.getDate());
      this.changePane(year, index, this.pane);
    },
    getYearMonth(year, month) {
      if (month > 11) {
        year++;
        month = 0;
      } else if (month < 0) {
        year--;
        month = 11;
      }
      return { year: year, month: month };
    },
    stringifyDecadeHeader(date, pan) {
      const yearStr = date.getFullYear().toString();
      const firstYearOfDecade =
        parseInt(yearStr.substring(0, yearStr.length - 1) + 0, 10) + pan * 10;
      const lastYearOfDecade = parseInt(firstYearOfDecade, 10) + 10;
      return firstYearOfDecade + '-' + lastYearOfDecade;
    },
    siblingsMonth(v, n) {
      return new Date(v.getFullYear(), v.getMonth() * 1 + n);
    },
    stringifyDayHeader(date, month = 0) {
      const d = this.siblingsMonth(date, month);
      return (
        d.getFullYear() + this.$t('years') + this.text.months[d.getMonth()]
      );
    },
    parseMonth(date) {
      return this.text.months[date.getMonth()];
    },
    stringifyYearHeader(date, year = 0) {
      return date.getFullYear() + year;
    },
    isDate(value) {
      return !!(value && value.getFullYear);
    },
    stringify(date, format = this.dateFormat) {
      if (!date) date = this.parse(this.inputValue);
      if (!date) return '';
      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      const day = date.getDate();
      const monthName = this.parseMonth(date);
      return format
        .replace(/yyyy/g, year)
        .replace(/MMMM/g, monthName)
        .replace(/MMM/g, monthName.substring(0, 3))
        .replace(/MM/g, ('0' + month).slice(-2))
        .replace(/dd/g, ('0' + day).slice(-2))
        .replace(/yy/g, year)
        .replace(/M(?!a)/g, month)
        .replace(/d/g, day);
    },
    parse(str, safe = true) {
      if (typeof str == 'string') {
        let date;
        if (
          str.length === 10 &&
          (this.dateFormat === 'dd-MM-yyyy' || this.dateFormat === 'dd/MM/yyyy')
        ) {
          date = new Date(
            str.substring(6, 10),
            str.substring(3, 5) - 1,
            str.substring(0, 2),
          );
        } else {
          date = new Date(str);
          date.setHours(0, 0, 0);
        }
        return isNaN(date.getFullYear()) ? (safe ? new Date() : date) : date;
      } else return str;
    },
    getDayCount(year, month) {
      const dict = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
      if (month === 1) {
        if (year % 400 === 0 || (year % 4 === 0 && year % 100 !== 0)) {
          return 29;
        }
      }
      return dict[month];
    },
    getDateRange() {
      this.dateRange = [];
      this.decadeRange = [];
      for (let p = 0; p < this.pane; p++) {
        let currMonth = this.siblingsMonth(this.currDate, p);
        let time = {
          year: currMonth.getFullYear(),
          month: currMonth.getMonth(),
        };
        let yearStr = time.year.toString();
        this.decadeRange[p] = [];
        let firstYearOfDecade =
          yearStr.substring(0, yearStr.length - 1) + 0 - 1;
        for (let i = 0; i < 12; i++) {
          this.decadeRange[p].push({
            text: firstYearOfDecade + i + p * 10,
          });
        }
        this.dateRange[p] = [];
        const currMonthFirstDay = new Date(time.year, time.month, 1);
        let firstDayWeek = currMonthFirstDay.getDay() + 1;
        if (firstDayWeek === 0) {
          firstDayWeek = 7;
        }
        const dayCount = this.getDayCount(time.year, time.month);
        if (firstDayWeek > 1) {
          const preMonth = this.getYearMonth(time.year, time.month - 1);
          const prevMonthDayCount = this.getDayCount(
            preMonth.year,
            preMonth.month,
          );
          for (let i = 1; i < firstDayWeek; i++) {
            const dayText = prevMonthDayCount - firstDayWeek + i + 1;
            this.dateRange[p].push({
              text: dayText,
              date: new Date(preMonth.year, preMonth.month, dayText),
              sclass: 'datepicker-item-gray',
            });
          }
        }
        for (let i = 1; i <= dayCount; i++) {
          const date = new Date(time.year, time.month, i);
          // const week = date.getDay()
          let sclass = '';
          // this.disabledDaysOfWeek.forEach((el) => {
          //   if (week === parseInt(el, 10)) sclass = 'datepicker-item-disable'
          // })
          if (i === this.currDate.getDate()) {
            if (this.inputValue) {
              const valueDate = this.parse(this.inputValue);
              if (valueDate) {
                if (
                  valueDate.getFullYear() === time.year &&
                  valueDate.getMonth() === time.month
                ) {
                  sclass = 'datepicker-dateRange-item-active';
                }
              }
            }
          }
          this.dateRange[p].push({
            text: i,
            date: date,
            sclass: sclass,
          });
        }
        if (this.dateRange[p].length < 42) {
          const nextMonthNeed = 42 - this.dateRange[p].length;
          const nextMonth = this.getYearMonth(time.year, time.month + 1);
          for (let i = 1; i <= nextMonthNeed; i++) {
            this.dateRange[p].push({
              text: i,
              date: new Date(nextMonth.year, nextMonth.month, i),
              sclass: 'datepicker-item-gray',
            });
          }
        }
      }
    },
  },
};
</script>

<style lang="scss">
.datepicker {
  position: relative;
  background: $white;
  input {
    width: 100%;
  }
  > button.close {
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    z-index: 2;
    display: block;
    text-align: center;
  }
  > button.close:focus {
    opacity: 0.2;
  }
}
.datepicker-wrapper {
  position: absolute;
  z-index: 1000;
  color: $black;
}

.datepicker-popup {
  border: 1px solid $brown;
  background: $white;
  margin-top: 2px;
  box-shadow: -4px 4px 0px rgba(153, 106, 78, 0.2);
  @include clearfix;
}
.datepicker-inner {
  max-width: 320px;
  float: left;
}
.datepicker-body {
  padding: 40px 20px;
  text-align: center;
}
.datepicker-month-year {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.datepicker-input {
  height: 76px;
  position: relative;
  z-index: 0;
  background: none;
  font-size: $h4-font-size;
  cursor: pointer;
  padding: 37px 0 14px 16px;
  border: 1px solid $ivory-dark;
}
input.datepicker-input.with-reset-button {
  padding-right: 25px;
}

.calendar-selector {
  height: 76px;
  .datepicker-input {
    color: $iron-lighter;
    position: relative;
    &::placeholder {
      color: $iron-lighter;
      position: relative;
    }
  }
  label {
    position: absolute;
    margin: 0;
    padding: 14px 0 0 17px;
    small {
      font-weight: 500;
    }
  }
  .form-group {
    height: 42px;
    > label {
      color: $ink;
      z-index: 1;
    }
  }
  &.disabled {
    background-color: #efebe3;
    .datepicker-input {
      color: $brown-light;
      cursor: not-allowed;
      &::placeholder {
        color: $brown-light;
      }
    }
    * {
      &:hover,
      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
    .form-group {
      > label {
        color: $brown-light;
      }
    }
    .datepicker {
      background: none;
      &:hover,
      &:focus {
        outline: 0;
      }
    }
  }
}
.calendar-selector::after {
  content: '';
  background-image: url('~@/assets/ic-d-arrow-black.svg');
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  right: 29px;
  top: 18px;
}

.datepicker-ctrl {
  margin: 0 25px;
  position: relative;
  top: 40px;
  /*height: 30px;*/
  line-height: 30px;
  font-weight: $font-weight-bold;
  text-align: center;

  p {
    width: 65%;
  }
  span {
    width: 34px;
    height: 34px;
    display: inline-block;
    position: absolute;
  }
}

.datepicker-ctrl p,
.datepicker-body span {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
}

.datepicker-body span div {
  text-align: center;
  font-size: $font-size-sm;
  border-radius: 50%;
}

.datepicker-item-disable {
  background-color: $white !important;
  cursor: not-allowed !important;
}
.decadeRange span:first-child,
.decadeRange span:last-child,
.datepicker-item-disable,
.datepicker-item-gray {
  color: #999;
}
.datepicker-dateRange-item-active:hover div,
.datepicker-dateRange-item-active div,
.datepicker-monthRange .datepicker-dateRange-item-active {
  background: $iron-light !important;
  color: $white !important;
  border-radius: 50%;
}

.datepicker-item-disabled {
  color: #aaa;
  text-decoration: line-through;
}

.datepicker-monthRange {
  margin-top: 10px;
  span {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: 1px;
    border-radius: 50%;
  }
}

.datepicker-monthRange span,
.datepicker-ctrl span,
.datepicker-ctrl p,
.datepicker-dateRange span {
  cursor: pointer;
}
.datepicker-monthRange span:hover,
.datepicker-ctrl p:hover,
.datepicker-ctrl i:hover,
.datepicker-dateRange span:hover div,
.datepicker-dateRange-item-hover {
  background-color: $ivory;
}

.datepicker-dateRange {
  .daytoday-range,
  .daytoday-range:hover {
    background-color: $ivory;
  }

  .daytoday-range span div {
    border-radius: 0;
  }

  .daytoday-start div,
  .daytoday-start:hover div {
    background: $iron-light !important;
    color: $white !important;
  }
  .daytoday-end div,
  .daytoday-end:hover div {
    background: $brown !important;
    color: $white !important;
  }

  .daytoday-start {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(243, 240, 223, 1) 50%,
      rgba(243, 240, 223, 1) 100%
    );
  }
  .daytoday-end {
    background: linear-gradient(
      to right,
      rgba(243, 240, 223, 1) 0%,
      rgba(243, 240, 223, 1) 50%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.datepicker-weekRange {
  margin-bottom: 0.8rem;
  border-top: 1px solid rgba(199, 173, 158, 0.3);
  border-bottom: 1px solid rgba(199, 173, 158, 0.3);
  span {
    font-weight: bold;
  }
}

.datepicker-label {
  // background-color: #f8f8f8;
  font-weight: $font-weight-bold;
  text-align: center;
}

.month-btn {
  font-weight: $font-weight-bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker-preBtn {
  left: 2px;
  background-image: url('~@/assets/btn-calendar-prev.svg');
}
.datepicker-nextBtn {
  right: 2px;
  background-image: url('~@/assets/btn-calendar-next.svg');
}
</style>
