<template>
  <div class="footer background d-flex justify-content-center align-items-center text-center">
    <div class="container">
      <p class="m-0">© Copyright 2018, STARLUX Airlines Co., Ltd. All rights reserved.</p>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.background {
  color: var(--gray);
  height: 80px;
}
</style>
