<template>
  <nav class="container-fluid nav d-print-none">
    <header class="row border-bottom">
      <div class="col-6 col-lg-3">
        <a href="/" class="brand-logo">
          <img src="~@/assets/starlux_logo.svg" alt="Starlux logo">
        </a>
      </div>
      <div class="col-6 col-lg-9 text-right">
        <ul class="d-flex">
          <li>
            <a href="#">test1</a>
          </li>
          <li>
            <a href="#">test2</a>
          </li>
          <li>
            <a href="#">test3</a>
          </li>
        </ul>
        <p>{{$t('testing')}}</p>
        <DummyLangChange/>
      </div>
    </header>
  </nav>
</template>
<script>
import DummyLangChange from '@/components/DummyLangChange';
export default {
  components: {
    DummyLangChange,
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.brand-logo {
  display: block;
  img {
    width: 240px;
  }
}
@include media-breakpoint-down(md) {
  .brand-logo {
    img {
      width: 180px;
    }
  }
}
</style>





