<template>
  <div class="price-list__container">
    <div class="price-list" :class="{disabled: isDisabled}">
      <input
        type="radio"
        :name="type + replaceSlash(data.depDate)"
        :id="type + data.flightNo + replaceSlash(data.depDate)"
        :value="type + data.flightNo + replaceSlash(data.depDate) + data.depTime.split(':').join('')"
        v-model="checkStatus"
        :checked="type + data.flightNo + replaceSlash(data.depDate) + data.depTime.split(':').join('') === selectedFlight"
        :disabled="isDisabled"
      >
      <!-- selector -->
      <label
        class="col-lg-12 item border border-brown-light px-3 px-md-5 py-4"
        :class="{disabled: data.isSoldOut, active: isModalOpen}"
        :for="type + data.flightNo + replaceSlash(data.depDate)"
        @click="getFlightDetails(data, $event)"
      >
        <div class="row">
          <span v-if="data.prices === cheapest" class="cheapest">最低票價</span>
          <div
            class="col-12 row col-lg-5 px-3 px-lg-5 border-brown-light border-right-lg-1 mb-4 mb-lg-0 align-items-center"
          >
            <div class="col-4">
              <h2 class="time font-weight-bold mb-0">{{data.depTime | formatTime}}</h2>
              <div class="note">{{depAirportCode}}</div>
            </div>
            <div class="col-4 d-flex align-items-center fly-to-icon">cursor</div>
            <div class="col-4">
              <h2 class="time font-weight-bold mb-0">{{data.arrTime | formatTime}}</h2>
              <div class="note">{{arrAirportCode}}</div>
            </div>
          </div>
          <div
            class="col-12 col-lg-4 px-3 px-lg-5 border-brown-light border-right-lg-1 mb-4 mb-lg-0"
          >
            <h4 class="t-16 duration">
              <span v-if="data.isDirect">直飛 ·</span>
              {{data.duration | formatFlightDuration}}
            </h4>
            <div class="note">
              <span class="flight-logo-xs-icon mr-2"></span>
              <span class="flight-no mr-1">{{data.flightNo}}</span>
              <span class="flight-model mr-1">Airbus A321neo</span>
              <span class="flight-info" @click.stop="toggleFlightDetail">查看航班資訊</span>
            </div>
          </div>
          <div
            class="col-12 col-lg-3 text-left text-lg-right d-flex justify-content-center flex-column"
          >
            <h2 class="price mb-0">
              <small class="currency note mr-2">{{currency}}</small>
              <span class="price mr-2">{{$n(data.prices)}}</span>
              <small>{{$t('lb_twd_price')}}</small>
            </h2>
            <p class="b text-iron-lighter">每位成人</p>
            <!-- <span class="note">最低價格</span> -->
            <span class="price__arrow"></span>
          </div>
        </div>
      </label>
    </div>
    
    <div v-if="isChecked && flightDetails && flightDetails.length !== 0" class="row">
      <!-- economy class -->
      <div style="position:relative;width: 100%;">
        <div class="cabin-class">
          <div class="col-lg-12">
            <div class="row">
              <div
                class="col-lg-3"
                v-for="(item, index) in flightDetails"
                :key="index"
              >
                <div class="card" v-bind:class="{ 'card--active': item.isSoldOut || isDisabled }">
                  <div class="card-body p-0">
                    <div class="card-title">
                      <h2>{{item.fareFamilyName}}</h2>
                      <img
                        class="cabin-class__info"
                        src="@/assets/ic-info.svg"
                        alt="close icon"
                        @click="toggleCabinClassDetail(item.fareFamilyCode)"
                      >
                    </div>
                    <div class="card-text">
                      <ul>
                        <li v-if="item.wifi">
                          <img class="cabin-class__icon" src="@/assets/ic-wifi.svg" alt="close icon">
                          <p>{{item.fareInfo.wifi}}</p>
                        </li>
                        <li>
                          <img class="cabin-class__icon" src="@/assets/ic-luggage.svg" alt="close icon">
                          <p>{{item.fareInfo.baggage}} kg 行李</p>
                        </li>
                        <li>
                          <img class="cabin-class__icon" src="@/assets/ic-gift.svg" alt="close icon">
                          <p>累積 {{item.fareInfo.mile}}% 哩程</p>
                        </li>
                      </ul>
                      <span
                        v-if="item.quota < 9 && item.quota > 0"
                        class="card__rest-seats"
                      >僅餘 {{item.quota}} 個座位</span>
                      <button
                        v-if="item.isSoldOut"
                        class="pill-btn pill-btn-primary btn-long">
                        售完
                      </button>
                      <button
                        v-if="!item.isSoldOut"
                        class="pill-btn pill-btn-primary btn-long"
                        @click="selectFlight(item)"
                      >TWD {{$n(item.prices.totalPrices.total)}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <a class="card__promotion">
                  <p>再多付 TWD {{ $n(9999) }} 即可享有商務艙服務</p>
                  <img class="cabin-class__icon" src="@/assets/btn-next-s.svg" alt="close icon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- commercial class -->
      <!-- <div class="cabin-class" v-if="currentCabinClass === 'commercial'">
        <div class="col-lg-12">
          <div class="row">
            <div
              class="col-lg-4"
              v-for="(item, key, index) in cabin.commercialCabinClassList"
              :key="index"
            >
              <div class="card" v-bind:class="{ 'card--active': item.availableSeat==0 }">
                <div class="card-body">
                  <div class="card-title">
                    <h2>{{item.className}}</h2>
                    <img class="cabin-class__info" src="@/assets/ic-info.svg" alt="close icon" @click="switchFlightModal(index, 'commercial')">
                  </div>
                  <div class="card-text">
                    <ul>
                      <li v-if="item.wifi">
                        <img class="cabin-class__icon" src="@/assets/ic-wifi.svg" alt="close icon">
                        <p>免費無線上網</p>
                      </li>
                      <li>
                        <img class="cabin-class__icon" src="@/assets/ic-luggage.svg" alt="close icon">
                        <p>{{item.luggage}} kg 行李</p>
                      </li>
                      <li>
                        <img class="cabin-class__icon" src="@/assets/ic-gift.svg" alt="close icon">
                        <p>累積 {{item.milage}}% 哩程</p>
                      </li>
                    </ul>
                    <span
                      v-if="item.availableSeat"
                      class="card__rest-seats"
                    >僅餘 {{item.availableSeat}} 個座位</span>
                    <button
                      class="pill-btn pill-btn-primary btn-long"
                      @click="cabinSelect(item, flightType)"
                    >TWD {{$n(item.price)}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <a @click="currentCabinClassChange('economy')" class="card__promotion left">
                <p>返回經濟艙票價</p>
                <img class="cabin-class__icon" src="@/assets/btn-next-s.svg" alt="close icon">
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
    },
    type: {
      type: String,
    },
    depAirportCode: {
      type: String,
    },
    arrAirportCode: {
      type: String,
    },
    flightDetails: {
      type: Array,
    },
    cheapest: {
      type: Number,
    },
    isDisabled: {
      type: Boolean,
      default: false,
    },
    currency: {
      type: String,
      required: true,
    },
    selectedFlight: {
      type: String,
      default: null,
    }

  },
  data() {
    return {
      isChecked: this.selectedFlight === this.type + this.data.flightNo + this.replaceSlash(this.data.depDate) + this.data.depTime.split(':').join(''),
      checkStatus: this.selectedFlight,
      isModalOpen: false,
    };
  },

  computed: {
    flightId() {
      return `${this.type}${this.data.flightNo}${this.replaceSlash(this.data.depDate)}${this.data.depTime.split(':').join('')}`;
    }
  },

  methods: {
    replaceSlash(val) {
      return val.replace(/\//g, '');
    },

    getFlightDetails(flight) {
      this.isModalOpen = false;
      if (this.isChecked === true) {
        this.isChecked = false;
        this.checkStatus = false;
        // this.$emit('getFlightDetails', {});
      } else {
        const priceList = this.type === 'go' ? 'goPriceList' : 'backPriceList'; 
        this.$parent.$refs[priceList].forEach((item) => {
          item.isChecked = false;
          item.checkStatus = false;
        });
        this.$emit('getFlightDetails',flight);
        this.isChecked = true;
        this.checkStatus = this.selectedFLight;
      }

    },

    selectFlight(flightDetail) {
      this.$emit('selectFlight', flightDetail);
    },

    switchFlightModal(index, cabinClass){
      this.$store.commit({
        type: 'flightModalDepSwitch',
        index: index,
        cabinClass: cabinClass,
        opened: true
      });
    },

    toggleFlightDetail() {
      if(this.checkStatus && !this.isChecked) {
        this.isModalOpen = true;
      } else {
        this.isModalOpen = false;
      }
      this.$emit('toggleFlightDetailModal', true);
    },

    toggleCabinClassDetail(fareFamilyCode) {
      this.$emit('toggleCabinClassDetailModal', {status: true, fareFamilyCode});
    }

  },
  watch: {},
};
</script>

<style lang="scss" scoped>
// price-list
.price__arrow {
  background-image: url('~@/assets/ic-d-arrow-black.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
.price-list {
  label {
    cursor: pointer;
    border-radius: 4px;
  }
  .fly-to-icon {
    -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    background-color: $iron;
  }
  .flight-logo-xs-icon {
    width: 23px;
    height: 18px;
    display: inline-block;
    -webkit-mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat
      center;
    mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat center;
    background-color: $gold-dark;
    background-size: 23px 18px;
    vertical-align: sub;
  }
  .flight-no {
    color: $iron;
  }
  .flight-model {
    color: $iron-light;
  }
  input[type='radio']:checked,
  input[type='radio']:not(:checked) {
    & ~ label {
      .icon-flight-arrow {
        filter: invert(100%) brightness(10);
      }
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
  input[type='radio']:checked {
    & ~ label {
      background-color: $ivory-light;
      box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
      &.active {
        background: $white;
        box-shadow: none;
      }
      cursor: initial;
      .fly-to-icon {
        -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
        mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
        background-color: $iron;
      }
      .flight-logo-xs-icon {
        width: 23px;
        height: 18px;
        display: inline-block;
        background-color: $gold-dark;
        background-size: 23px 18px;
        vertical-align: sub;
        -webkit-mask: url('~@/assets/starlux-flight-logo-white-xs.svg')
          no-repeat center;
        mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat center;
      }
    }
  }
  input {
    position: absolute;
    opacity: 0;
  }
  .flight-info {
    cursor: pointer;
    color: $gold;
    display: inline-block;
    text-decoration: underline;
    margin-top: 13px;
  }
}
.price-list__container {
  margin-bottom: 30px;
}
.price-list__editor {
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  .cabin-class__edit__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: white;
    -webkit-mask: url('~@/assets/ic-edit-white.svg') no-repeat center;
    mask: url('~@/assets/ic-edit-white.svg') no-repeat center;
    mask-size: cover;
    margin-bottom: -6px;
  }
}

@include media-breakpoint-down(md) {
  .price__arrow {
    right: 1%;
  }
}

// cabin-class
.cabin-class {
  width: 100%;
  position: relative;
  padding-top: 41px;
  padding-bottom: 41px;
  .card {
    border: 1px solid $brown;
    border-radius: 4px;
    box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
    background-color: #fff;
    .card-title,
    .card-text {
      padding: 20px;
    }
    .card-title {
      text-align: center;
      color: $brown;
      border-bottom: 1px solid $brown;
      margin-bottom: 0;
      h2 {
        display: inline;
      }
    }
    .cabin-class__info {
      float: right;
      margin-top: 3px;
      cursor: pointer;
    }
    ul {
      padding: 0;
      max-width: 160px;
      margin: 0 auto 40px auto;
      height: 92px;
      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
    .cabin-class__icon {
      float: none;
      display: inline-block;
      margin-right: 10px;
      margin-top: -6px;
    }
    .card-text {
      margin: 0;
      p {
        display: inline-block;
        margin: 0;
      }
    }
    .pill-btn {
      margin-top: 10px;
      padding: 0.8rem 0;
      box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
    }
  }
	.card--active{
    opacity: 0.5;
    pointer-events: none;
	}
	.card__promotion{
		float: right;
		margin-top: 22px;
    cursor: pointer;
    p {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0;
      color: $gold;
      text-decoration: underline;
    }
    .cabin-class__icon {
      display: inline-block;
    }
  }
  .left {
    float: left;
    .cabin-class__icon {
      float: left;
      margin-right: 10px;
      transform: rotate(180deg);
    }
  }
  .card__rest-seats {
    text-align: center;
    display: block;
    color: $red;
    margin-top: -21px;
    font-size: $small-font-size;
  }
}
.cabin-class::after {
  content: '';
  position: absolute;
  width: 99.5vw;
  margin-left: calc(-100vw / 2 + 1140px / 2);
  height: 441px;
  border: 1px solid $brown-light;
  background-color: $ivory-light;
  top: -1px;
  z-index: -1;
}
</style>
