<template>
  <div class="w-100 border border-brown rounded mb-2 mb-sm-0">
    <div class="card-header px-4 py-3 d-flex justify-content-between">
      <span v-if="type === 'go'">{{$t('lb_dept_flight')}}</span>
      <span v-if="type === 'back'">{{$t('lb_arvl_flight')}}</span>
      <span>{{ formatDate(flight.depDate) }}</span>
    </div>
    <div class="card-title text-center mb-0">
      <span>{{ depAirport.cityLocName }}</span>
      <i class="px-2">⟶</i>
      <span>{{ arrAirport.cityLocName }}</span>
    </div>
    <div class="card-body" :class="{'hide': !isShow}">
      <div class="card-content d-flex">
        <div
          class="card-content-item d-flex flex-column align-items-left justify-content-center w-50 pl-0 pl-lg-6 py-3 pr-3 pr-lg-0"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center">
              <span class="time h1 mb-0">{{ flight.depTime | formatTime }}</span>
              <span class="sub text-brown">{{$t('lb_dept')}}</span>
            </div>
            <div class="d-flex align-items-top mt-2">
              <div class="airport mr-5">
                {{ depAirport.airportLocName }}
                <br>
                Terminal {{ flight.depTerminal }}
              </div>
              <div class="badge badge-dark mt-1">{{ depAirport.airportCode }}</div>
            </div>
          </div>
        </div>
        <div
          class="card-content-item d-flex flex-column align-items-left justify-content-center w-50 pl-3 pl-lg-6 py-3"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center">
              <span class="time h1 mb-0">{{ flight.arrTime | formatTime }}</span>
              <span class="sub text-brown">{{$t('lb_arvl')}}</span>
            </div>
            <div class="d-flex align-items-top mt-2">
              <div class="airport mr-5">
                {{ arrAirport.airportLocName }}
                <br>
                Terminal {{ flight.arrTerminal }}
              </div>
              <div class="badge badge-dark mt-1">{{ arrAirport.airportCode }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content border-top border-ivory-dark py-3 pl-0 pl-lg-6">
        <div>{{$t('lb_nonstop')}}・{{ flight.duration | formatFlightDuration }}</div>
        <div class="mt-2">
          <span class="logo-xs-icon"></span>
          <span class="mx-2">{{flight.flightNo}}</span>
          <span class="text-iron-light">{{flight.aircraftCode}}</span>
        </div>
      </div>
      <div
        class="card-content border-top border-ivory-dark pl-0 pl-lg-6 pr-0 pr-lg-4 pt-3 pb-0 py-lg-3 d-flex justify-content-between"
      >
        <div>{{flight.fareFamilyName}}</div>
        <div>
          <button class="btn btn-link text-gold p-0" type="button">{{$t('note_view_tkt_rule')}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isShow: {
      type: Boolean,
      required: true,
    },
    depAirport: {
      type: Object,
    },
    arrAirport: {
      type: Object,
    },
    flight: {
      type: Object,
    },
    type: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.card-header {
  font-size: 1rem;
}
.card-title {
  border-top: 1px solid $ivory-dark;
  padding: 30px 0;
  font-size: 2rem;
}
.card-body {
  max-height: 600px;
  overflow: hidden;
  transition: max-height 0.5s;
  padding: 0;
  &.hide {
    max-height: 0px;
    transition: max-height 0.5s;
  }
}
.card-content-item {
  border-top: 1px solid $ivory-dark;
  &:first-child {
    border-right: 1px solid $ivory-dark;
  }
}
.time {
  margin-right: 10px;
}
.sub {
  font-size: 1rem;
}
.card-footer {
  border-top: 1px solid $ivory-dark;
  padding: 30px 20px;
}
.flight-time {
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    width: 1px;
    top: 3px;
    height: 80%;
    content: '';
    background-color: $ivory-dark;
    z-index: 10;
  }
}
.logo-xs-icon {
  width: 23px;
  height: 18px;
  display: inline-block;
  background: url('~@/assets/starlux-flight-logo-xs.svg') no-repeat center
    center;
  background-size: 23px 18px;
  vertical-align: sub;
}
// media query
@include media-breakpoint-down(md) {
  .card-title {
    padding: 1.5rem 0;
  }
  .card-body {
    padding: 0 1rem 1rem 1rem;
  }
}
</style>
