<template>
  <div class="vld-parent loading-overlay">
    <loading
      :active="loading"
      :is-full-page="true"
      color="#84754E"
      :opacity="0.8"
      loader="spinner"
      backgroundColor="#FFFFFF"
    ></loading>
  </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  components: {
    Loading,
  },
  computed: {
    loading() {
      return this.$store.state.loading;
    },
  },
  watch: {
    loading(newVal) {
      const body = document.querySelector('body');
      if (newVal === true) {
        body.style.overflow = 'auto';
      } else {
        body.style.overflow = 'auto';
      }
    },
  },
};
</script>

<style>
.loading-overlay {
  z-index: 9999;
}
</style>
