<template>
  <div>
    <ul
      :data-num="totalStepsNum"
      class="w-100 d-inline-block mb-0"
      :class="{'currentStep':totalStepsNum == activeSteps[activeSteps.length - 1]}"
    >
      <li
        v-for="val in totalStepsNum"
        :key="val"
        :data-num="val"
        class="d-inline-block"
        :class="{'currentStep':activeSteps.indexOf(val) > -1}"
        :style="[{width: (100/(totalStepsNum - 1) - 1) + '%'}]"
      />
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    totalStepsNum: {
      type: Number,
      default: 4,
    },
    activeSteps: {
      type: Array,
      default: () => [1],
    },
  },
};
</script>
<style lang="scss" scoped>
%step {
  content: attr(data-num);
  display: block;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.875rem;
  border: 1px solid $brown;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.4rem;
  color: $brown;
}

ul {
  padding: 0;
  list-style-type: none;
  position: relative;
  &:after {
    @extend %step;
    top: 6px;
    right: 0;
  }
}

li {
  position: relative;
  &:after {
    @extend %step;
    top: -12px;
    left: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 16.5%;
    width: 75%;
    height: 1px;
    background-color: $brown;
  }

  &:last-child {
    &:before,
    &:after {
      display: none;
    }
  }
}

.currentStep {
  &:after {
    color: white;
    background: $brown;
  }
}

@include media-breakpoint-down(sm) {
  li {
    &:before {
      width: 50%;
      left: 30%;
    }
  }
}
</style>

