<template>
  <div class="w-100 border border-brown rounded mb-4">
    <div class="card-header px-4 py-3 d-flex justify-content-between">
      <span>旅客 1 (成人)</span>
      <span>WANG / SIYU   MISS</span>
    </div>
    <div class="card-title d-flex justify-content-center align-items-center">
      <div class="h1 mb-0">
        <span class="strong mr-2 align-middle">TWD</span>
        <span>12,825</span>
      </div>
    </div>
    <div class="card-content" :class="{'hide': showContent }">
      <div class="card-content-item">
        <div class="card-content-title">
          旅程費用明細
        </div>
        <ul class="card-content-list list-unstyled py-3 m-0">
          <li class="d-flex justify-content-between py-1">
            <div>機票費用</div>
            <div><span>TWD</span> 9817</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>燃油附加費</div>
            <div><span>TWD</span> 888</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>HKG機場稅金</div>
            <div><span>TWD</span> 1,225</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>TPE機場稅金</div>
            <div><span>TWD</span> 895</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    showContent: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
    },
  },
  computed: {
    title() {
      return `旅客${this.data.id} (${this.data.paxType})`;
    },
    fullName() {
      if (this.data.hasFirstName) {
        return `${this.data.lastName}/${this.data.lastName} ${this.data.title}`;
      }
    },
  },
  methods: {
    toggleContent() {
      this.showContent = !this.showContent;
    },
  },
};
</script>

<style lang="scss" scoped>
.card-title {
  border-top: 1px solid $ivory-dark;
  padding: 30px 3rem;
}
.card-content-title {
  color: $iron-light;
  border-bottom: 1px solid $ivory-dark;
  border-top: 1px solid $ivory-dark;
  padding: 0.5rem 3rem;
}
.card-content-list {
  font-size: 1.125rem;
  padding: 0.5rem 3rem;
}
.card-content {
  max-height: 800px;
  overflow: hidden;
  transition: max-height 0.5s;
  &.hide {
    max-height: 0px;
    transition: max-height 0.5s;
  }
}
</style>
