<template>
  <div class="banner">
    <div class="container">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.banner {
  width: 100%;
  padding: 2rem;
  background: url(../assets/banner-bg.jpg);
  background-size: cover;
  color: #fff;
}

@include media-breakpoint-down(sm) {
  .banner {
    padding: 1rem 0;
  }
} 
</style>
