<template>
  <div class="mb-3">
    <small v-for="(item, index) in linkData" :key="index">
      <router-link class="link" :to="item.route">{{item.name}}</router-link>
    </small>
  </div>
</template>
<script>
export default {
  props: {
    linkData: {
      type: Array,
      default: () => [
        { name: '首頁', route: '/' },
        { name: '網路購票', route: '' },
      ],
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.link {
  margin-right: 1.8em;
}
small {
  position: relative;
  a {
    color: $brown-light;
  }
  :after {
    content: '>';
    position: absolute;
    right: 8px;
    top: -2px;
    color: white;
  }
}

small:last-child a {
  color: $white;
  &:after {
    opacity: 0;
  }
}
</style>
