<template>
  <div class="panel">
    <h4 class="mb-3 pb-3 font-weight-bold border-bottom border-ivory-dark">{{$t('lb_passenger_seat_information')}}</h4>
    <div v-if="selectSeat" v-for="(item, index) in selectSeat" :key="index" class="mb-3 pb-3 border-bottom border-ivory-dark d-flex">
      <div class="d-flex flex-column">
        <span class="circle h3 mr-2 text-white d-inline-block text-center">{{ index }}</span>
      </div>
      <div class="d-flex flex-column w-100">
        <div class="name my-2 h4 mb-0">{{item.lastName}} / {{item.firstName}}</div>
        <div class="seat-price d-flex">
          <div class="seat w-50 h4 mb-0 font-weight-bold">{{item[type]}}</div>
          <div class="price w-50 h4 mb-0 text-right font-weight-bold">+ TWD 0</div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column text-right">
      <div class="h4">{{$t('lb_seat_amount_subtotal')}}</div>
      <div class="h3 font-weight-bold">+TWD 0</div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  props: ['selectSeat', 'type'],
};
</script>

<style lang="scss" scoped>
.circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: rgb(223, 177, 77);
}
</style>