<template>
  <div class="seat-selector pt-4 pb-2">
    <div class="seat-row">
      <div class="seats">
        <div class="row seat-row-unit cabin-title mb-3">
          <h4 class>經濟 Flex Plus</h4>
        </div>
      </div>
    </div>
    <div
      v-for="(row, key) in planeSeat"
      :key="key"
      class="seat-row"
      :class="[{'row-wing':row[0].type == 'wing'}]"
    >
      <div
        class="row seat-row-unit"
        :class="[{'seat-attr':row[0].type == 'seat'},{'exit-row':row[0].type == 'exit'}]"
      >
        <div class="seats">
          <div
            v-if="seat.type !== 'aisle' && seat.type !== 'facility' && seat.type !== 'exit' && seat.type !== 'wing'"
            v-for="(seat, key, index) in row"
            :key="index"
            class="seat-unit"
          >
            <button
              v-if="returnIsActiveSeat(seat.content.seatNo)"
              :class="{'current-selected':currentSelect[1]==seat.content.seatNo}"
              class="seat seat-selected"
              @click="getSelectedSeat(key, seat.content.seatNo, seat.content)"
            >{{returnSelectedSeat(seat.content.seatNo)}}</button>
            <button
              v-else
              :class="[{'current-selected':currentSelect[1]==seat.content.seatNo}, {'not-available':!seat.content.isAvailable}]"
              class="seat"
              @click="getSelectedSeat(key, seat.content.seatNo, seat.content)"
              v-tooltip="{content: 'User, Seat: '+seat.content.seatNo, seat}"
              v-html="getSeatType(seat.content)"
            ></button>
          </div>
        </div>
        <div class="seats">
          <div
            v-for="(unit, index) in row"
            v-if="unit.content.colspan || unit.type == 'aisle' || unit.type == 'exit' || unit.type == 'wing'"
            :key="index"
            class="facility"
            :class="[{aisle:unit.type=='aisle'}, returnColumn(unit.content.colspan), returnExit(unit), {wing:unit.type=='wing'}]"
          >
            <span v-html="returnIcon(unit.content.text)"></span>
            <span class="exit-tag" v-if="unit.type == 'exit'" v-html="'出口'"></span>
            <span v-if="unit.type == 'wing'"></span>
          </div>
        </div>
        <transition name="fade" mode="out-in">
          <div
            class="seat-detail"
            v-if="getSplitStr(row[0].content.seatNo, 1) == currentRow"
            :class="getArrowPosition(currentSelect[1])"
          >
            <div class="seat-info">
              <div class="seat-info-header">
                <h3>{{currentSelect[1]}}</h3>
                <!-- <img @click="closeDetail" src="@/assets/ic-cancel-black.svg" alt="close icon"> -->
                <span @click="closeDetail" class="icon-ic-cancel-black"></span>
              </div>
              <ul v-for="(item, index) in currentSelect[2]" :key="index" v-if="item.general">
                <li v-for="(description, index) in item.general" :key="index">
                  {{description.text}}
                  <!-- <div v-for="(list, index) in description" :key="index">{{list.text}}</div> -->
                </li>
              </ul>
              <div class="mt-4 mb-4 not-suit-for">
                <span class="d-block mb-2">此座位不適合下列旅客</span>
                <ul v-for="(item, index) in currentSelect[2]" :key="index" v-if="item.general">
                  <li
                    v-for="(description, index) in item.notSuitFor"
                    :key="index"
                  >{{description.text}}</li>
                </ul>
              </div>
              <div class="passenger-selector mb-2">
                <StarDropdown
                  :options="getSelectSeatArr"
                  v-model="shiftSeat"
                  :maxHeight="500"
                  :title="'選擇旅客'"
                  :placeholder="getDefaultPassenger.lastName+'/'+getDefaultPassenger.firstName+' ('+getDefaultPassenger[type]+')'"
                />
              </div>
              <div class="clearfix">
                <h4 class="price font-weight-bold">+TWD {{$n(currentSelect[2].pricing)}}</h4>
                <button
                  class="confirm btn float-right pill-btn pill-btn-primary"
                  @click="confirmSwitch(currentSelect[1])"
                >更換座位</button>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <alertWindow @openAlert="alert = $event" :alert="alert">
      <div slot="success">座位更換成功！</div>
    </alertWindow>
  </div>
</template>
<script>
import StarDropdown from '@/components/common/StarDropdown';
import alertWindow from '@/components/common/StarAlert';

export default {
  components: {
    StarDropdown,
    alertWindow,
  },
  data() {
    return {
      optionPassenger: {},
      targetPassenger: '',
      currentPassenger: '',
      currentSelect: [],
      shiftSeat: {},
      tempPassenger: '',
      target: '',
      currentRow: '',
      dropdown: {},
      dropdowArr: [],
      alert: false,
    };
  },
  props: ['selectSeat', 'planeSeat', 'type'],
  methods: {
    // 關閉下拉選單
    closeDetail() {
      this.currentRow = '';
      this.currentSelect = [];
    },
    // 回傳設施相對應寬度class
    returnColumn(val) {
      if (val == 0 || val == undefined) {
        return '';
      } else {
        return 'facility-' + val;
      }
    },
    // 回傳出口位置
    returnExit(val) {
      if (val.type == 'exit') {
        if (val.column < 4) {
          return 'exit-left';
        } else {
          return 'exit-right';
        }
      }
      // return val;
    },
    // 回傳相對應設施icon
    returnIcon(val) {
      switch (val) {
        case 'gallery':
          val = 'WC';
          break;
        case 'kitchen':
          val = `<span class="icon-ic-meal"></span>`;
          break;
        case 'wing':
          val = '';
          break;
        default:
          break;
      }
      return val;
    },
    // 取得按下的座位資訊
    // index --> 第幾列 例如：4
    // name --> 座位名稱 例如：4H
    // data --> descriptions: (...)
    //         isAvailable: (...)
    //         pricing: (...)
    //         seatNo: (...)
    //         seatType: (...)
    getSelectedSeat(index, name, data) {
      this.getDefaultPassenger;
      // console.log({index, name, data});
      this.currentSelect = [index, name, data];
      this.currentRow = this.getSplitStr(name, 1);
    },
    // 回傳被選取的位置（反白）
    // val是座位編號(1A, 1B, 1C...)，loop thru整個表格去跟select做對照
    returnIsActiveSeat(val) {
      let $type = this.type;
      let getResult = false;
      let data = this.selectSeat;
      let size = Object.keys(data).length;
      for (var i = 0; i < size; i++) {
        if (data[i + 1][$type] == val) {
          getResult = true;
        }
      }
      return getResult;
    },
    // 回傳已經選位旅客的相對應編號（1,2,3...）
    returnSelectedSeat(val) {
      let $type = this.type;
      let data = this.selectSeat;
      let size = Object.keys(data).length;
      for (var i = 0; i < size; i++) {
        if (data[i + 1][$type] == val) {
          // console.log({'index': i+1, 'data': data});
          return i + 1;
        }
      }
    },
    // 選位邏輯
    // val = currentSelect[1] --> 座位編號（比如1A）
    confirmSwitch(val) {
      // console.log('currentSelect[1]: ', this.currentSelect);
      let $this = this;
      let $type = this.type;
      let size = Object.keys(this.selectSeat).length;
      let shiftSeat = this.shiftSeat;
      let getTargetPassenger = this.targetPassenger;
      let targetKey = this.getOptionPassenger;
      let tempPassenger = this.optionPassenger[$type];
      let target = this.target;
      // 旅客選位selectSeat比對
      Object.keys(this.selectSeat).forEach(function(key) {
        // 假如目前選的旅客沒有位子
        if ($this.optionPassenger[$type].length == 0) {
          // getOptionPassenger --> 下拉選單選擇的旅客
          if (key == $this.getOptionPassenger) {
            $this.selectSeat[key][$type] = $this.currentSelect[1];
            $this.alert = true;
          }
          // 假如dropdown中被選擇的對象沒有位子
        } else if (target == null) {
          if (key == $this.getOptionPassenger) {
            $this.selectSeat[key][$type] = $this.currentSelect[1];
            $this.alert = true;
          }
        } else {
          if (key == $this.getOptionPassenger) {
            $this.selectSeat[key][$type] = $this.currentSelect[1];
            $this.alert = true;
          }
        }
      });
      // 假如dropdown中被選擇的對象有位子
      if (target !== null) {
        // 用tempPassenger暫存，再對調位子
        this.selectSeat[target][$type] = tempPassenger;
        this.alert = true;
      }
      // 回傳最新的乘客座位表回到selectSeat.vue
      this.$emit('returnSeat', this.selectSeat);
      this.closeDetail();
    },
    // 切字元，val是座位號（比如1A），num是要取得第幾個字元
    getSplitStr(val, num) {
      if (val !== undefined && val !== null) {
        let filter = val.match(/[a-z]+|[^a-z]+/gi);
        return filter[num - 1];
      }
    },
    // 回傳特殊座位icon
    getSeatType(val) {
      if (!!val.seatType && val.seatType.length > 0) {
        for (let key in val.seatType) {
          switch (val.seatType[key].code) {
            case 'W':
              return `<img data-v-7473725e="" src="/img/seat-icon-upgrade.3e9adabf.svg" alt="star">`;
              break;
            case 'S':
              return `<img data-v-7473725e="" src="/img/seat-icon-child.4d3c205e.svg" alt="">`;
              break;
            default:
              break;
          }
        }
      } else {
        return this.getSplitStr(val.seatNo, 2);
      }
    },
    // 回傳座位選擇的三角型位置
    getArrowPosition(val) {
      // console.log(val);
      return 'seat-detail-' + this.getSplitStr(val, 2);
    },
  },
  computed: {
    // 先讓dropdown有預設旅客
    getDefaultPassenger() {
      // console.log("getDefaultPassenger: "+this.selectSeat);
      this.shiftSeat = this.selectSeat[1].firstName;
      return this.selectSeat[1];
    },
    // dropdown需要用到的array
    getSelectSeatArr() {
      this.dropdowArr = [];
      let $type = this.type;
      let data = this.selectSeat;
      let size = Object.keys(data).length;
      let result = '';
      for (let key in data) {
        // 假如乘客有座位
        if (data[key][$type].length > 0) {
          result =
            data[key].lastName +
            '/' +
            data[key].firstName +
            ' (' +
            data[key][$type] +
            ')';
        } else {
          // 乘客沒座位不顯示座位名稱
          result = data[key].lastName + '/' + data[key].firstName;
        }
        // 把當前位置的乘客剔除掉，不顯示在dropdown裡
        if (this.currentSelect[1] !== data[key][$type]) {
          this.dropdowArr.push({
            label: result,
            value: data[key].firstName,
          });
        }
      }
      return this.dropdowArr;
    },
    // 處理選擇乘客與被調換位子乘客的迴圈
    getOptionPassenger() {
      // console.log(this.shiftSeat);
      let $this = this;
      let data = this.selectSeat;
      let $type = this.type;
      let size = Object.keys(data).length;
      for (var i = 0; i < size; i++) {
        if (data[i + 1][$type] === this.currentSelect[1]) {
          // console.log($this.target);
          $this.target = i + 1;
          break;
        } else {
          $this.target = null;
        }
      }
      for (var i = 0; i < size; i++) {
        // console.log($this.currentSelect);
        // console.log(data[i + 1]['seat']);
        if (data[i + 1]['firstName'] == $this.shiftSeat) {
          $this.optionPassenger = data[i + 1];
          return i + 1;
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
button:hover {
  color: $white;
}
.seat-selector {
  min-height: 80vh;
  border-left: 1px solid $ivory-dark;
  border-right: 1px solid $ivory-dark;
  max-width: 330px;
  margin: 0 auto;
  background-color: $white;
}
.seat-selector::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.panel {
  min-height: 80vh;
  border: 1px solid #000;
}
.seat {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: $ivory-dark;
  color: $white;
}
.seat:hover {
  background: $brown !important;
  color: $white !important;
}
.seat-row {
  padding: 0rem 1rem 0 1rem;
  .seat-unit {
    display: inline-table;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15.8%;
    flex: 0 0 15.8%;
    max-width: 15.8%;
    // padding: 0 1rem;
  }
}
.seat-row-unit {
  position: relative;
  // margin: 0;
}
.seat-detail {
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 55px;
  // background-color: $white;
  // border: 2px solid $brown;
  // border-radius: 4px;
  margin-bottom: 1.875rem;
}
.seat-detail::before {
  content: '';
  position: absolute;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $brown;
  transition: all 0.5s;
}
.seat-detail-A::before {
  left: 34px;
}
.seat-detail-B::before {
  left: 80px;
}
.seat-detail-C::before {
  left: 126px;
}
.seat-detail-H::before {
  left: 190px;
}
.seat-detail-J::before {
  left: 232px;
}
.seat-detail-K::before {
  left: 278px;
}
.seat-selected {
  background-color: #dfb14d;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: $h3-font-size;
  font-weight: 500;
  cursor: pointer;
  & + .current-selected {
    background-color: $brown;
  }
}

.current-selected {
  background-color: $brown;
  color: #fff;
}
.passenger-selector {
  width: 100%;
  padding: 22px 22px 0;
  border-top: 1px solid $brown-light;
  select {
    width: 100%;
  }
}
.remove {
  width: 100%;
  display: inline;
}
.disable {
  pointer-events: none;
  opacity: 0.7;
}
.toilet,
.kitchen {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}
.firstFacility {
  margin-right: 22px;
}
// .aisle {
//   position: absolute;
//   left: 0;
//   width: 100%;
//   text-align: center;
//   z-index: 0;
//   line-height: 38px;
//   pointer-events: none;
// }
.aisle {
  // position: absolute;
  // left: 0;
  width: 20px;
  text-align: center;
  // z-index: 0;
  line-height: 38px;
  margin-left: -5px;
  font-size: $font-size-sm;
  // pointer-events: none;
}
.seat-label {
  .seat-unit {
    text-align: center;
  }
}
.seats {
  width: 100%;
  display: flex;
  padding: 0 20px;
  .seat-unit:nth-of-type(3n) {
    margin-right: 18px;
  }
}
.facility:last-child {
  margin: 0;
}
.cabin-title {
  flex: 100%;
  h4 {
    background-color: #e0e1e2;
    color: #fff;
    padding: 1rem;
    text-align: center;
    color: $iron;
    border-radius: 4px;
    font-size: $h4-font-size;
    font-weight: bold;
    width: 100%;
  }
}
.pill-btn {
  padding: 0.8rem 2rem;
}
.facility {
  text-align: center;
  height: 40px;
  line-height: 38px;
  border-radius: 4px;
  margin-bottom: 1rem;
  img {
    height: 24px;
  }
}
.facility-1 {
  width: 40px;
  // border: 1px solid green;
  background-color: #e0e1e2;
  font-weight: bold;
  margin-right: 5px;
}
.facility-2 {
  width: 86px;
  // border: 1px solid green;
  background-color: #e0e1e2;
  font-weight: bold;
  margin-right: 5px;
}
.facility-3 {
  width: 130px;
  // border: 1px solid green;
  background-color: #e0e1e2;
  font-weight: bold;
  margin-right: 5px;
}
.seat-attr {
  .aisle {
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    pointer-events: none;
  }
}
%exit-tag {
  margin: 0;
  line-height: 24px;
  span {
    position: absolute;
    // margin-top: -12px;
    padding: 0 30px;
  }
}
.exit-row {
  height: 40px;
  .exit-right {
    @extend %exit-tag;
    span {
      right: 0;
    }
  }
  .exit-left {
    @extend %exit-tag;
    span {
      left: 0;
    }
  }
}
%exit-after {
  content: '';
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
  background-image: url('~@/assets/ic-r-arrow-bold-black.svg');
  background-size: contain;
}
.exit-left::after {
  @extend %exit-after;
  left: 10px;
  transform: rotate(180deg);
}
.exit-right::after {
  @extend %exit-after;
  right: 10px;
}
.exit-tag {
  font-size: $small-font-size;
  color: $ink;
}
.seat {
  margin-bottom: 1rem;
}
.not-available {
  background: $ivory-dark;
  opacity: 0.3;
  color: $ivory-dark;
  pointer-events: none;
  &:hover,
  &:focus {
    background: $ivory-dark !important;
    color: $ivory-dark !important;
    cursor: not-allowed !important;
    outline: 0;
  }
}
.seat-info {
  width: 300px;
  background-color: #fff;
  border: 2px solid #996a4e;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
  .seat-info-header {
    position: relative;
    h3 {
      border-bottom: 1px solid $brown-light;
      padding: 22px;
      color: $brown;
    }
    span {
      top: 18px;
      position: absolute;
      right: 15px;
    }
  }
  ul {
    margin: 0;
    padding: 0 22px 0 44px;
  }
  .pill-btn-primary {
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
.not-suit-for {
  font-size: $font-size-sm;
  span {
    color: $iron-lighter;
    padding: 0 22px;
  }
  ul > li {
    color: $iron-light;
    line-height: 1.6;
  }
}
.price {
  color: $brown;
  padding: 22px;
  font: 1em sans-serif;
}
.confirm {
  position: absolute;
  right: 35px;
  bottom: 20px;
}
.row-wing {
  position: absolute;
  // top: 300px;
  width: 328px;
  pointer-events: none;
  margin-top: 76px;
}
.wing {
  margin-top: 76px;
}
.wing::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  width: 216px;
  margin-left: -218px;
  height: 400px;
  background: linear-gradient(244deg, $white, rgba(255, 255, 255, 0));
  -webkit-transform: skew(-34deg);
  -moz-transform: skewY(-34deg);
  -o-transform: skewY(-34deg);
  -ms-transform: skewY(-34deg);
  transform: skewY(-34deg);
}
.wing::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 216px;
  right: 0;
  margin-right: -218px;
  height: 400px;
  background: linear-gradient(122deg, $white, rgba(255, 255, 255, 0));
  -webkit-transform: skew(34deg);
  -moz-transform: skewY(34deg);
  -o-transform: skewY(34deg);
  -ms-transform: skewY(34deg);
  transform: skewY(34deg);
}
.icon-ic-meal {
  font-size: 24px;
  vertical-align: middle;
}
</style>