<template>
  <div class="w-100 border border-brown rounded mb-4">
    <div class="card-header px-3 px-lg-4 py-3 d-flex justify-content-between">
      <span>旅客 {{index}} ({{data.paxType}})</span>
      <span>{{ fullName }}</span>
    </div>
    <div class="card-title d-flex justify-content-center">
      <div class="h1 d-flex align-items-center mb-0">
        <span class="strong mr-1">{{currency}}</span>
        {{$n(data.totalPrice)}}
      </div>
    </div>
    <div class="card-content" :class="{'hide': !isShow }">
      <div class="card-content-item">
        <div class="card-content-title">
          旅程費用明細
        </div>
        <ul class="card-content-list list-unstyled py-3 m-0">
          <li class="d-flex justify-content-between py-1">
            <div>機票費用</div>
            <div><span>TWD</span> 9817</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>燃油附加費</div>
            <div><span>TWD</span> 888</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>HKG機場稅金</div>
            <div><span>TWD</span> 1,225</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>TPE機場稅金</div>
            <div><span>TWD</span> 895</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isShow: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
    index: Number,
    currency: {
      type: String,
      required: true,
    }
  },
  computed: {
    fullName() {
      if(this.data.firstName) {
        return `${this.data.lastName} / ${this.data.firstName} ${this.data.title}` 
      } 
    }
  },
  methods: {
    toggleContent() {
      this.showContent = !this.showContent;
    }
  }
}
</script>

<style lang="scss" scoped>
.card-title {
  border-top: 1px solid $ivory-dark;
  padding: 30px 0;
}
.card-content-title {
  color: $iron-light;
  border-bottom: 1px solid $ivory-dark;
  border-top: 1px solid $ivory-dark;
  padding: .5rem 3rem;
}
.card-content-list {
  font-size: 1.125rem;
  padding: .5rem 3rem;
}
.card-content {
  max-height: 800px;
  overflow: hidden;
  transition: max-height .5s;
  &.hide {
    max-height: 0px;
    transition: max-height .5s;
  }
}
@include media-breakpoint-down(md) {
  .card-content-title,
  .card-content-list {
    padding: .5rem 1rem;
  }
}
</style>
