<template>
  <div>
    <div class="row no-gutters d-flex bd-highlight mb-4">
      <div class="bd-highlight img col-12 col-lg-4">
        <img class="rounded-left" :src="imgUrls[0]" :srcset="`${imgUrls[1]} 2x,${imgUrls[2]} 3x`">
      </div>
      <div class="bd-highlight col-12 col-lg-8 border border-primary border-left-lg-0 rounded-lg-right bg-white position-relative px-3 pt-3 py-lg-5 px-lg-6" style="flex: 2;">
        <h1 class="mb-3 ">{{time}} {{title}}</h1>
        <p class="pr-10">{{content}}</p>
        <a href="#" class="arror">
          <img src="~@/assets/ic-r-arrow-black.svg" alt="right cursor">
        </a>
      </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    imgUrls: {
      type: Array,
      default: () => [
        'https://fakeimg.pl/200x100/?retina=1',
        'https://fakeimg.pl/200x100/?retina=1',
        'https://fakeimg.pl/200x100/?retina=1',
      ],
    },

    time: {
      type: String,
    },

    title: {
      type: String,
    },

    content: {
      type: String,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.arror {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.img {
  height: 240px;
}
@include media-breakpoint-down(md) {
  .img {
    height: auto;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .arror {
    top: 25%;
    right: 0;
  }
}
</style>
