<template>
  <div class="wrapper price-swiper mb-6 border border-ivory-dark">
    <fieldset>
      <div class="d-flex">
        <swiper :options="swiperOption" ref="mySwiper">
          <swiper-slide
            class="justify-content-center bar-item"
            v-for="(item, key, index) in dataList"
            :key="index"
          >
            <div v-if="monthStart(item.date)" class="year-month">
              <span>{{item.date | onlyShowYearMonth }}</span>
            </div>
            <!-- hidden radio input -->
            <input
              type="radio"
              :name="type"
              :id="type + item.date | replaceSlash"
              :value="item.date"
              v-model="pickedDate"
              :disabled="item.isSoldOut || !item.hasFlight || item.date < limitDate"
              :checked="item.date == pickedDate"
              @change="selectDate"
            >
            <label :for="type + item.date | replaceSlash" v-if="item.hasFlight && !item.isSoldOut">
              <div
                class="bar has-flight"
                :style="[{'height': barHeight * (item.price / currMaxPrice) + 'px'}]"
              >
                <span class="text-white currency">{{currency}}</span>
                <span class="text-white price">{{$n(item.price)}}</span>
              </div>
              <div class="date">
                <div class="day">
                  {{item.date | onlyShowDay }}
                  <br>
                </div>
                <div class="weekday">{{item.date | onlyShowWeek }}</div>
              </div>
            </label>
            <label :for="type + item.date | replaceSlash" v-if="!item.hasFlight">
              <div class="bar no-flight">
                <span class="currency">無航班</span>
              </div>
              <div class="date">
                <div class="day">
                  {{item.date | onlyShowDay }}
                  <br>
                </div>
                <div class="weekday">{{item.date | onlyShowWeek }}</div>
              </div>
            </label>

            <label :for="type + item.date | replaceSlash" v-if="item.isSoldOut">
              <div class="bar sold-out">
                <span class="currency">已售完</span>
              </div>
              <div class="date">
                <div class="day">
                  {{item.date | onlyShowDay }}
                  <br>
                </div>
                <div class="weekday">{{item.date | onlyShowWeek }}</div>
              </div>
            </label>
          </swiper-slide>
          <div class="swiper-button-prev" slot="button-prev"></div>
          <div class="swiper-button-next" slot="button-next"></div>
        </swiper>
      </div>
    </fieldset>
  </div>
</template>
<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import moment from 'moment';
// import 'moment/locale/zh-tw'
moment.locale('zh-tw');
export default {
  name: 'carrousel',
  props: {
    type: String, //name and id
    currency: String,
    targetDate: String,
    limitDate: String,
    dataList: {
      type: Array,
      default: function() {
        return [];
      },
    },

    swiperOption: {
      type: Object,
      default: function() {
        return {
          setWrapperSize: true,
          slidesPerView: 10,
          centeredSlides: false,
          normalizeSlideIndex: false,
          // active
          initialSlide: 2,
          speed: 50,
          spaceBetween: 0,
          height: 280,
          slidesOffsetBefore: 40,
          slidesOffsetAfter: 0,
          allowTouchMove: false,
          // autoHeight: true,
          breakpoints: {
            480: {
              slidesPerView: 3,
              spaceBetween: 0,
            },
            575: {
              slidesPerView: 4,
              spaceBetween: 0,
            },
            768: {
              slidesPerView: 4,
              spaceBetween: 0,
            },
            990: {
              slidesPerView: 6,
              spaceBetween: 0,
            },
            1200: {
              slidesPerView: 8,
              spaceBetween: 0,
            },
          },

          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        };
      },
    },
    isTouch: {
      type: Boolean,
      default: false,
    },
  },

  created() {
    this.pickedDate = this.targetDate;
  },

  data() {
    return {
      pickedDate: null,
      barHeight: 160,
      list: [],
    };
  },

  filters: {
    onlyShowYearMonth(dateVal) {
      return moment(dateVal).format('YYYY[年]MM[月]');
    },
    onlyShowDay(dateVal) {
      return moment(dateVal).format('DD');
    },
    onlyShowWeek(dateVal) {
      return moment(dateVal).format('ddd');
    },
    replaceSlash(val) {
      return val.replace(/\//g, '');
    },
  },

  computed: {
    currMaxPrice() {
      return Math.max.apply(Math, this.dataList.map((item) => item.price));
    },
    currMinPrice() {
      return Math.min.apply(Math, this.dataList.map((item) => item.price));
    },
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
  },

  watch: {
    targetDate(newDate) {
      this.pickedDate = newDate;
    },
  },

  components: {
    swiper,
    swiperSlide,
    moment,
  },
  methods: {
    monthStart(date) {
      let currentMonth = 0;
      let day = new Date(date);
      let month = day.getMonth() + 1;

      if (this.currentMonth !== month) {
        this.currentMonth = month;
        return true;
      } else {
        return false;
      }
    },

    selectDate() {
      this.$emit('pickedDate', this.pickedDate);
    },
  },
};
</script>
<style lang="scss" scoped>
.price-swiper {
  position: relative;
  height: 280px;
  overflow: hidden;
  background: $white;
  border-radius: 4px;
  .bar-item {
    max-width: 103px;
    height: 100%;
    float: left;
    > label {
      width: 100%;
      height: 278px;
      margin-bottom: 0;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      text-decoration: none;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      border: 1px solid $white;
    }
    &:first-child {
      .year-month {
        border-left: 0;
      }
    }
  }
  .bar {
    margin: 0 auto 10px auto;
    height: 0%;
    min-width: 83px;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  .bar.has-flight {
    background: $gold-light;
    .currency {
      margin-bottom: -0.4rem;
    }
    .price {
      margin-bottom: 0.1rem;
    }
  }
  .bar.sold-out {
    height: 80px;
    color: $white;
    background: linear-gradient(
      to bottom,
      rgba($white, 1) 0%,
      rgba($gold-light, 1) 100%
    );
    span {
      margin-bottom: 0.2rem;
    }
  }
  .bar.no-flight {
    color: $gold-dark;
    border-bottom: 2px solid $gold-light;
  }

  .date {
    min-width: 83px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .day {
    margin-bottom: 5px;
    font-weight: 600;
    height: 1.143rem;
    transition: 0.2s;
    transform-origin: 50% 120%;
  }
  .swiper-slide {
    min-width: 103px;
  }
  .swiper-slide-active {
    .day {
      font-size: 1rem;
    }
  }

  .date {
    .day {
      color: $iron-dark;
    }
    .weekday {
      color: $iron-light;
    }
  }
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & + label {
      padding-left: 0;
      &:before,
      &:after {
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    &:before,
    &:after {
      opacity: 0;
    }
    &:not(:checked) {
      & + label {
        padding-left: 0;
        &:before,
        &:after {
          opacity: 0;
        }
      }
    }
  }
  input[type='radio']:checked {
    & + label {
      padding-left: 0;
      background: #f4f1ea;
      border: 1px solid $brown;
      &:before {
        opacity: 0;
        display: none;
      }
      &:after {
        top: 0;
        left: 0;
      }
      .bar.has-flight {
        background: $brown;
      }
      .bar.sold-out {
        background: linear-gradient(
          to bottom,
          rgba($white, 1) 0%,
          rgba($gold-light, 1) 100%
        );
      }
      .date {
        .day {
          transform: scale(1.4);
          position: relative;
          bottom: -0.2rem;
        }
      }
    }
  }
}

.swiper-wrapper {
  width: 92%;
  padding: 0 4%;
}
.swiper-container {
  height: 280px;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 8%;
  cursor: pointer;
  display: block;
  background-repeat: none;
  background-position: center center;
  &:hover,
  &:focus {
    outline: 0;
    cursor: pointer;
  }
}
.swiper-button-prev {
  left: 0;
  background-color: $white;
  background-image: url('~@/assets/btn-calendar-prev.svg');
}
.swiper-button-next {
  right: 0;
  background-color: $white;
  background-image: url('~@/assets/btn-calendar-next.svg');
}

.year-month {
  width: 1px;
  height: 100%;
  padding-top: 20px;
  position: absolute;
  left: 0;
  z-index: 10;
  border-left: 1px dashed $ivory-dark;
  &:before {
    content: '';
    width: 3px;
    height: 20px;
    position: absolute;
    border-left: 3px solid $black;
  }
  span {
    width: 85px;
    display: block;
    position: relative;
    top: -1px;
    left: 7px;
  }
}
</style>

