<template>
  <div
    ref="bar"
    class="border-bottom bg-white"
    style="border-top: 3px solid #84754e;"
    v-on-clickaway="closeDetailOpenStatus"
  >
    <div class="container py-3 py-lg-5 bar-wrap">
      <div class="row">
        <!-- go -->
        <div class="col-6 col-lg-3 mb-4 mb-lg-0 border-right align-items-stretch">
          <div class="text-center">
            <strong class="align-middle">{{searchInfo.depAirport.cityLocName}}</strong>
            <img class="mx-2" src="@/assets/ic-btn-r-arrow-brown.svg" alt="right arrow">
            <strong class="align-middle">{{searchInfo.arrAirport.cityLocName}}</strong>
            <div class="mt-1">{{formatDate(goFlight.depDate)}}</div>
            <div class="h3 mb-0 text-brown" v-if="!goFlight.flightNo">{{$t('lb_select_flight')}}</div>
            <div
              class="h3 mb-0 mt-1"
              v-if="goFlight.flightNo"
            >{{goFlight.depTime | formatTime}} - {{goFlight.arrTime | formatTime}}
            </div>
          </div>
        </div>
        <!-- back -->
        <div class="col-6 col-lg-3 mb-4 mb-lg-0 border-right-0 border-right-lg-1 align-items-stretch">
          <div class="text-center" v-if="isRoundTrip">
            <strong class="align-middle">{{searchInfo.arrAirport.cityLocName}}</strong>
            <img class="mx-2" src="@/assets/ic-btn-r-arrow-brown.svg" alt="right arrow">
            <strong class="align-middle">{{searchInfo.depAirport.cityLocName}}</strong>
            <div class="mt-1">{{formatDate(backFlight.depDate)}}</div>
            <div
              class="h3 mb-0 text-brown"
              v-if="!backFlight.flightNo"
            >{{$t('lb_select_flight')}}
            </div>
            <div
              class="h3 mb-0 mt-1"
              v-if="backFlight.flightNo"
            >{{backFlight.depTime | formatTime}} - {{backFlight.arrTime | formatTime}}
            </div>
          </div>
        </div>
        <!-- total price -->
        <div
          class="col-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center justify-content-lg-end align-items-stretch">
          <div class="text-lg-right text-center mr-0 pr-lg-3 align-self-center">
            <div>{{$t('lb_pax_total_price',[totalPaxNum])}} {{totalPaxNum}}</div>
            <div class="strong font-weight-normal mt-2">
              {{currency}}
              <span class="h2">{{$n(totalPrices)}}</span>
            </div>
          </div>
          <div>
            <button
              v-if="goFlight.flightNo || backFlight.flightNo"
              class="detail-btn p-0 mt-4 ml-2"
              style="font-size: 0;"
              @click="toggleDetailOpenStatus"
            >
              <img
                :class="isDetailOpen ? 'hasDetail' : 'noDetail'"
                src="@/assets/ic-d-arrow-white.svg"
                alt="down arrow"
              >
            </button>
          </div>
        </div>
        <div class="col-6 col-lg-3 d-flex align-items-center">
          <button tag="button" class="pill-btn pill-btn-primary btn-long" @click="clickEmitEvent">
            <strong>{{$t('btn_continue')}}</strong>
          </button>
        </div>
      </div>
    </div>
    <!-- DETAIL -->
    <div
      v-if="goFlight.flightNo"
      class="detail-wrap"
      :style="[isDetailOpen ? {'height':windowHeight - 200 + 'px'}:{'height':0}]"
    >
      <div v-if="isDetailOpen" class="detail-content container">
        <div class="row">
          <div class="col-12 col-lg-8">
            <!-- DEPARTURE -->
            <div class="row pt-5 border-bottom d-flex align-items-stretch pb-5">
              <div class="col-12 col-lg-4">
                <div class="dep mb-3 mb-lg-0">
                  <div class="h3 text-primary mb-3">{{$t('lb_dept_flight')}}</div>
                  <div>
                    <strong class="align-middle">{{searchInfo.depAirport.cityLocName}}</strong>
                    <img class="mx-2" src="@/assets/ic-btn-r-arrow-brown.svg" alt="right arrow">
                    <strong class="align-middle">{{searchInfo.arrAirport.cityLocName}}</strong>
                    <div class="mt-1">{{formatDate(goFlight.depDate)}}</div>
                    <div class="mt-1" v-if="goFlight.flightNo">
                      <span v-if="goFlight.isDirect">{{$t('lb_nonstop')}}</span>
                      ．{{goFlight.duration | formatFlightDuration}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-8">
                <!-- card-content -->
                <div class="row no-gutters" v-if="goFlight.flightNo">
                  <div class="border border-ivory-dark rounded">
                    <div class="card-content d-flex">
                      <div
                        class="card-content-item d-flex flex-column align-items-left justify-content-center w-50 px-3 pl-lg-6 py-3 border-right border-ivory-dark"
                      >
                        <div class="d-flex flex-column">
                          <div class="d-flex align-items-center">
                            <span class="time h1 mb-0">{{goFlight.depTime | formatTime}}</span>
                            <span class="sub text-brown">{{$t('lb_dept')}}</span>
                          </div>
                          <div class="d-flex align-items-top mt-2">
                            <div class="airport mr-5">
                              {{searchInfo.depAirport.airportLocName}}
                              <br>{{$t('lb_terminal')}} {{goFlight.depTerminal}}
                            </div>
                            <div class="badge badge-dark mt-1">{{searchInfo.depAirport.airportCode}}</div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="card-content-item d-flex flex-column align-items-left justify-content-center w-50 px-3 pl-lg-6 py-3"
                      >
                        <div class="d-flex flex-column">
                          <div class="d-flex align-items-center">
                            <span class="time h1 mb-0">{{goFlight.arrTime | formatTime}}</span>
                            <span class="sub text-brown">{{$t('lb_arvl')}}</span>
                          </div>
                          <div class="d-flex align-items-top mt-2">
                            <div class="airport mr-5">
                              {{searchInfo.arrAirport.airportLocName}}
                              <br>{{$t('lb_terminal')}} {{goFlight.arrTerminal}}
                            </div>
                            <div class="badge badge-dark mt-1">{{searchInfo.arrAirport.airportCode}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-content border-top border-ivory-dark py-2 px-3 pl-lg-6">
                      <span class="logo-xs-icon"></span>
                      <span class="mx-2">{{goFlight.flightNo}}</span>
                      <span class="text-iron-light">{{goFlight.aircraftCode}}</span>
                    </div>
                    <div class="card-content border-top border-ivory-dark py-3 px-3 pl-lg-6">
                      <div class="strong">{{$t('lblb_fare_y3')}}</div>
                      <div class="d-flex flex-wrap mt-2">
                        <div class="rule-item py-1" v-for="(item, i) in fareRules" :key="i">
                          <span :class="item.icon"></span>
                          {{ item.title }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 尚未選擇航班 -->
                <div class="row row no-gutters h-100 border border-ivory-dark rounded" v-if="!goFlight.flightNo">
                  <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                    {{$t('lb_not_select_product')}}
                  </div>
                </div>
              </div>
            </div>
            <!-- RETURN -->
            <div class="row pt-5 mb-5" v-if="isRoundTrip">
              <div class="col-12 col-lg-4">
                <div class="dep mb-3 mb-lg-0">
                  <div class="h3 text-primary mb-3">{{$t('lb_arvl_flight')}}</div>
                  <div>
                    <strong class="align-middle">{{searchInfo.arrAirport.cityLocName}}</strong>
                    <img class="mx-2" src="@/assets/ic-btn-r-arrow-brown.svg" alt="right arrow">
                    <strong class="align-middle">{{searchInfo.depAirport.cityLocName}}</strong>
                    <div class="mt-1">{{ formatDate(backFlight.depDate) }}</div>
                    <div class="mt-1" v-if="backFlight.flightNo">
                      <span v-if="backFlight.isDirect">{{$t('lb_web_nonstop')}}</span>
                      ．{{backFlight.duration | formatFlightDuration}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-8">
                <!-- card-content -->
                <div class="row no-gutters" v-if="backFlight.flightNo">
                  <div class="border border-ivory-dark rounded">
                    <div class="card-content d-flex">
                      <div
                        class="card-content-item d-flex flex-column align-items-left justify-content-center w-50 px-3 pl-lg-6 py-3 border-right border-ivory-dark"
                      >
                        <div class="d-flex flex-column">
                          <div class="d-flex align-items-center">
                            <span class="time h1 mb-0">{{backFlight.depTime | formatTime}}</span>
                            <span class="sub text-brown">{{$t('lb_dept')}}</span>
                          </div>
                          <div class="d-flex align-items-top mt-2">
                            <div class="airport mr-5">
                              {{searchInfo.arrAirport.airportLocName}}
                              <br>{{$t('lb_terminal')}} {{backFlight.depTerminal}}
                            </div>
                            <div class="badge badge-dark mt-1">{{searchInfo.arrAirport.airportCode}}</div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="card-content-item d-flex flex-column align-items-left justify-content-center w-50 px-3 pl-lg-6 py-3"
                      >
                        <div class="d-flex flex-column">
                          <div class="d-flex align-items-center">
                            <span class="time h1 mb-0">{{backFlight.arrTime | formatTime}}</span>
                            <span class="sub text-brown">{{$t('lb_arvl')}}</span>
                          </div>
                          <div class="d-flex align-items-top mt-2">
                            <div class="airport mr-5">
                              {{searchInfo.depAirport.airportLocName}}
                              <br>{{$t('lb_terminal')}} {{backFlight.arrTerminal}}
                            </div>
                            <div class="badge badge-dark mt-1">{{searchInfo.depAirport.airportCode}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-content border-top border-ivory-dark py-2 px-3 pl-lg-6">
                      <span class="logo-xs-icon"></span>
                      <span class="mx-2">{{backFlight.flightNo}}</span>
                      <span class="text-iron-light">{{backFlight.aircraftCode}}</span>
                    </div>
                    <div class="card-content border-top border-ivory-dark py-3 px-3 pl-lg-6">
                      <div class="strong">{{$t('lblb_fare_y3')}}</div>
                      <div class="d-flex flex-wrap mt-2">
                        <div class="rule-item py-1" v-for="(item, i) in fareRules" :key="i">
                          <span :class="item.icon"></span>
                          {{ item.title }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 尚未選擇航班 -->
                <div v-else class="row no-gutters h-100 border border-ivory-dark rounded">
                  <div
                    class="col-12 h-100 d-flex align-items-center justify-content-center"
                  >{{$t('lb_not_select_product')}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- paxDetail -->
          <div class="col-12 col-lg-4 pb-6">
            <div class="row justify-content-end">
              <div class="col-12 col-lg-9">
                <div class="text-primary text-right">
                  <p class="pt-0 pt-lg-5 mb-1">{{$t('lb_pax_total_price',[totalPaxNum])}}</p>
                  <div class="mb-3">
                    <span class="mt-1 mr-2">{{currency}}</span>
                    <strong class="h2">{{$n(totalPrices)}}</strong>
                  </div>
                </div>
                <hr class="bg-ivory-light">
                <div>
                  <p class="text-iron-light mb-2">{{$t('lb_amount')}}</p>
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between pt-1">
                      <div>{{$t('lb_tkt_price')}}</div>
                      <div>{{currency}} {{ $n(totalBase) }}</div>
                    </li>
                    <li class="d-flex justify-content-between pt-1">
                      <div>{{$t('lb_oil_price')}}</div>
                      <div>{{currency}} {{ $n(totalFees) }}</div>
                    </li>
                    <li class="d-flex justify-content-between pt-1">
                      <div>{{$t('lb_apt_tax')}}</div>
                      <div>{{currency}} {{ $n(totalTaxes) }}</div>
                    </li>
                  </ul>
                </div>
                <hr class="bg-ivory-light">
                <p
                  class="text-iron p"
                >{{$t('lb_amount_detail').replace('%1$@', searchInfo.pax.adt).replace('%1$@', '成人').replace('%1$@',
                  searchInfo.pax.bigChd + searchInfo.pax.smallChd).replace('%1$@', '兒童').replace('%1$@',
                  searchInfo.pax.inf).replace('%1$@', '嬰兒')}}</p>

                <button
                  class="btn btn-link text-gold p-0"
                  @click="toggleDetailFee"
                >{{$t('note_view_detail_amount')}}
                </button>
                <hr class="bg-ivory-dark">
                <button
                  class="btn btn-link text-gold p-0"
                  @click="toggleFareRule"
                >{{$t('note_view_tkt_rule')}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL -->
    <!-- detailFare -->
    <StarModal title="#旅程費用" v-model="isDetailFeeOpen" :hasConfirmBtn="false" :isScroll="true">
      <template slot="content">
        <div class="w-100" style="overflow:hidden;">
          <div class="content-cards" style="padding:0 82px 0 102px;">
            <StarPaxPriceDetail :showContent="false"/>
            <StarPaxPriceDetail :showContent="false"/>
            <StarPaxPriceDetail :showContent="false"/>
          </div>
        </div>
      </template>
    </StarModal>

    <!-- fareRule -->
    <!-- <StarModal title="查看票價規則" v-model="isFareRuleOpen" :hasConfirmBtn="false" :isScroll="true">
      <template slot="content">
        <div class="w-100" style="overflow:hidden;">
          <div class="content-cards" style="padding:0 82px 0 102px;">
            <p>FareRule</p>
          </div>
        </div>
      </template>
    </StarModal> -->


    <StarModal
      title="查看票價規則"
      v-model="isFareRuleOpen"
      :isScroll="true"
      :hasConfirmBtn="false"
      :data="{ cabinList }"
    >
      <template slot="content" slot-scope="slotProps">
        <StarCabinListModal
          :cabinList="slotProps.data.cabinList">
        </StarCabinListModal>
      </template>
    </StarModal>

  </div>
</template>
<script>
  import { directive as onClickaway } from 'vue-clickaway';
  import StarModal from '@/components/common/StarModal';
  import StarPaxPriceDetail from '@/components/StarPaxPriceDetail';
  import StarCabinListModal from '@/components/modal/StarCabinListModal';

  export default {
    directives: {
      onClickaway,
    },
    components: {
      StarModal,
      StarPaxPriceDetail,
      StarCabinListModal,
    },

    created() {
      document.addEventListener('scroll', this.scroll);
    },
    mounted() {
      this.offsetHeight = this.$refs.bar.offsetHeight;
      this.$refs.bar.classList.add('fixed-bottom');
    },
    beforeDestroy() {
      document.body.style.paddingBottom = '0px';
      document.removeEventListener('scroll', this.scroll);
    },
    props: {
      goFlight: {
        type: [Object, Boolean],
      },

      backFlight: {
        type: [Object, Boolean],
      },

      searchInfo: {
        type: Object,
        required: true,
      },

      fareRules: {
        type: Array,
        default: () => {
          return [
            { title: '發送文字訊息', icon: 'icon-wifi' },
            { title: '申請退票 TWD 2,888', icon: 'icon-cancel' },
            { title: '20kg 托運行李', icon: 'icon-luggage' },
            { title: '更換行程 TWD 1,888', icon: 'icon-exchange' },
            { title: '7kg 手提行李', icon: 'icon-handbag' },
            { title: '更換日期/航班 TWD 1,888', icon: 'icon-exchange' },
            { title: '累積 60% 哩程', icon: 'icon-gift' },
            { title: '錯過航班申請退款 TWD 2,888', icon: 'icon-cancel' },
          ];
        },
      },

      cabinList: {
        type: Array,
        default: () => [
          {
            className: '經濟Save',
            fareFamilyCode: 'ECOMERC',
            price: 8000,
            availableSeat: 0,
            wifi: false,
            luggage: 20,
            milage: 100,
            handluggage: 7,
            seatSelection: false,
            seat: {
              position: '標準',
              info: '12-33 排座位',
            },
            millageCumulative: false,
            allowRefund: 0,
            allowChangePlan: 2888,
            allowChangeFlight: 2888,
            allowMissedRefund: 2888,
          },
          {
            className: '經濟 Standard',
            fareFamilyCode: 'BUSMERC',
            price: 10000,
            availableSeat: 1,
            wifi: true,
            luggage: 20,
            milage: 60,
            handluggage: 7,
            seatSelection: false,
            seat: {
              position: '標準',
              info: '12-33 排座位',
            },
            millageCumulative: true,
            allowRefund: 2888,
            allowChangePlan: 1888,
            allowChangeFlight: 1888,
            allowMissedRefund: 2888,
          },
          {
            className: '經濟 Flex',
            fareFamilyCode: 'ECONOMIC FLEX',
            price: 11825,
            availableSeat: null,
            wifi: true,
            luggage: 30,
            milage: 80,
            handluggage: 7,
            seatSelection: true,
            seat: {
              position: '前排',
              info: '05-33 排座位',
            },
            millageCumulative: true,
            allowRefund: 1888,
            allowChangePlan: 888,
            allowChangeFlight: 888,
            allowMissedRefund: 1888,
          },
          {
            className: '經濟 Flex Plus',
            fareFamilyCode: 'ECONOMIC FLEX PLUS',
            price: 13225,
            availableSeat: 0,
            wifi: true,
            luggage: 30,
            milage: 100,
            handluggage: 7,
            seatSelection: true,
            seat: {
              position: '前排',
              info: '05-33 排座位',
            },
            millageCumulative: true,
            allowRefund: 888,
            allowChangePlan: 0,
            allowChangeFlight: 0,
            allowMissedRefund: 888,
          },
        ],
      },

      currency: {
        type: String,
        required: true,
      }
    },

    data() {
      return {
        isDetailOpen: false,
        isDetailFeeOpen: false,
        isFareRuleOpen: false,
      };
    },

    computed: {
      windowHeight() {
        return window.innerHeight;
      },

      isRoundTrip() {
        return this.searchInfo.isRoundTrip;
      },

      totalPaxNum() {
        return this.searchInfo.pax.adt + this.searchInfo.pax.bigChd + this.searchInfo.pax.smallChd + this.searchInfo.pax.inf;
      },

      totalBase() {
        const goFlightBase = this.goFlight.prices ? this.goFlight.prices.totalPrices.base : 0;
        const backFlightBase = this.backFlight.prices ? this.backFlight.prices.totalPrices.base : 0;

        if (this.isRoundTrip) {
          return goFlightBase + backFlightBase;
        } else {
          return goFlightBase;
        }
      },

      totalPrices() {
        const goFlightPrice = this.goFlight.prices ? this.goFlight.prices.totalPrices.total : 0;
        const backFlightPrice = this.backFlight.prices ? this.backFlight.prices.totalPrices.total : 0;

        if (this.isRoundTrip) {
          return goFlightPrice + backFlightPrice;
        } else {
          return goFlightPrice;
        }
      },
      totalFees() {
        const goFlightFees = this.goFlight.prices ? this.goFlight.prices.totalPrices.totalFees : 0;
        const backFlightFees = this.backFlight.prices ? this.backFlight.prices.totalPrices.totalFees : 0;

        if (this.isRoundTrip) {
          return goFlightFees + backFlightFees;
        } else {
          return goFlightFees;
        }
      },
      totalTaxes() {
        const goFlightTaxes = this.goFlight.prices ? this.goFlight.prices.totalPrices.totalTaxes : 0;
        const backFlightTaxes = this.backFlight.prices ? this.backFlight.prices.totalPrices.totalTaxes : 0;

        if (this.isRoundTrip) {
          return goFlightTaxes + backFlightTaxes;
        } else {
          return goFlightTaxes;
        }
      },
    },

    watch: {
      isDetailOpen(newVal, oldVal) {
        if (oldVal === true && newVal == false) {
          this.isModalOpen = false;
        }
      },
    },

    methods: {
      scroll() {
        const scrollY = window.scrollY; //捲動滑鼠時，目前視窗頂與 body.height 頂的距離
        const barOffest = this.offsetHeight; //BottomInfoBar 的元素高
        const bodyHeight = document.body.offsetHeight; //body 的元素高
        const windowInnerHeight = window.innerHeight; //目前瀏覽器可視頁面高度

        if (scrollY >= windowInnerHeight - bodyHeight) {
          document.body.style.paddingBottom = barOffest + 'px';
          this.$refs.bar.classList.add('fixed-bottom');
        } else {
          document.body.style.paddingBottom = '0px';
          this.$refs.bar.classList.remove('fixed-bottom');
        }
      },

      toggleDetailOpenStatus() {
        this.isDetailOpen = !this.isDetailOpen;
        if (this.isDetailOpen) {
          document.body.style.overflow = 'hidden';
        } else {
          document.body.style.overflow = 'visible';
        }
      },

      toggleDetailFee() {
        this.isDetailFeeOpen = true;
      },

      toggleFareRule() {
        this.isFareRuleOpen = true;
      },

      clickEmitEvent(e) {
        this.isDetailOpen = false;
        document.body.style.overflow = 'visible';
        this.$emit('click', e);
      },

      closeDetailOpenStatus() {
        this.isDetailOpen = false;
        document.body.style.overflow = 'visible';
      },
    },
  };
</script>
<style lang="scss" scoped>
  .bar-wrap {
    position: relative;
  }

  .detail-btn {
    height: 36px;
    width: 36px;
    background-color: $gold;
    border-radius: 50%;
    cursor: pointer;
  }

  .detail-wrap {
    transition: 0.4s ease-in-out;
    position: relative;
    background-color: $ivory-light;
    overflow-y: scroll;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      background-color: $gray-300;
    }
  }

  .card-title {
    border-top: 1px solid $ivory-dark;
    padding: 30px 0;
  }

  .card-body {
    max-height: 600px;
    border-top: 1px solid $ivory-dark;
    overflow: hidden;
    transition: max-height 0.5s;
    &.hide {
      max-height: 0px;
      transition: max-height 0.5s;
    }
  }

  // .card-content-item {
  //   &:first-child {
  //     border-right: none;
  //     border-top-left-radius: 4px;
  //   }
  //   &:last-child {
  //     border-top-right-radius: 4px;
  //   }
  // }
  .time {
    margin-right: 10px;
  }

  .sub {
    font-size: 1rem;
  }

  .card-footer {
    border: 1px solid $ivory-dark;
    padding: 10px 50px;
  }

  .flight-time {
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      width: 1px;
      top: 3px;
      height: 80%;
      content: '';
      background-color: $ivory-dark;
      z-index: 10;
    }
  }

  .rule-item {
    &:nth-child(odd) {
      width: 40%;
    }
    &:nth-child(even) {
      width: 60%;
    }
  }

  .hasDetail {
    transform: rotate(180deg);
  }

  // media query
  @include media-breakpoint-down(md) {
    .rule-item {
      &:nth-child(odd) {
        width: 100%;
      }
      &:nth-child(even) {
        width: 100%;
      }
    }
  }
</style>

