<template>
  <div class="w-100 border border-brown rounded mb-4">
    <div class="card-header px-3 px-lg-4 py-3 d-flex justify-content-between">
      <span>旅客 {{ data.id }} ({{ data.paxType }})</span>
      <span>{{ data.lastName }}/ {{ data.firstName }}</span>
    </div>
    <div class="card-title d-flex justify-content-between align-items-center">
      <div class="strong">電子機票</div>
      <div class="h1 mb-0">
        189-1234567892
      </div>
    </div>
    <div class="card-title d-flex justify-content-between align-items-center">
      <div class="strong">旅程費用</div>
      <div class="h1 mb-0 d-flex align-items-center">
        <span class="strong mr-2">TWD</span>12,825
      </div>
    </div>
    <div class="card-content" :class="{'hide': !isShow }">
      <div class="card-content-item">
        <div class="card-content-title">
          旅程費用明細
        </div>
        <ul class="card-content-list list-unstyled py-3 m-0">
          <li class="d-flex justify-content-between py-1">
            <div>機票費用</div>
            <div><span>TWD</span> 9817</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>燃油附加費</div>
            <div><span>TWD</span> 888</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>HKG機場稅金</div>
            <div><span>TWD</span> 1,225</div>
          </li>
          <li class="d-flex justify-content-between py-1">
            <div>TPE機場稅金</div>
            <div><span>TWD</span> 895</div>
          </li>
        </ul>
      </div>
      <div class="card-content-item">
        <div class="card-content-title">
          旅客資訊
        </div>
        <ul class="card-content-list list-unstyled py-3 m-0">
          <li class="d-flex justify-content-between py-1" v-if="data.lastName">
            <div>姓名</div>
            <div>{{ data.firstName }} {{ data.lastName }}</div>
          </li>
          <li class="d-flex justify-content-between py-1" v-if="data.title">
            <div>稱謂</div>
            <div>{{ data.title }}</div>
          </li>
          <li class="d-flex justify-content-between py-1" v-if="data.birthDay">
            <div>生日</div>
            <div>{{ data.birthDay }}</div>
          </li>
          <li class="d-flex justify-content-between py-1" v-if="data.carer">
            <div>同行成人旅客</div>
            <div>{{ data.carer.lastName }} {{ data.carer.firstName }} {{ data.carer.title }}</div>
          </li>
          <li class="d-flex justify-content-between py-1" v-if="data.memberCard">
            <div>卡號</div>
            <div>{{ data.memberCard }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
/*
data: {
  lastName: 'LIN',
  firstName: 'LIN',
  title: '女童'
  hasFirstName: true,
  birthday: '2018/11/02',
  carer: 'LIN/LIN',
  memberCard: '123333333',
}
*/
export default {
  props: {
    isShow: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
    }
  },
  computed: {
    title() {
      return `旅客${this.data.id} (${this.data.paxType})`;
    },
    fullName() {
      if(this.data.hasFirstName) {
        return `${this.data.lastName}/${this.data.lastName} ${this.data.title}` 
      } 
    }
  },
}
</script>

<style lang="scss" scoped>
.card-title {
  border-top: 1px solid $ivory-dark;
  padding: 30px 3rem;
}
.card-content-title {
  color: $iron-light;
  border-bottom: 1px solid $ivory-dark;
  border-top: 1px solid $ivory-dark;
  padding: .5rem 3rem;
}
.card-content-list {
  font-size: 1.125rem;
  padding: .5rem 3rem;
}
.card-content {
  max-height: 800px;
  overflow: hidden;
  transition: max-height .5s;
  &.hide {
    max-height: 0px;
    transition: max-height .5s;
  }
}
@include media-breakpoint-down(md) {
  .card-title {
    padding: 2rem 1rem;
  }
  .card-content-title,
  .card-content-list {
    padding: .5rem 1rem;
  }
}
</style>
