<template>
  <div>
    <!-- <h2 class="h3 text-primary font-weight-bold mb-3">聯絡人</h2> -->
    <div class="row mb-0 mb-md-2">
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 聯絡人 -->
        <StarDropdown
          :options="contactOptions"
          v-model="value.contact"
          :maxHeight="500"
          :title="$t('lb_contact')"
          :placeholder="$t('hint_select')"
        />
      </div>
      <div v-if="value.contact==='custom'" class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 姓氏 -->
        <StarInput
          :name="'lastName'+ value.id"
          :placeholder="$t('hint_last_name')"
          aria-label
          :isDisabled="false"
          title="姓氏"
          v-model="value.lastName"
          :fieldName="$t('lb_last_name')"
          rules="required"
          type="text"
          :formatter="upperCase"
        />
      </div>
      <div v-if="value.contact==='custom'" class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 名字 -->
        <StarInput
          :name="'firstName'+ value.id"
          :placeholder="$t('hint_first_name')"
          aria-label
          title="名字"
          v-model="value.firstName"
          :fieldName="$t('lb_first_name')"
          rules="required"
          type="text"
          :formatter="upperCase"
        />
      </div>
    </div>
    <div class="row mb-0 mb-md-3">
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <StarDropdown
          :options="countryCodeOption"
          v-model="value.phone.countryCode"
          :maxHeight="500"
          :title="$t('lb_country_code')"
          :placeholder="$t('hint_select')"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <StarInput
          :name="'mobile'+ value.id"
          :placeholder="$t('hint_company_phone')"
          aria-label
          :title="$t('lb_mobile')"
          v-model="value.phone.number"
          :fieldName="$t('lb_mobile')"
          rules="required"
          type="text"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset class="mt-2 mb-3">
          <div>
            <input
              class="checkbox"
              type="checkbox"
              :id="'hasOtherNumbers' + value.id"
              v-model="value.hasOtherNumbers"
            >
            <label :for="'hasOtherNumbers' + value.id">
              <span>{{$t("chkbox_home_company")}}</span>
            </label>
          </div>
        </fieldset>
      </div>
    </div>
    <transition name="fade">
      <div class="row mb-5" v-if="value.hasOtherNumbers">
        <div class="col-12 col-lg-5 mb-4">
          <strong class="mb-2 d-block">{{$t("lb_home")}}</strong>
          <div class="row no-gutters">
            <div class="col-4">
              <StarInput
                :name="'homeNumberAreaCode'+ value.id"
                :placeholder="$t('lb_region_code')"
                aria-label
                :isDisabled="false"
                :title="$t('lb_region_code')"
                v-model="value.homeNumber.areaCode"
                type="text"
              />
            </div>
            <div class="col-8">
              <StarInput
                :name="'homeNumber'+ value.id"
                :placeholder="$t('hint_home_phone')"
                aria-label
                :isDisabled="false"
                :isGroup="true"
                :title="$t('lb_phone_number')"
                v-model="value.homeNumber.number"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12 mb-4 mb-lg-0">
          <strong class="mb-2 d-block">{{$t('lb_company')}}</strong>
          <div class="row">
            <div class="col-4 col-lg-3 pr-0">
              <StarInput
                :name="'officeNumberAreaCode'+ value.id"
                :placeholder="$t('lb_region_code')"
                aria-label
                :isDisabled="false"
                :title="$t('lb_region_code')"
                v-model="value.officeNumber.areaCode"
                type="text"
              />
            </div>
            <div class="col-8 col-lg-6 pl-0">
              <StarInput
                :name="'officeNumber'+ value.id"
                :placeholder="$t('hint_company_phone')"
                aria-label
                :isDisabled="false"
                :isGroup="true"
                :title="$t('lb_phone_number')"
                v-model="value.officeNumber.number"
                type="text"
              />
            </div>
            <div class="col-12 col-lg-3 mt-2 mt-lg-0">
              <StarInput
                :name="'officeNumberExt'"
                :placeholder="$t('hint_ext')"
                aria-label
                :isDisabled="false"
                :title="$t('lb_company_ext')"
                v-model="value.officeNumber.ext"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
    </transition>
    <div class="row mt-3 mt-lg-5">
      <div class="col-12 col-lg-8">
        <StarInput
          :name="'email'+ value.id"
          :placeholder="$t('hint_email')"
          aria-label
          :isDisabled="false"
          :title="$t('lb_email')"
          v-model="value.email"
          type="text"
          :fieldName="$t('lb_email')"
          rules="required|email"
        />
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-12">
        <fieldset class="my-3">
          <div>
            <input class="checkbox" type="checkbox" :id="'isEdm' + value.id" v-model="value.isEdm">
            <label :for="'isEdm' + value.id">
              <span>{{$t('chkbox_edm')}}</span>
            </label>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</template>
<script>
import StarInput from '@/components/common/StarInput';
import StarDropdown from '@/components/common/StarDropdown';

export default {
  props: {
    contactOptions: {
      type: Array,
      required: true,
      default: () => [
        { label: '男童 (Mstr)', value: '男童（Mstr）' },
        { label: '女童 (Miss)', value: '女童 (Miss)' },
      ],
    },
    countryCodeOption: {
      type: Array,
      // required: true,
      default: () => [
        { label: '台灣 (+886)', value: '886' },
        { label: '日本 (+81)', value: '81' },
      ],
    },
    value: {
      type: Object,
    },
  },
  components: {
    StarInput,
    StarDropdown,
  },

  watch: {
    'value.hasOtherNumbers'(newVal, oldVal) {
      if (oldVal === true && newVal === false) {
        this.value.homeNumber = {
          areaCode: null,
          number: null,
        };

        this.value.officeNumber = {
          areaCode: null,
          number: null,
          ext: null,
        };
      }
    },
  },
};
</script>
