<template>
  <div class="price-list">
    <fieldset>
      <div v-if="!!passArrCabinSelector" class="price-list__container result pb-2 pb-lg-4">
        <!-- result selection -->
        <label class="col-lg-12 item border border-brown-light px-3 pt-5 pb-3 pt-md-3 px-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <h2>回程航班</h2>
              <p>{{formatDate(rawSearchInfo.backDate)}} ｜{{rawSearchInfo.arrAirport.cityLocName}}飛往{{rawSearchInfo.depAirport.cityLocName}}</p>
              <span @click="resetSelector(type)" class="price-list__editor">編輯
                <div class="cabin-class__edit__icon"></div>
              </span>
            </div>
            <div class="col-12 col-lg-5 px-3 px-lg-5 border-brown-light border-right-lg-1 mb-4 mb-lg-0">
              <div class="row">
                <div class="col-4">
                  <h2 class="time font-weight-bold mb-0">{{backFlight.depTime | formatTime}}</h2>
                  <div class="note">{{rawSearchInfo.arrAirport.airportCode}}</div>
                </div>
                <div class="col-4 d-flex align-items-center fly-to-icon bg-white"></div>
                <div class="col-4">
                  <h2 class="time font-weight-bold mb-0">{{backFlight.arrTime | formatTime}}</h2>
                  <div class="note">{{rawSearchInfo.depAirport.airportCode}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 px-3 px-lg-5 border-brown-light border-right-lg-1 mb-4 mb-lg-0">
              <h4 class="t-16 duration">
                <span>直飛 ·</span>
                {{backFlight.duration | formatFlightDuration}}
              </h4>
              <div class="note">
                <span class="flight-logo-xs-icon mr-2"></span>
                <span class="result-flight-model mr-1">Airbus A321neo</span>
                <span class="flight-info" @click="flightDetailModalSwitch">查看航班資訊</span>
              </div>
            </div>
            <div class="col-12 col-lg-3 text-left text-lg-right">
              <h2 class="price mb-0">
                <small class="currency note mr-1">TWD</small>
                <span class="price">{{$n(passArrCabinSelector.price)}}</span>
              </h2>
              <span class="note">{{passArrCabinSelector.className}}</span>
            </div>
          </div>
        </label>
      </div>
      <div
        v-else
        class="price-list__container"
        v-for="(item, key, index) in flightSearchResult"
        :key="index"
      >
        <input
          type="radio"
          :name="type + 'price'"
          :id="type + item.flightNo + replaceSlash(item.date)"
          :value="item"
          v-model="pickedFlightNo"
        >
        <!-- selector -->
        <label
          class="col-lg-12 item border border-brown-light mb-3 mb-lg-0 px-3 pt-5 pb-4 pt-md-3 px-lg-5"
          :for="type + item.flightNo + replaceSlash(item.date)"
        >
          <div class="row">
            <span v-if="!cheapest" class="cheapest">最低票價</span>
            <div v-if="!!passArrCabinSelector" class="col-lg-12">
              <h2>回程航班</h2>
              <p>2020年1月28日, 週二 ｜台北飛往香港</p>
            </div>
            <div class="col-12 col-lg-5 px-3 px-lg-5 border-brown-light border-right-lg-1 mb-4 mb-lg-0 align-items-center">
              <div class="row">
                <div class="col-4">
                  <h2 class="time font-weight-bold mb-0">{{item.depTime | formatTime}}</h2>
                  <div class="note">{{depAirportCode}}</div>
                </div>
                <div class="col-4 d-flex align-items-center fly-to-icon">cursor</div>
                <div class="col-4">
                  <h2 class="time font-weight-bold mb-0">{{item.arrTime | formatTime}}</h2>
                  <div class="note">{{arrAirportCode}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 px-3 px-lg-5 border-brown-light border-right-lg-1 mb-2 mb-lg-0">
              <h4 class="t-16 duration">
                <span v-if="item.isDirect">直飛 ·</span>
                {{item.duration | formatPeriod}}
              </h4>
              <div class="note">
                <span class="flight-logo-xs-icon mr-2"></span>
                <span class="flight-no mr-1">{{item.flightNo}}</span>
                <span class="flight-model mr-1">Airbus A321neo</span>
                <span class="flight-info" @click="switchFlightModal">查看航班資訊</span>
              </div>
            </div>
            <div class="col-12 d-lg-none">
              <hr class="">
            </div>
            <div class="col-12 col-lg-3 text-left text-lg-right d-flex justify-content-center flex-column">
              <h2 class="price mb-0 d-inline d-lg-block">
                <small class="currency note mr-2">{{item.currency}}</small>
                <span v-if="!!passArrCabinSelector" class="price">{{$n(passArrCabinSelector.price)}}</span>
                <span v-else class="price mr-2">{{$n(item.price.adt)}}</span>
                <small>起</small>
              </h2>
              <span class="strong text-iron-lighter d-inline d-lg-block">每位成人</span>
              <span v-if="!!passArrCabinSelector" class="note">{{passArrCabinSelector.className}}</span>
              <!-- <span v-else class="note">最低價格</span> -->
              <span class="price__arrow"></span>
            </div>
          </div>
        </label>
        <div v-show="!!passArrCabinSelector==false" class="row">
          <cabin-class-selector v-show="item===pickedFlightNo" :cabin="cabin" :flightType="type"></cabin-class-selector>
        </div>
      </div>
    </fieldset>
  </div>
</template>
<script>
import cabinClassSelector from './CabinClassSelector.vue';
import StarModal from '@/components/common/StarModal';
export default {
  name: 'priceList',
  components: {
    cabinClassSelector,
  },
  props: {
    type: String,
    flightSearchResult: {
      type: Array,
      default: function() {
        return [];
      },
    },
    depAirportCode: {
      type: String,
      default: 'DEP_AIRPORT_CODE',
    },
    arrAirportCode: {
      type: String,
      default: 'ARR_AIRPORT_CODE',
    },
  },
  data() {
    return {
      pickedFlightNo: null,
      showCabinClass: false,
      cheapest: true,
      cabin: {
        payForPassClass: 9990,
        economyCabinClassList: {
          0: {
            className: '經濟Save',
            price: 8000,
            availableSeat: 0,
            wifi: false,
            luggage: 20,
            milage: 100,
          },
          1: {
            className: '經濟 Standard',
            price: 10000,
            availableSeat: 1,
            wifi: true,
            luggage: 20,
            milage: 60,
          },
          2: {
            className: '經濟 Flex',
            price: 11825,
            availableSeat: null,
            wifi: true,
            luggage: 30,
            milage: 80,
          },
          3: {
            className: '經濟 Flex Plus',
            price: 13225,
            availableSeat: 6,
            wifi: true,
            luggage: 30,
            milage: 100,
          },
        },
        commercialCabinClassList: {
          1: {
            className: '商務 Standard',
            price: 19925,
            availableSeat: null,
            wifi: true,
            luggage: 45,
            milage: 130,
          },
          2: {
            className: '商務 Flex',
            price: 21825,
            availableSeat: null,
            wifi: true,
            luggage: 45,
            milage: 150,
          },
          3: {
            className: '商務 Flex Plus',
            price: 23225,
            availableSeat: 6,
            wifi: true,
            luggage: 45,
            milage: 175,
          },
        },
      },
    };
  },
  watch: {
    pickedFlightNo(newVal) {
      this.showCabinClass = true;
      this.$emit('update', newVal);
    },
  },
  filters: {
    formatTime(timeVal) {
      return timeVal
        .split(':')
        .splice(0, 2)
        .join(':');
    },

    formatPeriod(periodVal) {
      let hour = Math.floor(periodVal / 60);
      let min = periodVal - hour * 60;
      return `${hour} 小時 ${min} 分`;
    },

    replaceSlash(val) {
      return val.replace(/\//g, '');
    },
  },
  methods: {
    replaceSlash(val) {
      return val.replace(/\//g, '');
    },
    resetSelector(val) {
      if (val == 'arr') {
        this.$store.commit('arrResetSelector');
      }
    },
    switchFlightModal() {
      this.$store.commit('flightModalArrSwitch');
    },
  },
  computed: {
    passArrCabinSelector() {
      return this.$store.state.arrSelectedCabinData;
    },

    rawSearchInfo() {
      return this.$store.state.Booking.rawSearchInfo;
    },

    goFlight: {
      set(val) {
        this.$store.commit('Booking/SET_GO_FLIGHT', val);
      },
      get() {
        return this.$store.state.Booking.goFlight;
      },
    },

    backFlight: {
      set(val) {
        this.$store.commit('Booking/SET_BACK_FLIGHT', val);
      },
      get() {
        return this.$store.state.Booking.backFlight;
      },
    },
  },
};
</script>
<style lang="scss" scoped>
.result {
  label {
    color: white;
    background-color: #996a4e;
    cursor: initial !important;
  }
  .fly-to-icon {
    background: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center
      center;
    -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
  }
  .flight-logo-xs-icon {
    width: 23px;
    height: 18px;
    background: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat
      center center;
    -webkit-mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat
      center;
    mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat center;
    display: inline-block;
    background-color: white;
    background-size: 23px 18px;
    vertical-align: sub;
  }
  .result-flight-model {
    color: $white;
  }
  .flight-info {
    color: $white !important;
    text-decoration: underline;
  }
}

.price-list {
  label {
    cursor: pointer;
  }
  .fly-to-icon {
    -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    background-color: $iron;
  }
  .flight-logo-xs-icon {
    width: 23px;
    height: 18px;
    display: inline-block;
    -webkit-mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat
      center;
    mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat center;
    background-color: $gold-dark;
    background-size: 23px 18px;
    vertical-align: sub;
  }
  .flight-no {
    color: $iron;
  }
  .flight-model {
    color: $iron-light;
  }
  input[type='radio']:checked,
  input[type='radio']:not(:checked) {
    & ~ label {
      .icon-flight-arrow {
        filter: invert(100%) brightness(10);
      }
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
  input[type='radio']:checked {
    & ~ label {
      background-color: $ivory-light;
      cursor: initial;
      .fly-to-icon {
        -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
        mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
        background-color: $iron;
      }
      .flight-logo-xs-icon {
        width: 23px;
        height: 18px;
        display: inline-block;
        background-color: $gold-dark;
        background-size: 23px 18px;
        vertical-align: sub;
        -webkit-mask: url('~@/assets/starlux-flight-logo-white-xs.svg')
          no-repeat center;
        mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat center;
      }
    }
  }
  input {
    position: absolute;
    opacity: 0;
  }
  .flight-info {
    cursor: pointer;
    color: $gold;
    display: inline-block;
    text-decoration: underline;
    margin-top: 13px;
    width: initial;
  }
}
.price-list__editor {
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  .cabin-class__edit__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: white;
    -webkit-mask: url('~@/assets/ic-edit-white.svg') no-repeat center;
    mask: url('~@/assets/ic-edit-white.svg') no-repeat center;
    mask-size: cover;
    margin-bottom: -6px;
  }
}
.price__arrow {
  background-image: url('~@/assets/ic-d-arrow-black.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
@include media-breakpoint-down(md) {
  .price__arrow {
    right: 1%;
  }
  .price-list__editor {
    right: 2%;
  }
}
</style>
