<template>
  <div class="info-wrap rounded">
    <div class="row no-gutters">
      <div class="col-12 col-lg-10">
        <div class="row no-gutters pt-3 pb-0 py-lg-5">
          <div class="col-12 col-lg-7 mb-2 mb-lg-0 d-flex justify-content-around align-items-center position-relative">
            <div>
              <slot name="dep"></slot>
            </div>
            <img
              src="~@/assets/round-trip-white.svg"
              alt="Starlux logo"
              class="pt-2"
              style="position: relative; width: 30px;"
            >
            <div>
              <slot name="arr"></slot>
            </div>
          </div>
          <div class="wrap col-12 col-lg-5 d-flex justify-content-center align-items-center position-relative">
            <span class="h2 vertical-align-middle pt-1">
              <slot name="right"></slot>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center font-weight-light">
        <a href="#" @click.prevent="openModal" class="text-white p-3 p-lg-0">
          <strong class="font-weight-normal">編輯搜尋</strong>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    methods:{
      openModal(){
        this.$emit('input', true)
      }
    }
  }
</script>
<style lang="scss" scoped>
.info-wrap {
  background-color: $iron;
  color: $white;
}

.wrap {
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 250%;
    background-color: $white;
    position: absolute;
    right: 0;
    top: -70%;
  }
}
@include media-breakpoint-down(md) {
  .wrap {
    &:after {
      background: none;
    }
  }
}
</style>

