<template>
  <div class="w-100 h-100 mt-3 pb-3 px-0 info-box-wrapper">
    <div class="info-box">
      <div class="title text-iron-light">
        {{ title }}
      </div>
      <div class="strong mt-2">
        {{ content }}
      </div>
      <small class="text-iron-light" v-if="msg">{{ message }}</small>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    content: {
      type: String,
    },
    message: {
      type: String,
      required: false,
    },
    msg: {
      type: Boolean,
      required: false,
    }
  }
}  
</script>

<style lang="scss">
.info-box-wrapper {
  position: relative;
  padding-left: 2px;
  &:after {
    display: block;
    content: '';
    width: 98%;
    position: absolute;
    height: 1px;
    background-color: $ivory-dark;
    bottom: 0;
  }
  &:nth-child(even) {
    &:after {
      left: 0;
    }
  }
  &:nth-child(odd) {
    .info-box {
      border-left: 1px solid $ivory-dark;
      padding-left: 1rem;
    }
    &:after {
      right: 0;
    }
  }
}
// media query
@include media-breakpoint-down(md) {
  .info-box-wrapper {
    &:nth-child(odd) {
      .info-box {
        border-left: 0;
        padding-left: 0;
      }
      &:after {
        left: 0;
        right: auto;
      }
    }
  }
}
</style>
