<template>
  <Multiselect
    :options="options"
    placeholder="輸入機場或城市"
    :value="option"
    :custom-label="customLabel"
    :show-labels="false"
    :searchable="true"
    :internal-search="true"
    :show-no-result="true"
    :multiple="false"
    group-values="countries"
    group-label="locName"
    :group-select="false"
    @select="select"
  >
    <template slot="singleLabel" slot-scope="props">
      <div class="strong font-weight-normal mb-0 d-flex align-items-center">
        {{ props.option.cityLocName }} {{ props.option.airportLocName }}
        <span
          class="badge badge-dark ml-2"
        >{{ props.option.airportCode }}</span>
      </div>
    </template>
    <template slot="option" slot-scope="props">
      <div v-if="props.option.$isLabel">{{ props.option.$groupLabel }}</div>
      <div
        v-if="!props.option.$isLabel"
        class="py-2 d-flex justify-content-between align-items-center"
      >
        <div class="select-airport-label">
          {{ props.option.cityLocName }}, {{ props.option.locName }}
          <p class="mb-0 select-airport-label__airport mt-2">{{ props.option.airportLocName }}</p>
        </div>
        <span class="badge badge-light align-self-start">{{ props.option.airportCode }}</span>
      </div>
    </template>
    <span slot="noResult">查無資料</span>
  </Multiselect>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    option: {
      type: Object,
    },
    close: {
      type: Function,
    },
  },
  components: {
    Multiselect,
  },
  mounted() {},
  methods: {
    customLabel({
      locName,
      engName,
      countryCode,
      cityLocName,
      cityEngName,
      cityCode,
      airportLocName,
      airportEngName,
      airportCode,
    }) {
      return `${locName}-${engName}-${countryCode}-${cityLocName}-${cityEngName}-${cityCode}-${airportLocName}-${airportEngName}-${airportCode}`;
    },
    select(selectedOption) {
      this.$emit('selected', selectedOption);
    },
  },
};
</script>

<style lang="scss">
@import '~@/style/components/multiselect/vue-multiselect.min.css';

// multiselect
.select-airport-label {
  font-size: 1.25rem;
  &__airport {
    font-size: 1rem;
  }
}
.multiselect {
  min-height: 35px;
  z-index: 2;
}
.multiselect__element {
  border-top: 1px solid $ivory-dark;
  &:first-child {
    border-top: none;
  }
}
.multiselect--above .multiselect__content-wrapper {
  border-radius: 0;
  border-top: 1px solid $gold-light;
}
.multiselect__content-wrapper {
  height: 298px;
  top: 60px;
  border: 1px solid $gold-light;
  border-radius: 0;
  box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
  height: 300px;
}
.multiselect__tags {
  border: none;
  padding-top: 3px;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
}
.multiselect__input {
  font-size: 1.125rem;
  margin-bottom: 0;
  padding: 0 0 0 0;
}
.multiselect__option.multiselect__option--disabled {
  background-color: $ivory-light;
  color: $gold;
  font-size: 0.875rem;
  line-height: 1rem;
  min-height: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.multiselect__option--selected {
  font-weight: 500;
  background-color: $ivory;
}
.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight {
  background-color: $ivory;
  color: $iron-dark;
  font-weight: 500;
}
.multiselect__single {
  padding-left: 0;
  margin-bottom: 0;
}
.multiselect__placeholder {
  font-size: 1.125rem;
  color: $iron-lighter;
  padding-top: 0;
  margin-bottom: 0;
  position: relative;
  top: -4px;
}
// .label {
//   height: 16px;
// }
.select-airport-label__airport {
  font-weight: normal;
}
</style>
