<template>
<div>
  <div class="date h1 font-weight-light text-center mb-3 mb-lg-5">{{date}}</div>
  <div v-for="(item,index) in scheduleData" :key="index">
    <StarScheduleCard :time="item.time" :title="item.title" :content="item.content" :imgUrls="item.imgUrls"/>
  </div>
</div>
</template>
<script>
import StarScheduleCard from '@/components/StarScheduleCard';
export default {
  props: {
    date: {
      type: String,
    },

    scheduleData: {
      type: Array,
      required: true,
    },
  },

  components: {
    StarScheduleCard,
  },

  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
</style>
