<template>
  <div class="col-lg-12 item border border-brown-light px-3 px-md-5 py-4 result">
    <div class="row">
      <div class="col-lg-12">
        <h2 v-if="type === 'go'">{{$t('lb_dept_flight')}}</h2>
        <h2 v-else>{{$t('lb_arvl_flight')}}</h2>
        <p>{{formatDate(flightInfo.depDate)}} ｜{{arrAirport.cityLocName}}#飛往{{depAirport.cityLocName}}</p>
        <span @click="resetFlight" class="price-list__editor">{{$t('lb_edit')}}
          <div class="cabin-class__edit__icon"></div>
        </span>
      </div>
      <div
        class="col-12 col-lg-5 px-3 px-lg-5 border-right border-brown-light border-right-md-0 mb-4 mb-lg-0"
      >
        <div class="row">
          <div class="col-4">
            <h2 class="time font-weight-bold mb-0">{{flightInfo.depTime | formatTime}}</h2>
            <div class="note">{{arrAirport.airportCode}}</div>
          </div>
          <div class="col-4 d-flex align-items-center fly-to-icon bg-white"></div>
          <div class="col-4">
            <h2 class="time font-weight-bold mb-0">{{flightInfo.arrTime | formatTime}}</h2>
            <div class="note">{{depAirport.airportCode}}</div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-lg-4 px-3 px-lg-5 border-right border-brown-light border-right-md-0 mb-4 mb-lg-0"
      >
        <h4 class="t-16 duration">
          <span>{{$t('lb_nonstop')}} ·</span>
          {{flightInfo.duration | formatFlightDuration}}
        </h4>
        <div class="note">
          <span class="flight-logo-xs-icon mr-2"></span>
          <span class="result-flight-model mr-1">{{flightInfo.aircraftCode}}</span>
          <!-- <span class="flight-info" @click="flightDetailModalSwitch">查看航班資訊</span> -->
          <span class="flight-info" @click="toggleFlightDetailModal">#查看航班資訊</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 text-left text-lg-right">
        <h2 class="price mb-0">
          <small class="currency note mr-1">{{currency}}</small>
          <span class="price">{{$n(flightInfo.prices.totalPrices.total)}}</span>
        </h2>
        <span class="note">{{flightInfo.fareFamilyName}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    flightInfo: {
      type: Object,
    },
    depAirport: {
      type: Object,
    },
    arrAirport: {
      type: Object,
    },
    type: {
      type: String,
    },
    currency: {
      type: String,
    }
  },
  methods: {
    resetFlight() {
      this.$emit('resetFlight');
    },
    toggleFlightDetailModal() {
      this.$emit('toggleFlightDetailModal', true);
    }
  }
}
</script>

<style lang="scss" scoped>
// result card
.result {
  color: white;
  background-color: #996a4e;
  cursor: initial !important;
  margin-bottom: 30px;
  .fly-to-icon {
    background: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center
      center;
    -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
  }
  .flight-logo-xs-icon {
    width: 23px;
    height: 18px;
    background: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat
      center center;
    -webkit-mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat
      center;
    mask: url('~@/assets/starlux-flight-logo-white-xs.svg') no-repeat center;
    display: inline-block;
    background-color: white;
    background-size: 23px 18px;
    vertical-align: sub;
  }
  .result-flight-model {
    color: $white;
  }
  .flight-info {
    color: $white !important;
    text-decoration: underline;
    display: block;
    width: 100%;
    margin-top: 13px;
  }
}
// common with StarPriceList
.price-list__editor {
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  .cabin-class__edit__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: white;
    -webkit-mask: url('~@/assets/ic-edit-white.svg') no-repeat center;
    mask: url('~@/assets/ic-edit-white.svg') no-repeat center;
    mask-size: cover;
    margin-bottom: -6px;
  }
}
</style>
