<template>
  <div class="wrap">
    <div class="year">
      <StarDropdown
        :elementId="name + 'year'"
        :ref="name + 'year'"
        :options="yearOptions"
        v-model="birthday.year"
        :maxHeight="300"
        :title="titles.year"
        :placeholder="'請選擇'"
      />
    </div>
    <div class="month">
      <StarDropdown
        :elementId="name + 'month'"
        :ref="name + 'month'"
        :options="monthOptions"
        v-model="birthday.month"
        :maxHeight="300"
        :title="titles.month"
        :placeholder="'請選擇'"
      />
    </div>
    <div class="date">
      <StarDropdown
        :elementId="name + 'day'"
        :ref="name + 'day'"
        :options="dateOptions"
        v-model="birthday.day"
        :maxHeight="300"
        :title="titles.day"
        :placeholder="'請選擇'"
      />
    </div>
  </div>
</template>
<script>
import StarDropdown from '../../StarDropdown';
import { setTimeout } from 'timers';
export default {
  name: 'StarBirthdayDropdown',
  props: {
    name: {
      type: String,
      default: 'BirthDayDropDown',
    },

    endDate: {
      type: String,
      default: () => {
        let today = new Date();
        return `${today.getFullYear()}/${
          today.getMonth() + 1 < 10
            ? '0' + (today.getMonth() + 1)
            : today.getMonth() + 1
        }/${today.getDate() < 10 ? '0' + today.getDate() : today.getDate()}`;
      },
    },

    startDate: {
      type: String,
      default: '1900/01/01',
    },

    value: {
      type: String,
    },

    titles: {
      type: Object,
      default: () => {
        return {
          year: '出生年份',
          month: '月份',
          day: '日期',
        };
      },
    },
  },
  data: () => ({
    yearOptions: null,
    monthOptions: null,
    dateOptions: null,
    birthday: {
      year: null,
      month: null,
      day: null,
    },
  }),

  watch: {
    'birthday.year': {
      handler(newVal) {
        if (newVal) {
          this.monthOptions = this.initMonthOptions();
          this.birthday.month = null;
          this.birthday.day = null;
          console.log(this.$refs[this.name + 'month'].$refs);
          this.$refs[this.name + 'month'].$refs[this.name + 'month'].focus();
        }
      },
    },

    'birthday.month': {
      handler(newVal) {
        if (newVal) {
          this.dateOptions = this.initDayOptions();
          this.birthday.day = null;
          this.$refs[this.name + 'day'].$refs[this.name + 'day'].focus();
        }
      },
    },

    'birthday.day': {
      handler(newVal) {
        if (newVal) {
          this.$emit(
            'input',
            this.birthday.year +
              '/' +
              this.birthday.month +
              '/' +
              this.birthday.day,
          );
        } else {
          this.$emit('input', null);
        }
      },
    },
  },

  computed: {
    startYear() {
      return this.startDate.split('/')[0];
    },

    startMonth() {
      return this.startDate.split('/')[1];
    },

    startDay() {
      return this.startDate.split('/')[2];
    },

    endYear() {
      return this.endDate.split('/')[0];
    },

    endMonth() {
      return this.endDate.split('/')[1];
    },

    endDay() {
      return this.endDate.split('/')[2];
    },
  },
  methods: {
    initYearOptions() {
      const YEAR_OPTIONS = [];
      for (let i = this.endYear; i >= this.startYear; i--) {
        YEAR_OPTIONS.push({ label: '' + i, value: '' + i });
      }
      return YEAR_OPTIONS;
    },

    initMonthOptions() {
      let START_MONTH, END_MONTH;
      const MONTH_OPTIONS = [];

      if (this.birthday.year == this.startYear) {
        START_MONTH = parseInt(this.startMonth);
      } else {
        START_MONTH = 1;
      }

      if (this.birthday.year == this.endYear) {
        END_MONTH = parseInt(this.endMonth);
      } else {
        END_MONTH = 12;
      }

      for (let i = START_MONTH; i <= END_MONTH; i++) {
        if (i < 10) {
          MONTH_OPTIONS.push({ label: '0' + i, value: '0' + i });
        } else {
          MONTH_OPTIONS.push({ label: '' + i, value: '' + i });
        }
      }
      return MONTH_OPTIONS;
    },

    initDayOptions() {
      const DAY_OPTIONS = [];
      let START_DAYS, END_DAYS;
      if (
        this.birthday.year === this.startYear &&
        this.birthday.month === this.startMonth
      ) {
        START_DAYS = parseInt(this.startDay);
      } else {
        START_DAYS = 1;
      }

      if (
        this.birthday.month === '01' ||
        this.birthday.month === '03' ||
        this.birthday.month === '05' ||
        this.birthday.month === '07' ||
        this.birthday.month === '08' ||
        this.birthday.month === '10' ||
        this.birthday.month === '12'
      ) {
        END_DAYS = 31;
      }

      if (
        this.birthday.month === '04' ||
        this.birthday.month === '06' ||
        this.birthday.month === '09' ||
        this.birthday.month === '11'
      ) {
        END_DAYS = 30;
      }

      if (this.birthday.month === '02') {
        if (this.birthday.year % 4 === 0) {
          END_DAYS = 29;
        } else {
          END_DAYS = 28;
        }
      }

      if (
        this.birthday.year === this.endYear &&
        this.birthday.month === this.endMonth
      ) {
        END_DAYS = parseInt(this.endDay);
      }

      for (let i = START_DAYS; i <= END_DAYS; i++) {
        if (i < 10) {
          DAY_OPTIONS.push({ label: '0' + i, value: '0' + i });
        } else {
          DAY_OPTIONS.push({ label: '' + i, value: '' + i });
        }
      }
      return DAY_OPTIONS;
    },
  },

  created() {
    this.yearOptions = this.initYearOptions();
  },

  components: {
    StarDropdown,
  },
};
</script>
<style lang='scss' scoped>
.wrap {
  display: flex;
}
.date,
.month {
  width: 27.75%;
}

.month {
  margin-right: 30px;
}

.year {
  width: 44.5%;
  margin-right: 30px;
}
// media query
@include media-breakpoint-down(sm) {
  .wrap {
    display: block;
    margin-bottom: 0.5rem;
  }
  .year,
  .day,
  .month {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
</style>
