<template>
  <section class="mb-7">
    <h3 class="text-primary font-weight-bold mb-3">
      {{$t('lb_pax_list_chd',[value.id])}}
      <!-- <span class="font-weight-normal">兒童</span> -->
    </h3>
    <div class="row mb-2 mb-lg-4">
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 稱謂 -->
        <StarDropdown
          :options="options"
          v-model="value.title"
          :maxHeight="500"
          :title="$t('lb_title')"
          :placeholder="$t('hint_select')"
        />
      </div>
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 姓氏 -->
        <StarInput
          :name="'lastName'+ value.id"
          aria-label
          :isDisabled="false"
          :title="$t('lb_last_name')"
          :placeholder="$t('hint_last_name')"
          v-model="value.lastName"
          rules="required"
          :fieldName="$t('lb_last_name')"
          type="text"
          :formatter="upperCase"
        />
      </div>
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 名字 -->
        <StarInput
          :name="'firstName'+ value.id"
          aria-label
          :isDisabled="value.noFirstName"
          :title="$t('lb_first_name')"
          :placeholder="$t('hint_first_name')"
          v-model="value.firstName"
          rules="required"
          :fieldName="$t('lb_first_name')"
          type="text"
          :formatter="upperCase"
        />
      </div>
    </div>
    <fieldset class="mb-5">
      <div>
        <input type="checkbox" :id="'hasFirstName' + value.id" v-model="value.noFirstName">
        <label :for="'hasFirstName' + value.id">
          <span>{{$t('chkbox_fnu')}}</span>
          <!-- <span>此位旅客護照上沒有名字</span> -->
        </label>
      </div>
    </fieldset>
    <!-- birthday -->
    <div class="row mb-5">
      <div class="col-12 col-lg-7">
        <!-- startDate: 最大歲數限制
        endDate: 最小歲數限制-->
        <StarBirthdayDropdown
          v-model="value.birthDay"
          :startDate="childAgeDateLimit(11)"
          :endDate="childAgeDateLimit(2)"
        />
      </div>
      <div class="col-12 col-lg-5">
        <StarInfo>
          <template slot="info-content">{{$t('note_chd_rule')}}</template>
        </StarInfo>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <StarInput
          :name="'memberCard' + value.id"
          aria-label
          :isDisabled="false"
          :title="$t('lb_ffp_number')"
          :placeholder="$t('hint_ffp_number')"
          v-model="value.memberCard"
          type="text"
        />
      </div>
    </div>
  </section>
</template>
<script>
import StarInput from '@/components/common/StarInput';
import StarDropdown from '@/components/common/StarDropdown';
import StarInfo from '@/components/common/StarInfo';
import StarBirthdayDropdown from '@/components/common/StarBirthdayDropdown';

export default {
  props: {
    //外層 v-model 帶進的值
    value: {
      type: Object,
    },
  },
  components: {
    StarInput,
    StarDropdown,
    StarInfo,
    StarBirthdayDropdown,
  },
  data() {
    return {
      options: [
        { label: this.$t('dd_mr'), value: 'MR' },
        { label: this.$t('dd_mrs'), value: 'MRS' },
      ],
    };
  },
  methods: {
    //val: 歲數 return: 該歲數生日日期
    childAgeDateLimit(val) {
      const maxChildAge = val;
      const today = new Date();
      return `${today.getFullYear() - maxChildAge}/${
        today.getMonth() < 10
          ? '0' + (today.getMonth() + 1)
          : today.getMonth() + 1
      }/${
        today.getDate() < 10 ? '0' + (today.getDate() + 1) : today.getDate()
      }`;
    },
  },
  watch: {
    'value.noFirstName': {
      handler: function(newValue) {
        if (newValue) {
          this.value.firstName = null;
        }
        this.value.hasFirstName = !newValue;
      },
    },
  },
};
</script>
