<template>
  <section class="mb-7">
    <h3 class="text-primary font-weight-bold mb-3">
      {{$t('lb_pax_list_inf',[value.id])}}
      <!-- <span class="font-weight-normal">嬰兒</span> -->
    </h3>
    <div class="row mb-2 mb-lg-4">
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 稱謂 -->
        <StarDropdown
          :options="titleOptions"
          v-model="value.title"
          :maxHeight="500"
          title="稱謂"
          placeholder="請選擇"
        />
      </div>
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 姓氏 -->
        <StarInput
          :name="'lastName'+ value.id"
          aria-label
          :isDisabled="false"
          :title="$t('lb_last_name')"
          :placeholder="$t('hint_last_name')"
          v-model="value.lastName"
          rules="required"
          :fieldName="$t('lb_last_name')"
          type="text"
          :formatter="upperCase"
        />
      </div>
      <div class="col-12 col-md-4 col-lg-3 mb-2">
        <!-- 名字 -->
        <StarInput
          :name="'firstName'+ value.id"
          aria-label
          :isDisabled="value.noFirstName"
          :title="$t('lb_first_name')"
          :placeholder="$t('hint_first_name')"
          v-model="value.firstName"
          rules="required"
          :fieldName="$t('lb_first_name')"
          type="text"
          :formatter="upperCase"
        />
      </div>
    </div>
    <fieldset class="mb-5">
      <!-- noFirstName Checkbox -->
      <div>
        <input type="checkbox" :id="'noFirstName' + value.id" v-model="value.noFirstName">
        <label :for="'noFirstName' + value.id">
          <span>{{$t('chkbox_fnu')}}</span>
        </label>
      </div>
    </fieldset>
    <div class="row mb-3">
      <div class="col-12 col-lg-7">
        <StarBirthdayDropdown v-model="value.birthDay" :startDate="childAgeDateLimit(2)"/>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-0">
        <StarDropdown
          :options="carerOptions"
          v-model="value.carer"
          :maxHeight="500"
          :title="$t('lb_companion')"
          :placeholder="$t('hint_select')"
        />
      </div>
      <div class="col-md-4 col-sm-12 mb-2 mb-md-0" v-if="warnStatus">
        <StarInfo>
          <template slot="info-content">{{$t('note_inf_rule')}}</template>
          <!-- <template slot="info-content">一位成人最多只能與兩位嬰兒同行</template> -->
        </StarInfo>
      </div>
    </div>
    <div class="row" v-if="warnStatus">
      <div class="col-12">
        <StarInfo bg="dark">
          <template slot="info-content">
            <strong>{{$t('note_chd_seat')}}</strong>
            <!-- <strong>請您配合攜帶 1 個兒童座椅</strong> -->
            {{$t('note_chd_seat_detail')}}
            <!-- 我們將為與每位成人同行的第二位嬰兒準備座位，請您配合攜帶兒童座椅，以維護嬰兒安全。 -->
          </template>
        </StarInfo>
      </div>
    </div>
  </section>
</template>
<script>
import StarInput from '@/components/common/StarInput';
import StarInfo from '@/components/common/StarInfo';
import StarDropdown from '@/components/common/StarDropdown';
import StarBirthdayDropdown from '@/components/common/StarBirthdayDropdown';

export default {
  props: {
    value: {
      type: Object,
    },
    carerOptions: {
      type: Array,
      default: () => [
        { label: '旅客TEST', value: 0 },
        { label: '旅客TEST2', value: 1 },
      ],
    },
    warnStatus: {
      type: Boolean,
      default: false,
    },
  },

  components: {
    StarInput,
    StarInfo,
    StarDropdown,
    StarBirthdayDropdown,
  },

  data() {
    return {
      titleOptions: [
        { label: '男童 (Mstr)', value: 'MSTR' },
        { label: '女童 (Miss)', value: 'MISS' },
      ],
    };
  },

  watch: {
    'value.noFirstName': {
      handler: function(newValue) {
        if (newValue) {
          this.value.firstName = null;
        }
        this.value.hasFirstName = !newValue;
      },
    },
  },

  methods: {
    //val: 歲數 return: 該歲數生日日期
    childAgeDateLimit(val) {
      const maxChildAge = val;
      const today = new Date();
      return `${today.getFullYear() - maxChildAge}/${
        today.getMonth() < 10
          ? '0' + (today.getMonth() + 1)
          : today.getMonth() + 1
      }/${
        today.getDate() < 10 ? '0' + (today.getDate() + 1) : today.getDate() + 1
      }`;
    },
  },
};
</script>
