<template>
  <div ref="dropdown" class="dropdown-wrapper w-100">
    <label class="w-100 dropdown-title mb-0 bg-white" :class="{'focus':isFocus}">
      <small class="d-block title">{{ title }}</small>
      <input
        ref="input"
        class="dropdown-selector d-block w-100"
        aria-haspopup="listbox"
        :aria-expanded="showDropdown"
        :placeholder="placeholder"
        :value="findOptionLabel(value)"
        readonly
        @click="toggleDropdown"
        @focus="handleFocus"
        @blur="handleBlur"
      >
      <i
        class="dropdown-icon"
        :class="{ 'show': showDropdown, 'hide': !showDropdown }"
        @click="toggleDropdown"
      ></i>
    </label>
    <transition name="fade">
      <ul
        v-if="showDropdown && options"
        class="w-100 list-unstyled mt-2 dropdown-menu mb-0 bg-white"
        role="listbox"
        :style="{ 'max-height': maxHeight + 'px' }"
        tabindex="-1"
      >
        <li
          role="option"
          v-for="(option, index) in options"
          :key="index"
          :class="{ active: isOptionSelected(option) }"
          @click="select(option)"
        >
          <a @mouseDown.prevent.stop="select(option)">
            <slot name="option" v-bind="option">{{ option.label }}</slot>
          </a>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showDropdown: false,
      open: false,
      selected: null,
      isFocus: false,
      selectedLabel: '',
    };
  },
  props: {
    options: {
      type: Array,
      default() {
        return [];
      },
    },
    value: {
      default: null,
    },
    maxHeight: {
      type: Number,
      default: 300,
    },
    title: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: true,
    },
    autoSelect: {
      type: Boolean,
      default: false,
    },
  },
  created() {
    document.body.addEventListener('click', this.hideDropdown);
    if (this.autoSelect) {
      this.select(this.options[0]);
    }

    if (this.value) {
      //找出 props 傳進 value 在 options 的 index
      let valueIndex = this.options.findIndex(
        (item) => item.value === this.value,
      );
      this.select(this.options[valueIndex]);
      return;
    }
  },
  mounted() {},
  beforeDestroy() {
    document.body.removeEventListener('click', this.hideDropdown);
  },
  methods: {
    select(option) {
      this.$emit('input', option.value);
      this.showDropdown = false;
      this.selectedLabel = option.label;
    },
    isOptionSelected(option) {
      return this.value === option.value;
    },
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
    hideDropdown(evt) {
      if (this.$refs.dropdown) {
        if (!this.$refs.dropdown.contains(evt.target)) {
          this.showDropdown = false;
        }
      }
    },
    handleFocus() {
      this.isFocus = true;
    },
    handleBlur() {
      this.isFocus = false;
    },

    findOptionLabel(value) {
      if (value || value === 0) {
        let valueIndex = this.options.findIndex((item) => item.value === value);
        if (this.options[valueIndex]) {
          return this.options[valueIndex].label;
        }
      }
      return null;
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  color: $ink;
  &:hover {
    text-decoration: none;
  }
}

input {
  cursor: inherit;
  outline: none;
  background-color: transparent;
}

li {
  cursor: pointer;
}

.dropdown {
  &-wrapper {
    position: relative;
  }

  //input 外卡片樣式
  &-title {
    position: relative;
    padding: 1rem;
    font-size: 1.123rem;
    border: 1px solid $ivory-dark;
    transition: 0.3s;
    &:hover,
    &.focus {
      background-color: $ivory-light;
      border-color: $brown;
      box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
    }
  }

  &-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 1rem;
    transition: transform 0.5s;
    background-image: url('~@/assets/ic-d-arrow-black.svg');
    pointer-events: none;
    &.hide {
      transform: translateY(-50%);
      transition: transform 0.5s;
    }
  }

  &-menu {
    border: 1px solid $ivory-dark;
    overflow-y: auto;
    z-index: 1000;
    position: absolute;
    li {
      padding: 1rem;
      transition: 0.3s;
      &:hover {
        background-color: $ivory-light;
      }
      &.active {
        background-color: $ivory;
      }
    }
  }
}
.seat-info {
  .dropdown-menu {
    position: relative !important;
  }
}
</style>
