<template>
  <div class="alert-window">
    <transition name="fade" appear>
      <div v-if="alert">
        <div class="content">
          <slot name="success">
          </slot>
          <!-- <slot name="alert">
            <button class="close" @click="closeAlert()">
              <img src="~@/assets/ic-input-check.svg" alt="close icon">
            </button>
          </slot> -->
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
// TASK:
//   2 types of alert mseeage:
//     1. success alert
//     descreption:
//     success message with static col-6 width, flexibal height.
//     background: $succesful-green: #4d6156 !default;
//     logic: hide after 3s

//     2. fail alert
//     descreption:
//     fail message with static col-6 width, flexibal height.
//     background: $fail-red: #bb0a30 !default;
//     logic: hide till user click close(x) button
export default {
  data() {
    return {
      // alert: false,
    };
  },
  props: ['alert'],
  methods: {
    closeAlert() {
      this.$emit('openAlert', false);
    },
  },
  watch: {
    alert: function(newVal, oldVal) {
      let $this = this;
      if (newVal) {
        window.setTimeout(function() {
          $this.$emit('openAlert', false);
        }, 3000);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.alert-window {
  position: fixed;
  width: 100%;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1000;
  .content {
    font-weight: 500;
    width: 500px;
    border-radius: 4px;
    background-color: rgba(77, 97, 86, 0.9);
    color: #fff;
    margin: 0 auto;
    padding: 1rem 2rem;
  }
  .close {
    float: right;
    top: -24px;
    position: relative;
  }
}
</style>
