<template>
  <ValidationProvider :name="fieldName" :rules="currentRules" ref="myinput">
    <div class="input-wrapper" slot-scope="{ errors }">
      <label
        :for="elementId"
        class="w-100 d-block mb-0"
        :class="{'active': focus, 'disabled': isDisabled, 'error': errors[0], 'border-left-0': isGroup}"
      >
        <small class="d-block title">{{ title }}</small>
        <input
          :type="type"
          :id="elementId"
          @input="handleInput"
          @focus="handleFocus"
          @blur="handleBlur"
          v-model="currentValue"
          :placeholder="placeholder"
          class="border-0"
          :aria-label="ariaLabel"
          :disabled="isDisabled"
          :maxlength="maxLength"
          :autocomplete="isAutocomplete"
        >
        <i @click="clearValue" class="clear"></i>
        <i :class="{'pass': !errors[0] && value}"></i>
      </label>
      <transition name="fade">
        <small v-if="errors[0]" class="text-danger pl-3">{{ errors[0] }}</small>
      </transition>
    </div>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate';
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    elementId: {
      type: String,
    },
    value: {
      default:'doge',
    },
    title: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: true,
      default: '',
    },
    ariaLabel: {
      type: String,
    },
    isDisabled: {
      type: Boolean,
      default: false,
    },

    isGroup: {
      type: Boolean,
      default: false,
    },

    isAutocomplete: {
      type: Boolean,
      default: false,
    },

    maxLength: {
      type: Number,
    },
    type: {
      type: String,
      default: 'text',
    },

    rules: {
      type: String,
    },

    fieldName: {
      type: String,
    },

    formatter: {
      type: [Function,Boolean],
      default:false
    },
  },
  components: {
    ValidationProvider,
  },
  data() {
    return {
      focus: false,
      currentValue: this.value,
      currentRules: this.rules,
    };
  },
  watch: {
    isDisabled: {
      // immediate: true,
      handler(val) {
        this.currentValue = null;
        if (val === true) {
          this.currentRules = '';
        } else {
          this.currentRules = this.rules;
        }
      },
    },
  },
  methods: {
    handleInput(event) {
      const value = event.target.value.trim();

      if (this.formatter) {
        this.currentValue = this.formatter(value);
        this.$emit('input', this.formatter(value));
      } else {
        this.currentValue = value;
        this.$emit('input', value);
      }
    },
    handleFocus() {
      this.focus = true;
    },
    handleBlur() {
      this.focus = false;
    },
    clearValue() {
      this.currentValue = null;
      this.$emit('input', null);
    },
  },
};
</script>

<style lang="scss" scoped>
label {
  position: relative;
  padding: 1rem;
  font-size: 1.123rem;
  border: 1px solid $ivory-dark;
  justify-content: flex-end;
  transition: 0.3s;
  &.active,
  &:hover {
    background-color: $ivory-light;
    border: 1px solid $brown;
    box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
  }
  &:hover {
    .clear {
      display: block;
    }
  }
  &.disabled {
    background-color: #efebe3;
    color: $brown-light;
    cursor: not-allowed;
    input {
      color: $red;
    }
    &:hover {
      box-shadow: none;
      border: 1px solid $ivory-dark;
      .clear {
        display: none;
      }
    }
  }
  &.error {
    border: 1px solid $red;
    input {
      color: $red;
    }
  }
}

input {
  width: calc(100% - 2rem);
  background-color: transparent;
  transition: 0.3s;
  &::placeholder {
    color: #9ea2a5;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: #efebe3;
    cursor: not-allowed;
    &::placeholder {
      color: $brown-light;
    }
  }
}
.clear,
.pass {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 1rem;
}

.clear {
  display: none;
  background-image: url('~@/assets/ic-input-cancel.svg');
  z-index: 1;
  cursor: pointer;
}
.pass {
  background-image: url('~@/assets/ic-input-check.svg');
}

.tips {
  margin-left: 1rem;
  margin-top: 0.25rem;
  color: #bb0a30;
}
</style>
