<template>
  <div class="d-flex info w-100 align-items-top" :class="bg">
    <span class="info-icon">
      <!-- <img src="~@/assets/ic-info-white.svg" alt="" class="mr-2"> -->
    </span>
    <div class="d-flex flex-column justify-content-center">
      <slot name="info-content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    bg: {
      type: String,
      default: 'bg-ivory-light'
    }
  }
}
</script>

<style lang="scss">
.info {
  padding: 1.5rem;
  line-height: 1.5rem;
  &-icon {
    width: 24px;
    height: 24px;
    color: $gold;
    border: 1px solid $gold;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    &:before {
      content: 'i';
      display: block;
      color: $gold;
    }
  }
}

.dark.info {
  color: $white;
  background-color: $gold;
}
.dark.info .info-icon {
  color: $white;
  border: 1px solid $white;
  &:before {
    color: $white;
  }
}
// media query
@include media-breakpoint-down(md) {
  .info {
    padding: 1rem;
  }
}
</style>
