<template>
  <transition name="fade">
    <div class="modal">
      <div v-if="isDisplay" v-on-clickaway="close">
        <div class="wrapper border border-primary" v-on-clickaway="close">
          <h3 class="modal-title mt-1 mb-5 font-weight-bold">{{title}}</h3>
          <div class="modal-content" :style="[isScroll ? {'overflow-y':'scroll'} : {'overflow-y':'visible'}]">
            <slot name="content" v-bind:data="data"></slot>
          </div>
          <button class="closeBtn" style="font-size: 0;" @click="close">
            關閉
            <img src="@/assets/ic-cancel-black.svg" alt="close icon">
          </button>
          <div
            v-if="hasConfirmBtn"
            class="text-center mt-3 pb-3 col-12 col-lg-4 offset-lg-4"
          >
            <button class="pill-btn pill-btn-secondary btn-long" @click="close">{{$t("btn_confirm")}}</button>
          </div>
        </div>
        <div class="modal__background"></div>
      </div>
    </div>
  </transition>
</template>
<script>
import { directive as onClickaway } from 'vue-clickaway';
export default {
  directives: {
    onClickaway,
  },
  data(){
    return{
      // isDisplay: true
    }
  },
  props: {
    title: {
      type: String,
      default: '我是預設標題喔',
    },

    hasConfirmBtn: {
      type: Boolean,
      default: false,
    },

    value: {
      type: Boolean,
    },

    isScroll: {
      type: Boolean,
      default: false,
    },
    
    data: {
      type: [String, Object],
    }
  },

  computed: {
    isDisplay() {
      return this.value;
    },
  },

  methods: {
    close() {
      this.$emit('input', false);
    },
  },
};
</script>
<style lang="scss" scoped>
.modal {
  position: relative;
  z-index: 2000;
}
.wrapper {
  min-width: 685px;
  // min-height: 542px;
  position: fixed;
  overflow: scroll;
  max-height: 100vh;
  top: 50vh;
  left: 50%;
  padding: 38px 50px 0px 50px;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 2000;
}
.modal__background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 1999;
}
.closeBtn {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 0;
  cursor: pointer;
}
.modal-content {
  max-height: calc( 100vh - 115px);
  overflow: scroll;
  height: 100%;
}
@include media-breakpoint-down(md) {
  .wrapper {
    min-width: 100%;
    padding: 2rem 1rem;
  }
  .closeBtn {
    right: 0.8rem;
  }
}
</style>
