<template>
  <div>
    <div v-for="(type, index) in types" :key="index">
      <notifications :group="type" classes="star-notification" position="bottom center"
                     :width="type === 'danger'? '100%': '50%'">
        <template slot="body" slot-scope="props">
          <div :class="`container bg-${type} rounded text-white px-5 py-3 my-3`" style="opacity:0.9;">
            <a class="title">
              {{props.item.title}}
            </a>
            <a v-if="type === 'danger'" class="close" @click="props.close">
              <img src="~@/assets/ic-cancel-white.svg" alt="close icon">
            </a>
            <div v-html="props.item.text" style="line-height: 2.22222rem;">
            </div>
          </div>
        </template>
      </notifications>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'StarNotifications',
    data() {
      return {
        types: ['danger', 'warning', 'success'],
      };
    },
  };
</script>
