<template>
  <div class="checkin-info bg-iron rounded mb-6">
    <div class="row no-gutters p-3 pt-lg-5 pb-lg-4">
      <div
        class="col-12 col-lg-7 d-flex justify-content-around align-items-center border-0 border-right-lg-1"
      >
        <div class="ml-0 ml-lg-5">
          <span class="h1 text-light mb-0">{{depAirport.cityLocName}}</span>
          <p class="opacity70">{{depAirport.airportLocName}} ({{depAirport.airportCode}})</p>
        </div>
        <div class="pt-2 checkin-info__arrow-right"></div>
        <div class="mr-0 mr-lg-5">
          <span class="h1 text-light mb-0">{{arrAirport.cityLocName}}</span>
          <p class="opacity70">{{arrAirport.airportLocName}} ({{arrAirport.airportCode}})</p>
        </div>
      </div>
      <div
        class="col-12 col-lg-3 d-flex justify-content-center align-items-center border-0 border-right-lg-1 mb-3 mb-lg-0"
      >
        <div class="text-center">
          <strong class="font-weight-normal mb-0">
            {{cabinType}},
            {{isRoundTrip?'#來回':'#單程'}}
            , {{paxNum}}＃人旅客
          </strong>
          <p class="opacity70 mb-0">#訂位內容</p>
        </div>
      </div>
      <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <strong class="font-weight-normal mb-0">{{pnrNo}}</strong>
          <p class="opacity70 mb-0">#訂位代號</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    depAirport: {
      type: Object,
      required: true,
      default: () => {
        return {
          cityLocName: 'cityLocName',
          airportLocName: 'airportLocName',
          airportCode: 'airportCode',
        };
      },
    },
    arrAirport: {
      type: Object,
      required: true,
      default: () => {
        return {
          cityLocName: 'cityLocName',
          airportLocName: 'airportLocName',
          airportCode: 'airportCode',
        };
      },
    },

    cabinType: {
      type: String,
      required: true,
      default: 'cabinType',
    },

    isRoundTrip: {
      type: Boolean,
      required: true,
      default: true,
    },

    paxNum: {
      type: Number,
      required: true,
      default: 0,
    },

    pnrNo: {
      type: String,
      required: true,
      default: 'pnrNo.',
    },
  },
};
</script>
<style lang="scss" scoped>
.checkin-info {
  color: $white;
  &__arrow-right {
    background-color: #fff;
    -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    width: 130px;
    height: 50px;
  }
  .opacity70 {
    opacity: 0.7;
  }
}
</style>
