<template>
  <div>
    <input
      type="radio"
      name="flight"
      :id="'flight'+ index"
      :value="index"
      :disabled="isDisable"
      @change="change(index)"
    >
    <label class="flight-card w-100 rounded" :for="'flight'+ index">
      <div class="title-message border-bottom text-brown h3" v-if="checkableStatus">#本航班無法網路報到</div>
      <div class="row">
        <div
          class="col-12 col-lg-2 border-right-0 border-rightlg-1 d-flex align-items-center mb-2 mb-lg-0"
        >
          <img src="@/assets/starlux-flight-logo-xs.svg" alt="starlux logo" class="mr-2">
          <span class="h3 mb-0">{{flightData.flightNo}}</span>
        </div>
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
          <div class="pl-5">
            <strong class="text-normal">{{formatDate(flightData.depDate)}}</strong>
            <div class="time-wrap d-flex">
              <div>
                <div class="h2 mb-0 mr-4">{{flightData.depTime}}</div>
                <div>{{flightData.depAirportCode}}</div>
              </div>
              <img src="@/assets/ic-fly-to-black-60px.svg" alt="right arrow" class="mr-4">
              <div>
                <div class="h2 mb-0">{{flightData.arrTime}}</div>
                <div>{{flightData.arrAirportCode}}</div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 col-lg-4 d-flex align-items-start align-items-lg-center pl-6 pl-lg-0 justify-content-between justify-content-lg-end"
        >
          <span class="mr-2" v-if="isCheckable && !isDisable">{{$t('lb_web_ckin_staus_open',[16])}}</span>
          <span
            class="mr-2"
            v-else
          >{{$t('lb_web_ckin_staus_not_open',[splitCheckInDate[0],splitCheckInDate[1],splitCheckInDate[2],flightData.checkInTime])}}</span>
          <img class="check-icon" src="@/assets/ic-input-check.svg" alt="check icon">
        </div>
      </div>
    </label>
  </div>
</template>
<script>
// TODO: 1.計算報到剩多少小時 2.預告報到時間
export default {
  props: {
    index: {
      type: Number,
      required: true,
    },

    isDisable: {
      type: Boolean,
      default: false,
    },

    isCheckable: {
      type: Boolean,
      default: false,
    },

    value: {
      type: [String, Number, Object],
    },

    flightData: {
      type: Object,
      default: () => {
        return {
          flightNo: 'JX000',
          depDate: '2020/01/28',
          depTime: '14:30',
          depAirportCode: 'TPE',
          arrDate: '2020/01/28',
          arrTime: '18:20',
          arrAirportCode: 'HND',
          checkInDate: '2020/01/28',
          checkInTime: '16:20',
        };
      },
    },
  },

  data() {
    return {};
  },

  computed: {
    checkableStatus() {
      return !this.isCheckable;
    },

    splitCheckInDate() {
      return this.flightData.checkInDate.split('/');
    },
  },

  methods: {
    change(val) {
      this.$emit('input', val);
    },
  },
};
</script>
<style lang="scss" scoped>
label.flight-card.w-100 {
  border: 2px $brown solid;
  padding: 1.5rem 1.25rem;
  background: $white;
  margin-bottom: 1rem;
  display: block;
  transition: 0.3s;
  &:before,
  &:after {
    display: none;
  }

  img.check-icon {
    opacity: 0;
    transition: 0.2s;
  }

  .title-message {
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    padding-left: 1.25rem;
  }
}

[type='radio']{
  position:absolute;
  opacity:0;
}

[type='radio']:checked + label.flight-card {
  box-shadow: -4px 4px 0 0 rgba(153, 106, 78, 0.2);
  background-color: $ivory-light;
  img.check-icon {
    opacity: 1;
  }
}

[type='radio']:disabled + label.flight-card {
  border-color: #dee2e6;
}

@include media-breakpoint-down(md) {
  label.flight-card.w-100 {
    padding: 1rem;
  }
  [type='radio']:disabled + .flight-card.w-100 {
    padding-top: 1.25rem;
  }
}
</style>
