<template>
  <div>
    <div class="item border border-ivory-dark mb-4 px-3 py-4" :class="{'has-error':isSelect}">
      <div class="row">
        <div class="col-12 col-md-7 my-5">
          <h4
            class="mb-0"
          >{{paxData.lastName}}/{{paxData.firstName}} {{paxData.title}}</h4>
        </div>
        <div class="col-12 col-md-5 d-flex justify-content-end align-items-center">
          <div>
            <input
              class="radio"
              type="radio"
              :name="'privacyName' + index"
              :id="'privacyNameYes' + index"
              :value="true"
              v-model="isSelect"
            />
            <label :for="'privacyNameYes' + index">{{$t('lb_yes')}}</label>
          </div>
          <div>
            <input
              class="radio"
              type="radio"
              :name="'privacyName' + index"
              :id="'privacyNameNo' + index"
              :value="false"
              v-model="isSelect"
            />
            <label :for="'privacyNameNo' + index">{{$t('lb_no')}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4 has-error-label" v-if="isSelect">{{$t('warning_dangerous_good')}}</div>
  </div>
</template>
<script>
export default {
  props: {
    index:{
      type:Number,
      required:true
    },
    paxData: {
      type: Object,
      required: true,
      default: () => {
        return {
          firstName: 'TEST_FIRST_NAME',
          lastName: 'TEST_LAST_NAME',
          title: 'title',
        };
      },
    },
  },
  data() {
    return {
      isSelect: null,
    };
  },

  watch:{
    isSelect(newVal){
      this.$emit('input',newVal)
    }
  }
};
</script>
<style lang="scss" scoped>
.has-error {
  border: 1px solid $red !important;
}

.has-error-label {
  color: $red;
  margin-top: -1rem;
  font-size: $font-size-sm;
  position: absolute;
}
</style>
