<template>
  <div>
    <input
      type="checkbox"
      :id="'pax'+index"
      :disabled="isCompleted || !isCheckable"
      name="paxData"
      v-model="checkStatus"
      :value="index"
      @change="change(index)"
    >
    <label class="pax-card rounded mr-0" :for="'pax'+ index">
      <div class="border-bottom p-3 py-lg-5 px-lg-4">
        <span class="h3">{{paxData.lastName}} / {{paxData.firstName}} {{paxData.title}}</span>
        <img
          v-if="isCheckable && !isCompleted"
          class="float-right checkbox-off"
          src="@/assets/ic-checkbox-off.svg"
          alt="checkbox off"
        >
        <img
          v-if="isCheckable && !isCompleted"
          class="float-right checkbox-on"
          src="@/assets/ic-checkbox-on.svg"
          alt="checkbox on"
        >
        <span
          v-if="isCompleted"
          class="float-none d-block d-lg-inline-block float-lg-right"
        >{{$t('lb_chk_in_complete')}}</span>
        <div v-if="!isCheckable" class="float-none float-lg-right">
          <span class="mr-2" style="color:#bb0a30;">{{$t('warning_unable_ckin')}}</span>
          <img src="@/assets/ic-input-notice.svg" alt="alert icon">
        </div>
      </div>
      <div class="row p-3">
        <div class="col-4 border-right">
          <strong class="mb-0">{{paxData.cabin}} ({{paxData.cabinZone}} zone)</strong>
          <div class="small text-iron-light">{{$t('lb_web_cabin_class')}}</div>
        </div>
        <div class="col-4 border-right">
          <strong class="mb-0">{{paxData.seatNo}}</strong>
          <div class="small text-iron-light">{{$t('lb_web_seat')}}</div>
        </div>
        <div class="col-4">
          <strong class="mb-0">{{paxData.meal}}</strong>
          <div class="small text-iron-light">{{$t('lb_web_meal')}}</div>
        </div>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
    },

    index: {
      type: Number,
      required: true,
    },

    isCompleted: {
      type: Boolean,
      default: false,
    },

    isCheckable: {
      type: Boolean,
      default: true,
    },

    paxData: {
      type: Object,
      required: true,
      default: () => {
        return {
          firstName: 'firstName',
          lastName: 'lastName',
          title: 'Title',
          cabin: 'cabin',
          cabinZone: 'A',
          seatNo: '64T',
          meal: '餐點名',
        };
      },
    },
  },
  created() {
    if (this.value.filter((item, i) => i === this.index).length > 0) {
      this.checkStatus = true;
    }
  },
  data() {
    return {
      checkStatus: false,
    };
  },
  methods: {
    change(val) {
      if (this.checkStatus) {
        this.$emit('input', this.value.concat(this.paxData));
      } else {
        this.$emit(
          'input',
          this.value.filter((item) => item.id != this.paxData.id),
        );
      }
    },
  },

  watch: {
    value(newVal, oldVal) {
      if (newVal.length === 0) this.checkStatus = false;
      if (newVal.filter((item) => item.id === this.paxData.id).length > 0) {
        this.checkStatus = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.pax-card {
  box-sizing: border-box;
  border: 2px $brown-light solid;
  background: $white;
  margin-bottom: 1rem;
  display: block;
  transition: 0.3s;
  &:before,
  &:after {
    display: none;
  }
  .checkbox-on {
    display: none;
  }
}

[type='checkbox']{
  opacity:0;
  position:absolute;
  left:-99999px;
}

[type='checkbox']:focus + label.pax-card{
  outline:1px solid red;
}

[type='checkbox']:checked + label.pax-card {
  border: 2px $brown-dark solid;
  background-color: $ivory-light;
  .checkbox-off {
    display: none;
  }
  .checkbox-on {
    display: inline-block;
  }
}

[type='checkbox']:disabled + label.pax-card {
  border-color: $iron-lighter;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
@include media-breakpoint-down(md) {
  [type='checkbox'] + label {
    margin-right: 0;
  }
}
</style>

