<template>
  <div class="flight-card w-100 rounded mb-6">
    <div class="row">
      <div
        class="col-12 col-lg-2 border-right-0 border-right-lg-1 d-flex mb-2 mb-lg-0 align-items-center"
      >
        <img src="@/assets/starlux-flight-logo-white-xs.svg" alt="starlux logo" class="mr-2">
        <span class="h3 mb-0">{{flightData.flightNo}}</span>
      </div>
      <div class="col-12 col-lg-6 mb-2 mb-lg-0">
        <div class="pl-5">
          <strong class="text-normal">{{formatDate(flightData.depDate)}}</strong>
          <div class="time-wrap d-flex">
            <div>
              <div class="h2 mb-0 mr-4">{{flightData.depTime}}</div>
              <div>{{flightData.depAirportCode}}</div>
            </div>
            <img src="@/assets/ic-fly-to-white-60px.svg" alt="right arrow" class="mr-4">
            <div>
              <div class="h2 mb-0">{{flightData.arrTime}}</div>
              <div>{{flightData.arrAirportCode}}</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-lg-4 d-flex align-items-center justify-content-start pl-6 pl-lg-0 justify-content-lg-end"
      >
        <span class="mr-2">{{$t('lb_web_current_flt')}}</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    flightData: {
      type: Object,
      requried: true,
      default: () => {
        return {
          flightNo: 'TESTING',
          depDate: '2020/01/28',
          depTime: '14:30',
          depAirportCode: 'TPE',
          arrDate: '2020/01/28',
          arrTime: '18:20',
          arrAirportCode: 'HND',
          checkInDate: '2020/01/28',
          checkInTime: '16:20',
        };
      },
    },
  },
};
</script>
<style lang="scss" scoped>
.flight-card.w-100 {
  background-color: $brown;
  padding: 1.5rem 1.25rem;
  margin-bottom: 1rem;
  display: block;
  color: $white;
  transition: 0.3s;
  &:before,
  &:after {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .flight-card.w-100 {
    padding: 1rem;
  }
}
</style>
