<template>
  <div class="complete-label">
    <div class="complete-label__info-wrap rounded">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="row no-gutters py-5">
            <div
              class="col-12 col-lg-4 mb-3 mb-lg-0 d-flex justify-content-around align-items-center border-right-0 border-right-lg-1 centerize"
            >
              <div class="ml-5">
                <span class="h1 text-light mb-0">{{data.depAirport.locName}}</span>
                <div class="opacity70">{{data.depAirport.code}}</div>
              </div>
              <div class="pt-2 complete-label__arrow-right"></div>
              <div class="mr-5">
                <span class="h1 text-light mb-0">{{data.arrAirport.locName}}</span>
                <div class="opacity70">{{data.arrAirport.code}}</div>
              </div>
            </div>
            <div
              class="wrap col-12 col-lg-2 mb-3 mb-lg-0  d-flex justify-content-center align-items-center position-relative border-right-0 border-right-lg-1"
            >
              <div class>
                <img src="~@/assets/starlux-flight-logo-white-xs.svg" alt="Starlux logo">
                {{data.flightNo}}
              </div>
              <span class="h2 vertical-align-middle pt-1">
                <slot name="right"></slot>
              </span>
            </div>
            <div
              class="wrap col-12 col-lg-4 mb-2 mb-lg-0 d-flex justify-content-center align-items-center position-relative border-right-0 border-right-lg-1"
            >
              <div>
                <h4>{{data.depAirport.airportLocName}} #第{{data.depAirport.terminal}}航廈</h4>
              </div>
            </div>
            <div class="col-12 col-lg-2 text-center">
              <span class="h4 text-light mt-2 mb-0">{{data.depTime}}</span>
              <div class="mt-2 opacity70">登機時間</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="complete-label__timestamp float-right mt-2">完成時間 {{data.completeTime}}</span>
  </div>
</template>
<script>
export default{
  props: {
    data:{
      type:Object,
      required:true
    }
  }
}
</script>
<style lang="scss" scoped>
.complete-label {
  &__info-wrap {
    background-color: $iron;
    color: $white;
  }
  &__timestamp {
    color: $iron-light;
  }
  &__arrow-right {
    background-color: #fff;
    -webkit-mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    mask: url('~@/assets/ic-fly-to-white-60px.svg') no-repeat center;
    width: 130px;
    height: 50px;
  }
}
</style>
