<template>
  <div class="w-100 border border-brown rounded mb-5">
    <div class="card-header  px-4 py-3">
      <h3
        class="card-name mb-0"
      >{{(data.lastName)}} / {{data.firstName}} {{data.title}}</h3>
    </div>
    <div class="card-title centerize px-4">
      <div class="row">
        <div class="col-4 border-right text-left">
          {{data.cabin}}
          <div class="opacity70">#艙等</div>
        </div>
        <div class="col-4 border-right text-left">
          {{data.seatNo}} ({{data.cabinZone}} zone)
          <div class="opacity70">#座位</div>
        </div>
        <div class="col-4 text-left">
          {{data.meal}}
          <div class="opacity70">#餐點</div>
        </div>
      </div>
    </div>
    <div class="card-title text-right mb-0">
      <button
        class="pill-btn pill-btn-secondary mr-2 mr-lg-4"
      >{{$t('btn_copy_url')}}</button>
      <router-link
        to="../boardingPass"
        target="_blank"
        class="pill-btn pill-btn-primary mr-2 mr-lg-4"
      >
        <h4>
          {{$t('btn_print_pass')}}
          <div class="open-ticket"></div>
        </h4>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
    };
  },
  props: {
    data:{
      type:Object,
      required:true
    }
  }
};
</script>
<style lang="scss" scoped>
  .card-title {
    border-top: 1px solid $ivory-dark;
    padding: 20px 0;
    h4 {
      color: $white;
      margin: 0;
    }
  }
  .card-header {
    background-color: $white;
  }
  .card-body {
    max-height: 600px;
    border-top: 1px solid $ivory-dark;
    overflow: hidden;
    transition: max-height 0.5s;
    &.hide {
      max-height: 0px;
      transition: max-height 0.5s;
    }
  }
  .card-content-title {
    color: $iron-light;
    border-bottom: 1px solid $ivory-dark;
    border-top: 1px solid $ivory-dark;
    padding: 0.5rem 3rem;
  }
  .card-content-list {
    font-size: 1.125rem;
    padding: 0.5rem 3rem;
  }
  .card-content {
    max-height: 800px;
    overflow: hidden;
    transition: max-height 0.5s;
    &.hide {
      max-height: 0px;
      transition: max-height 0.5s;
    }
  }
  .view-ticket {
    background-color: $brown;
    color: #fff;
  }
  .open-ticket {
    background-color: #fff;
    -webkit-mask: url('~@/assets/ic-export.svg') no-repeat center;
    mask: url('~@/assets/ic-export.svg') no-repeat center;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    margin-left: 15px;
  }
  .card-name {
    font-weight: bold;
    color: $iron;
  }
</style>
