<template>
  <div>
    <div class="container boarding-pass mb-5 mb-lg-8">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="boarding-pass__logo">
            <img src="~@/assets/xmlid-144.svg" alt class="mr-2">
          </div>
          <h3 class="float-right font-weight-bold boarding-pass__title">{{$t('lb_boarding_pass')}}</h3>
        </div>
        <div class="col-12 mb-5 clearfix">
          <div class="boarding-pass__user-info">
            <h4 class="mb-2">{{$t('lb_pax_nm')}} {{boardingPass.lastName}}/{{boardingPass.firstName}} {{boardingPass.title}}</h4>
            <h4>{{$t('lb_tkt_number')}} {{boardingPass.ticketNumber}}</h4>
          </div>
          <div class="boarding-pass__barcode float-none float-md-right">
            <img :src="boardingPass.barcode" alt="barcode">
          </div>
        </div>
        <div class="col-12 pt-4 boarding-pass__ticket">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="boarding-pass__ticket-head">
                <h2 class="mr-6">{{boardingPass.depAirport.code}}</h2>
                <img src="~@/assets/ic-oneway-black.svg" alt class="mr-6">
                <h2>{{boardingPass.arrAirport.code}}</h2>
                <p class="text-iron-light">{{boardingPass.depAirport.locName}} 飛往 {{boardingPass.arrAirport.locName}}</p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="float-none float-lg-right mb-3 mb-lg-0">
                <div class="flight-number-list">
                  <p class="bold mr-1">{{$t('lb_show_ffp_number')}}</p>
                  <span>{{boardingPass.ffp}}</span>
                </div>
                <div class="flight-number-list">
                  <p class="bold mr-1">{{$t('lb_seq')}}</p>
                  <span>{{boardingPass.seq}}</span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="row mb-3">
                    <div class="col-6 col-lg-4 ticket-info">
                      <h4>{{boardingPass.date}}</h4>
                      <p class="text-iron-light">{{$t('lb_date')}}</p>
                    </div>
                    <div class="col-6 col-lg-4 ticket-info">
                      <h4>{{boardingPass.depTime}}</h4>
                      <p class="text-iron-light">{{$t('lb_departure_time')}}</p>
                    </div>
                    <div class="col-6 col-lg-4 ticket-info">
                      <h4>{{boardingPass.fligtNo}}</h4>
                      <p class="text-iron-light">{{$t('lb_flt_number')}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-lg-4 ticket-info">
                      <h4>{{boardingPass.terminal}}</h4>
                      <p class="text-iron-light">{{$t('lb_title_terminal')}}</p>
                    </div>
                    <div class="col-6 col-lg-4 ticket-info">
                      <h4>{{boardingPass.cabin}}</h4>
                      <p class="text-iron-light">{{$t('lb_web_cabin_class')}}</p>
                    </div>
                    <div class="col-6 col-lg-4 ticket-info">
                      <h4>{{boardingPass.meal}}</h4>
                      <p class="text-iron-light">{{$t('lb_title_meal')}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="border-group mb-4 mb-lg-0">
                    <div class="col-3">
                      <h3 class="font-weight-bold">{{boardingPass.boardingTime}}</h3>
                      <span class="text-iron-light">{{$t('lb_boarding_time')}}</span>
                    </div>
                    <div class="col-3">
                      <h3 class="font-weight-bold">{{boardingPass.gate}}</h3>
                      <span class="text-iron-light">{{$t('lb_gate')}}</span>
                    </div>
                    <div class="col-6">
                      <h3 class="font-weight-bold">{{boardingPass.seatNo}}({{boardingPass.seatZone}} zone)</h3>
                      <span class="text-iron-light">{{$t('lb_web_seat')}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p class="text-left text-lg-right mt-3">{{$t('lb_bp_note')}}</p>
        </div>

        <div class="col-12 mt-6">
          <div class="hint">
            <h3 class="font-weight-bold text-brown mb-4">{{$t('lb_bp_chk_bag')}}</h3>
            <div class="row">
              <div class="col-12 col-lg-6 mb-4">
                <h4>{{$t('lb_carry_on_bag')}}</h4>
                <p>{{$t('lb_carry_on_bag_detail')}}</p>
              </div>
              <div class="w-100"></div>
              <div class="col-12 col-lg-6 mb-4">
                <h4>{{$t('lb_chk_bag')}}</h4>
                <p>{{$t('lb_chk_bag_detail')}}</p>
              </div>
              <div class="col-12 col-lg-6 mb-4">
                <h4>{{$t('lb_no_chk_bag')}}</h4>
                <p>{{$t('lb_no_check_bag_detail')}}</p>
              </div>
            </div>
            <h3 class="font-weight-bold text-brown mb-2">{{$t('lb_boarding_note')}}</h3>
            <div class="row">
              <div class="col-12 col-lg-6">
                <p v-html="$t('lb_boarding_note_detail')"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <button class="pill-btn pill-btn-secondary mr-4" @click="print()">
          <img src="~@/assets/ic-btn-print-brown.svg" alt="print" class="print-icon mr-2">
          {{$t('btn_print_bp')}}
        </button>
        <button
          v-clipboard="boardingPass.link"
          @success="alert = true"
          class="pill-btn pill-btn-secondary mr-4"
        >{{$t('btn_copy_url')}}</button>
        <!-- <button class="pill-btn pill-btn-secondary mr-4">複製連結</button> -->
        <div class="float-none text-center mt-3 my-lg-0 float-lg-right"><img src="~@/assets/xmlid-3.svg" alt="StarLux" class=""></div>
      </div>
    </div>
    <alertWindow @openAlert="alert = $event" :alert="alert">
      <div slot="alert">
        連結複製成功！
      </div>
    </alertWindow>
  </div>
</template>
<script>
import alertWindow from '@/components/common/StarAlert'
export default {
  data() {
    return {
      alert: false,
      boardingPass: {
        firstName:'LIN',
        lastName:'YIJUN',
        title:'MS',
        ticketNumber: '189-1234567890',
        barcode:
          'http://1.bp.blogspot.com/-mOtwFzNtYP4/TWwhCSP9KpI/AAAAAAAAR9Y/wSz9eUsU-Dk/s400/Booking2DBarcode.gif',
        depAirport: {
          locName: '台北',
          code: 'TPE',
        },
        arrAirport: {
          locName: '東京',
          code: 'HND',
        },
        ffp: 'JX88888888',
        seq: 'JX100: 163',
        date: '28 JAN',
        depTime: '14:30',
        fligtNo: 'JX100',
        terminal: 'T2',
        cabin: '經濟艙',
        meal: '素食餐',
        boardingTime: '14:00',
        gate: 'A01',
        seatNo: '27C',
        seatZone:'A',
        link: 'google.com',
      },
    };
  },
  components:{
    alertWindow
  },
  methods: {
    print() {
      window.print();
    }
  },
};
</script>
<style lang="scss" scoped>
.boarding-pass {
  &__title {
    line-height: 90px;
    vertical-align: bottom;
    font-weight: bold;
    height: 60px;
  }
  &__logo {
    display: inline-block;
    width: 300px;
    height: 60px;
  }
  &__user-info {
    display: inline-block;
    p {
      margin: 0;
    }
    h4 {
      font-weight: bold;
    }
  }
  &__barcode {
    display: inline-block;
    img {
      width: 330px;
      height: 56px;
    }
  }
  &__ticket {
    border-top: 5px solid $brown;
    border-bottom: 5px solid $brown;
    padding: 2rem 3rem;
    .flight-number-list {
      p {
        margin: 0;
      }
      .bold {
        font-weight: bold;
        display: inline-block;
        width: 36px;
      }
      span {
        font-weight: normal;
      }
    }
    .border-group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      div {
        border-top: 1px solid $brown-light;
        border-bottom: 1px solid $brown-light;
        border-left: 1px solid $brown-light;
        padding: 1.5rem;
        text-align: center;
      }
      div:nth-last-child(1) {
        border-right: 1px solid $brown-light;
      }
    }
    .ticket-info {
      border-right: 1px solid $brown-light;
      p {
        margin: 0;
        font-size: $small-font-size;
      }
    }
    .ticket-info:nth-last-child(1) {
      border-right: 0;
    }
  }
  &__ticket-head {
    h2 {
      display: inline-block;
      font-weight: bold;
    }
    img {
      width: 48px;
      height: 48px;
      margin-top: -12px;
    }
  }
}
.hint {
  h4 {
    font-weight: bold;
  }
}
.footer {
  color: $iron-light;
  font-size: $font-size-sm;
  border-top: 1px solid #cfcec9;
  padding: 40px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  img {
    margin-top: 10px;
  }
  .print-icon {
    margin-top: -4px;
  }
}
@include media-breakpoint-down(md) {
  .boarding-pass {
    &__ticket {
      padding: 0 15px;
      .border-group {
        div {
          padding: 0.85rem 0.5rem;
        }
      }
    }
    .ticket-info {
      margin-bottom: 1rem;
      border-right: 0;
    }
  }
}

@media print {
  .footer {
    display:none;
  }
}
</style>
