<template>
  <div>
    <div class="container">
      <section class="mb-5 mb-lg-40">
        <!-- INFO -->
        <h2 class="mb-4 text-brown">{{$t('lb_msg_complete_ckin')}}</h2>
        <div class="row">
          <div class="col-12">
            <completeLabel :data="completeLabelData" />
          </div>
        </div>
      </section>

      <!--BOARDING PASS CARD-->
      <section class="mb-5 mb-lg-40">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-4 text-brown">{{$t('lb_please_print_pass')}}</h2>
            <p class>{{$t('lb_please_print_pass_detail')}}</p>
          </div>
          <template v-for="(paxData, index) in paxDataList" >
            <div class="col-12 col-lg-6" :key="index" >
              <StarTicketItem :data="paxData"/>
            </div>
          </template>
        </div>

        <!--LUG TIPS-->
        <div class="tips">
          <h3 class="my-4 text-brown">{{$t('lb_any_check_bag')}}</h3>
          <div class="row">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <div class="img">
                <img src="~@/assets/checkin-complete-01.jpg" alt="checkin complete">
              </div>
              <h3 class="card-name mt-4 mb-2">{{$t('lb_have_check_bag')}}</h3>
              <p>{{$t('lb_have_check_bag_detail')}}</p>
            </div>
            <div class="col-12 col-lg-6">
              <div class="img">
                <img src="~@/assets/checkin-complete-02.jpg" class="img" alt="checkin complete">
              </div>
              <h3 class="card-name mt-4 mb-2">{{$t('lb_no_check_bag')}}</h3>
              <p>{{$t('lb_no_check_bag_detail')}}</p>
            </div>
            <div class="col-12 mt-6 mb-0 my-lg-6">
              <h3 class="mb-4 text-brown">{{$t('lb_boarding_rule')}}</h3>
              <p>{{$t('lb_boarding_rule_detail')}}</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <div class="container">
        <router-link to="../">
          <button
            class="pill-btn pill-btn-secondary w-100 w-lg-auto float-none float-lg-right mb-5"
          >#返回首頁</button>
        </router-link>
      </div>
    </div>
</div>
</template>
<script>
import CompleteLabel from '@/components/checkIn/StarCompleteLabel';
import StarTicketItem from '@/components/checkIn/StarTicketItem';

export default {
  components: {
    CompleteLabel,
    StarTicketItem,
  },

  data() {
    return {
      completeLabelData: {
        depAirport:{
          code:'TPE',
          locName:'台北',
          terminal:'2',
          airportLocName:'桃園國際機場',
          time:'1月28日 14:00'
        },
        arrAirport:{
          code:'HND',
          locName:'東京',
          terminal:null,
          airportLocName:null,
          time:null
        },
        flightNo: 'JX100',
        completeTime: '2020年1月27日 14:30:30',
      },
    };
  },
  computed: {
    paxDataList() {
      return this.$store.state.CheckIn.paxDataList;
    },
  },
};
</script>
<style lang="scss" scoped>
.checkin-completed {
  h3 {
    color: $brown;
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .border-right {
    border-right: 1px solid #9b9b9b;
  }
  .centerize {
    text-align: center;
  }
  .opacity70 {
    opacity: 0.7;
  }
  .pill-btn {
    padding: 0.8rem 2rem;
  }
  .tips {
    img {
      width: 100%;
    }
  }
}
.footer {
  color: $iron-light;
  font-size: $font-size-sm;
  border-top: 1px solid #cfcec9;
  padding: 40px 0;
  bottom: 0;
  width: 100%;
  .container {
    button {
      padding: 0.8rem 6.25rem;
    }
  }
}
@include media-breakpoint-down(md) {
  .img {
    img {
      width: 100%;
    }
  }
}
</style>
