<template>
  <div>
    <!-- CONTENT -->
    <div class="container">
      <section class="mb-6">
        <div class="row">
          <div class="col-12">
            <h2 class="text-brown mb-3">{{$t('lb_security_check')}}</h2>
            <div class="border border-ivory-dark rounded notice-wrap pb-3">
              <div class="card">
                <div class="card-header">{{$t('lb_security')}}</div>
                <div class="card-body">
                  <div
                    class="h4 mb-0 line-height-base"
                    :style="{'word-break': 'break-all'}"
                  >{{$t('lb_security_detail')}}</div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">{{$t('lb_dg')}}</div>
                <div class="card-body">
                  <h4>{{$t('lb_dg_detail')}}</h4>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-1.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_fire')}}</h4>
                          <h6>{{$t('lb_web_fire_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-2.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_gas')}}</h4>
                          <h6>{{$t('lb_web_gas_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-3.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_flammable_gas')}}</h4>
                          <h6>{{$t('lb_web_flammable_gas_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-4.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_flammable_solid')}}</h4>
                          <h6>{{$t('lb_web_flammable_solid_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-5.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_peroxide')}}</h4>
                          <h6>{{$t('lb_web_peroxide_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-6.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_toxic')}}</h4>
                          <h6>{{$t('lb_web_toxic_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <!--<div class="col-12 col-md-6">-->
                    <!--<div class="d-flex p-0 p-lg-3 mb-3 p-md-4">-->
                    <!--<img src="@/assets/checkin/notice-7.svg" class="mr-4" alt>-->
                    <!--<div class="align-self-center">-->
                    <!--<h5>傳染性物質</h5>-->
                    <!--<h6></h6>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-8.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_radiation')}}</h4>
                          <h6>{{$t('lb_web_radiation_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-9.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_corrosive')}}</h4>
                          <h6>{{$t('lb_web_corrosive_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="d-flex p-0 p-lg-3 mb-3 p-md-4">
                        <img src="@/assets/checkin/notice-10.svg" class="mr-4" alt>
                        <div class="align-self-center">
                          <h4>{{$t('lb_web_other')}}</h4>
                          <h6>{{$t('lb_web_other_detail')}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">{{$t('lb_battery')}}</div>
                <div class="card-body">
                  <div class="h4 mb-0 line-height-base">{{$t('lb_battery_detail')}}</div>
                  <div class="border border-ivory-dark mt-3 py-3 pr-3 pr-lg-4">
                    <ol
                      class="text-iron-light font-weight-light mb-0"
                    >{{$t('lb_battery_detail_detail')}}</ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="mb-4 mb-lg-6">
        <div class="row">
          <div class="col-12">
            <h3 class="text-brown mb-3">{{$t('lb_dangerous_good_agree')}}</h3>
            <p>{{$t('lb_please_contact_our_service_line')}}</p>
            <div class="row">
              <template v-for="(pax, index) in paxList">
                <div class="col-12 col-lg-6" :key="index">
                  <PaxConfirmCard
                    class="mb-6"
                    :paxData="pax"
                    :index="index"
                    v-model="paxCheckList[index]"
                  />
                </div>
              </template>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Button Bar -->
    <div class="border border-left-0 border-right-0">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <button class="pill-btn pill-btn-outline-primary my-6 float-left" @click="back">
              <img src="@/assets/btn-brown-left-arrow.svg" alt class="vertical-baseline mr-2">
              <span>{{$t('btn_back')}}</span>
            </button>
          </div>
          <div class="col-6">
            <button
              class="pill-btn pill-btn-primary my-6 float-right"
              :class="{'disabled':isDisabled}"
              @click="next"
            >
              <span>完成報到</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import PaxConfirmCard from '@/components/checkIn/PaxConfirmCard.vue';
export default {
  components: {
    PaxConfirmCard,
  },

  created() {
    const paxNum = this.paxList.length;
    let arr = [];
    for (let i = 0; i < paxNum; i++) {
      arr.push(null);
    }
    this.paxCheckList = arr;
  },

  data() {
    return {
      paxCheckList: [],
    };
  },

  computed: {
    paxList() {
      return this.$store.state.CheckIn.paxDataList;
    },

    isDisabled() {
      return (
        this.paxCheckList.includes(true) || this.paxCheckList.includes(null)
      );
    },
  },

  methods: {
    back() {
      this.$router.push(
        '/checkIn/paxInfo/' + this.paxList[this.paxList.length - 1].id,
      );
    },

    next() {
      if (!this.isDisabled) {
        this.$router.push('/checkIn/completed');
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.notice-wrap {
  height: 410px;
  overflow: scroll;
  h4,
  .h4 {
    line-height: $line-height-base;
  }
}
.name {
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@include media-breakpoint-down(md) {
  .card-body {
    padding: 1rem;
    img {
      width: 40%;
    }
  }
  .name {
    height: 2.6rem;
  }
}
</style>
