<template>
  <div>
    <!-- CONTENT -->
    <div class="container mb-4">
      <section class="mb-5 mb-lg-6">
        <h2 class="text-brown mb-5">{{$t('lb_find_itinerary')}}</h2>
        <div class="row">
          <div class="col-12 col-lg-6">
            <ValidationObserver ref="form">
              <form @submit.prevent="submit">
                <div>
                  <!-- radio btns -->
                  <fieldset class="mb-3">
                    <span class="mr-6">
                      <input
                        class="radio"
                        type="radio"
                        name="trip"
                        id="orderNumber"
                        :value="true"
                        v-model="isBookingNo"
                        checked
                      >
                      <label for="orderNumber">{{$t('lb_pnr')}}</label>
                    </span>
                    <span>
                      <input
                        class="radio"
                        type="radio"
                        name="trip"
                        id="ticketNumber"
                        :value="false"
                        v-model="isBookingNo"
                      >
                      <label for="ticketNumber">{{$t('lb_tkt')}}</label>
                    </span>
                  </fieldset>
                  <!-- 訂位代號 -->
                  <div v-if="isBookingNo">
                    <StarInput
                      name="orderNumber"
                      :placeholder="$t('hint_pnr')"
                      aria-label
                      :isDisabled="false"
                      :title="$t('lb_pnr')"
                      class="mb-3"
                      v-model="form.orderNumber"
                      rules="required"
                      :fieldName="$t('lb_pnr')"
                      key="orderNumber"
                    >
                      <template slot="tips">{{$t('warning_input_pnr')}}</template>
                    </StarInput>
                    <StarInput
                      name="lastName"
                      :placeholder="$t('hint_contact_last_name')"
                      aria-label
                      :isDisabled="false"
                      :title="$t('lb_last_name')"
                      class="mb-3"
                      v-model="form.lastName"
                      rules="required"
                      :fieldName="$t('lb_last_name')"
                    ></StarInput>
                  </div>
                  <!-- 電子機票號碼 -->
                  <div v-else>
                    <StarInput
                      name="ticketNumber"
                      :placeholder="$t('hint_tkt')"
                      aria-label
                      :isDisabled="false"
                      :title="$t('lb_tkt')"
                      class="mb-3"
                      v-model="form.ticketNo"
                      rules="required"
                      :fieldName="$t('lb_tkt')"
                      key="ticketNumber"
                    ></StarInput>
                    <StarInput
                      name="lastname"
                      :placeholder="$t('hint_contact_last_name')"
                      aria-label
                      :isDisabled="false"
                      :title="$t('lb_last_name')"
                      class="mb-3"
                      v-model="form.lastName"
                      rules="required"
                      :fieldName="$t('lb_last_name')"
                    >
                      <template slot="tips">this is required</template>
                    </StarInput>
                  </div>
                  <a
                    href="#"
                    @click="isOpen=true"
                    class="inform d-block d-lg-inline-block mt-4 mb-3 mb-lg-0"
                  >
                    <img src="@/assets/ic-info.svg" alt="icon">
                    {{$t('btn_ckin_rule')}}
                  </a>
                  <button
                    class="pill-btn pill-btn-primary float-left float-lg-right mt-3 mb-4 mb-lg-0"
                    @click="submit"
                  >
                    <span>{{$t('btn_start_ckin')}}</span>
                    <div class="arrow-icon"></div>
                  </button>
                </div>
              </form>
            </ValidationObserver>
          </div>
          <div class="col-12 col-lg-6">
            <div class="login-wrapper">
              <div class="login h4">
                <a href="#" class="underline">
                  <u>{{$t('lb_log_in_ffp')}}</u>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <StarModal
      :title="$t('lb_title_ckin_rule')"
      v-model="isOpen"
      :hasConfirmBtn="true"
      :isScroll="true"
    >
      <template slot="content">
        <div class="w-100 font-weight-bold inform-modal" style="overflow: hidden;">
          <div class="content-cards">
            <h4 class="mb-2">{{$t('lb_ckin_rule')}}</h4>
            <p class="mb-6">{{$t('lb_ckin_rule_detail')}}</p>
            <h4 class="mb-2">{{$t('lb_unable_ckin_rule')}}</h4>
            <div class="mb-6 pl-3" v-html="$t('lb_web_unable_ckin_rule_detail')"></div>
            <p>若有任何疑問請洽星宇客服專線 0800-000-123</p>
          </div>
        </div>
      </template>
    </StarModal>
  </div>
</template>
<script>
import StarBanner from '@/components/StarBanner';
import StarBreadCrumb from '@/components/StarBreadCrumb';
import StarStepsIndicator from '@/components/StarStepsIndicator';
import StarInput from '@/components/common/StarInput';
import StarModal from '@/components/common/StarModal';
import { ValidationObserver } from 'vee-validate';

export default {
  components: {
    StarBanner,
    StarBreadCrumb,
    StarStepsIndicator,
    StarInput,
    StarModal,
    ValidationObserver,
  },

  data() {
    return {
      isBookingNo: true,
      isOpen: false,
      form: {
        orderNumber: null,
        lastName: null,
        ticketNo: null,
      },
    };
  },

  methods: {
    submit() {
      this.$refs.form.validate().then((validateStatus) => {
        if (validateStatus) {
          this.$router.push('/checkIn/selectCheckInFlight');
        }
      });
    },
  },

  created(){
    // call alert message
    this.$notify({
      group:'error',
      text: '錯誤文字訊息!',
      duration:-1,
    });
  },

  deactivated(){
    this.$notify({
      group:'error',
      clean: true
    })
  },
};
</script>
<style lang="scss" scoped>
.login-wrapper {
  height: 100%;
  text-align: center;
  background-color: $ivory-light;
  color: $brown;
  display: table;
  width: 100%;
  .login {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    a {
      text-decoration: underline;
    }
  }
}
.arrow-icon {
  background-color: #fff;
  -webkit-mask: url('~@/assets/ic-btn-r-arrow-brown.svg') no-repeat center;
  mask: url('~@/assets/ic-btn-r-arrow-brown.svg') no-repeat center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
  margin-left: 15px;
}
.inform {
  color: $gold;
  text-decoration: underline;
  img {
    margin-top: -4px;
    margin-right: 10px;
  }
}
.inform-modal {
  h4 {
    font-weight: bold;
  }
  ol {
    padding-left: 20px;
  }
}
.alert {
  background: $red;
  color: $white;
  padding: 1.25rem 2.5rem;
  opacity: 0.7;
  border-radius: 0.25rem;
  font-weight: bold;
  .close {
    color: #fff;
  }
}
</style>
