<template>
  <div>
    <StarBanner class="mb-6">
      <StarBreadCrumb :linkData="linkData"/>
      <div class="row">
        <div class="col-12 col-lg-2">
          <h1 class="font-weight-light">{{$t('lb_title_online_ckin')}}</h1>
        </div>
        <div class="col-12 col-lg-10">
          <StarStepsIndicator
            v-if="stepNums.length > 0"
            :totalStepsNum="4"
            :activeSteps="[...stepNums]"
          />
        </div>
      </div>
    </StarBanner>
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>
<script>
import StarBanner from '@/components/StarBanner';
import StarBreadCrumb from '@/components/StarBreadCrumb';
import StarStepsIndicator from '@/components/StarStepsIndicator';
export default {
  components: {
    StarBanner,
    StarBreadCrumb,
    StarStepsIndicator,
  },

  data() {
    return {
      //breadCrumb
      linkData: [
        { name: '首頁', route: '/' },
        { name: '網路報到', route: '/checkIn' },
      ],
      //check in 步驟順序
      stepList: [
        'selectCheckInFlight',
        'selectCheckInPax',
        'checkIn-paxInfo',
        'confirmLuggageNotice',
      ],
    };
  },

  computed: {
    stepNums() {
      let stepNums = [];
      let currStep = this.stepList.find((item) =>
        this.$route.name.includes(item),
      );

      if (currStep) {
        for (let i = 1; i <= this.stepList.indexOf(currStep) + 1; i++) {
          stepNums.push(i);
        }
      }
      return stepNums;
    },
  },
};
</script>
