<template>
  <div class="container">
    <h2 class="text-brown mb-5">{{$t('lb_fill_in_pax_info')}}</h2>

    <!-- paxInfo -->
    <div
      class="bg-iron rounded mb-5 p-3 py-lg-4 px-lg-6 d-flex justify-content-between align-items-center"
    >
      <div>
        <div
          v-if="paxData"
          class="h1 mb-2 text-white"
        >{{paxData.lastName}} / {{paxData.firstName}} {{paxData.title}}</div>
        <p class="mb-0 text-white" style="opacity:0.7;">#旅客姓名</p>
      </div>
      <div
        class="text-white"
        style="opacity:0.7;"
      >#第 {{currentPaxIndex + 1}} 位 / 共 {{paxList.length}} 位</div>
    </div>

    <!--BIRTHDAY-->
    <section class="mb-5 mb-lg-7">
      <h3 class="text-brown mb-3">{{$t('lb_basic_information')}}</h3>
      <div class="row">
        <div class="col-12 col-lg-7">
          <birthDayDropdown
            name="birthday"
            :titles="{year:$t('lb_web_year'),month:$t('lb_month'), day:$t('lb_date')}"
            v-model="birthDay"
          />
        </div>
      </div>
    </section>

    <!--PASSPORT-->
    <section class="mb-5 mb-lg-7">
      <h3 class="text-brown mb-3" id="sex-title">{{$t('lb_passport')}}</h3>
      <div class="mb-3">
        <span class="mr-3">
          <input
            class="radio"
            type="radio"
            name="sex"
            value="male"
            aria-labelledby="sex-title male-label"
            id="male"
          >
          <label id="male-label" for="male">{{$t('lb_male')}}</label>
        </span>
        <span>
          <input
            class="radio"
            type="radio"
            name="sex"
            value="female"
            aria-labelledby="sex-title female-label"
            id="female"
          >
          <label id="female-label" for="female">{{$t('lb_female')}}</label>
        </span>
      </div>
      <div class="row mb-2 mb-lg-3">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0">
          <StarDropdown
            :options="countryOptions"
            v-model="country"
            :maxHeight="500"
            :title="$t('lb_country_region')"
            :placeholder="$t('hint_select')"
          />
        </div>
        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <StarInput
            :name="'passport'"
            aria-label
            :title="$t('lb_passport_number')"
            :placeholder="$t('hint_passport_number')"
            v-model="passport"
            rules="required"
            :fieldName="$t('lb_last_name')"
            type="text"
          />
        </div>
        <div class="col-12 col-lg-4">
          <StarDropdown
            :options="countryOptions"
            v-model="passportCountry"
            :maxHeight="500"
            :title="$t('lb_passport_issue_country_region')"
            :placeholder="$t('hint_select')"
          />
        </div>
      </div>

      <div class="row mb-2 mb-lg-3">
        <div class="col-12 col-lg-7">
          <birthDayDropdown
            name="certificateExpDate"
            :titles="{year:$t('lb_passport_expire_date'),month:$t('lb_month'), day:$t('lb_date')}"
            v-model="certificateExpDate"
            :startDate="today()"
            :endDate="today(10)"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <StarInfo>
            <template slot="info-content">{{$t('note_document_expire_date')}}</template>
          </StarInfo>
        </div>
      </div>
    </section>

    <section class="mb-5 mb-lg-8">
      <h3 class="text-brown mb-3">#證件資料 (選填)</h3>
      <div class="row mb-2 mb-lg-3">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0">
          <StarDropdown
            :options="documentOptions"
            v-model="documentType"
            :maxHeight="500"
            :title="$t('lb_document_type')"
            :placeholder="$t('hint_select')"
          />
        </div>
        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <StarInput
            :name="'passport'"
            aria-label
            :title="$t('lb_document_number')"
            :placeholder="$t('hint_passport_number')"
            v-model="documentNum"
            rules="required"
            :fieldName="$t('lb_last_name')"
            type="text"
          />
        </div>
        <div class="col-12 col-lg-4">
          <StarDropdown
            :options="countryOptions"
            v-model="documentCountry"
            :maxHeight="500"
            :title="$t('lb_document_issue_country_region')"
            :placeholder="$t('hint_select')"
          />
        </div>
      </div>
      <div class="row mb-2 mb-lg-3">
        <div class="col-12 col-lg-7">
          <birthDayDropdown
            name="documentExpireDate"
            :titles="{year:$t('lb_document_expire_date'),month:$t('lb_month'), day:$t('lb_date')}"
            :startDate="today()"
            :endDate="today(10)"
          />
        </div>
      </div>
    </section>

    <!-- Button Bar -->
    <div class="border border-left-0 border-right-0">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <button class="pill-btn pill-btn-outline-primary my-6 float-left" @click="back">
              <img src="@/assets/btn-brown-left-arrow.svg" alt class="vertical-baseline mr-2">
              <span v-if="currentPaxIndex > 0"># 上一位旅客</span>
              <span v-else>{{$t('btn_back')}}</span>
            </button>
          </div>
          <div class="col-6">
            <button class="pill-btn pill-btn-primary my-6 float-right" @click="submit">
              <span class="mr-2" v-if="currentPaxIndex < paxList.length - 1">＃填寫下一位旅客</span>
              <span class="mr-2" v-else>{{$t('btn_dangerous_goods')}}</span>
              <img src="@/assets/btn-r-arrow-white.svg" alt class="vertical-baseline">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import birthDayDropdown from '@/components/common/StarBirthdayDropdown';
import StarInput from '@/components/common/StarInput';
import StarDropdown from '@/components/common/StarDropdown';
import StarInfo from '@/components/common/StarInfo';

export default {
  components: {
    birthDayDropdown,
    StarInput,
    StarDropdown,
    StarInfo,
  },
  data() {
    return {
      countryOptions: [
        { label: '美國', value: 'usa' },
        { label: '加拿大', value: 'canada' },
        {
          label: '台灣',
          value: 'taiwan',
        },
      ],
      documentOptions: [
        { label: '簽證', value: 'visa' },
        { label: '綠卡', value: 'greenCard' },
        {
          label: '楓葉卡',
          value: 'MapleLeafCard',
        },
      ],
      country: 'taiwan',
      passportCountry: 'taiwan',
      documentCountry: null,
      passport: null,
      documentType: null,
      documentNum: null,
      birthDay: null,
      certificateExpDate: null,
      documentExpireDate: null,
    };
  },
  computed: {
    id() {
      return this.$route.params.id;
    },

    paxList() {
      return this.$store.state.CheckIn.paxDataList;
    },

    paxData() {
      return this.paxList.filter((item) => item.id === this.id)[0];
    },

    currentPaxIndex() {
      return this.paxList.findIndex((item) => item === this.paxData);
    },
  },
  methods: {
    today(years = 0) {
      let today = new Date();
      return `${today.getFullYear() + years}/${
        today.getMonth() > 10 ? today.getMonth() : '0' + (today.getMonth() + 1)
      }/${
        today.getDate() > 10 ? today.getDate() : '0' + (today.getDate() + 1)
      }`;
    },

    back() {
      if (this.currentPaxIndex > 0) {
        this.$router.push(this.paxList[this.currentPaxIndex - 1].id);
      } else {
        this.$router.push('/checkIn/selectCheckInPax');
      }
    },

    submit() {
      if (this.currentPaxIndex < this.paxList.length - 1) {
        this.$router.push(this.paxList[this.currentPaxIndex + 1].id);
      } else {
        this.$router.push('/checkIn/confirmLuggageNotice');
      }
    },
  },
};
</script>
