<template>
  <div>
    <div class="container">
      <!-- INFO -->
      <PaxFlightInfo :flightData="flightData"/>
      <!-- TITLE AND SELECT ALL -->
      <h2 class="text-brown">{{$t('lb_select_ckin_pax')}}</h2>
      <div class="mb-3">
        <span class="mb-4 mb-lg-0 d-inline-block">{{$t('lb_web_select_ckin_pax_detail')}}</span>
        <div class="float-none float-lg-right">
          <label for="selectAll" class="mr-3">{{$t('checkbox_select_all')}}</label>
          <input class="checkbox" type="checkbox" id="selectAll" v-model="selectAll">
          <label class="m-0 mr-2" for="selectAll"></label>
        </div>
      </div>
      <!-- PAX CARDS -->
      <ul class="row">
        <li class="col-12 col-lg-6" v-for="(item,index) in paxDataList" :key="index">
          <PaxCard
            :paxData="item"
            :index="index"
            :isCheckable="item.isCheckable"
            :isCompleted="item.isCompleted"
            v-model="selectedPaxList"
          />
        </li>
      </ul>
      <!-- INFO -->
      <div class="row" v-if="hasChackableFalse">
        <div class="col-12">
          <Info class="mb-7">
            <template slot="info-content">提醒您，有部分旅客無法進行網路報到，請於機場櫃台辦理。更多資訊請參考</template>
          </Info>
        </div>
      </div>
    </div>
    <!-- Button Bar -->
    <div class="border border-left-0 border-right-0">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <router-link to="/checkIn">
              <button class="pill-btn pill-btn-outline-primary my-6 float-left">
                <img src="@/assets/btn-brown-left-arrow.svg" alt class="vertical-baseline mr-2">
                <span>{{$t('btn_back')}}</span>
              </button>
            </router-link>
          </div>
          <div class="col-6">
            <!-- next page btn -->
            <button
              class="pill-btn pill-btn-primary my-6 float-right"
              :class="{'disabled':!selectedStatus}"
              @click="submit"
            >
              <span class="mr-2">{{$t('btn_select_ckin_pax')}}</span>
              <img src="@/assets/btn-r-arrow-white.svg" alt class="vertical-baseline">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import PaxFlightInfo from '@/components/checkIn/PaxFlightInfo.vue';
import PaxCard from '@/components/checkIn/PaxCard.vue';
import Info from '@/components/common/StarInfo';
export default {
  components: {
    PaxFlightInfo,
    PaxCard,
    Info,
  },
  data() {
    return {
      completeStatus: true,
      selectedPaxList: [],
      flightData: {
        flightNo: 'JX100',
        depDate: '2020/01/28',
        depTime: '14:30',
        depAirportCode: 'TPE',
        arrDate: '2020/01/28',
        arrTime: '18:20',
        arrAirportCode: 'HND',
        checkInDate: '2020/01/28',
        checkInTime: '16:20',
      },

      paxDataList: [
        {
          id: '996132',
          firstName: 'YIJUN',
          lastName: 'LIN',
          title: 'MS',
          cabin: '經濟艙',
          cabinZone: 'A',
          seatNo: '27C',
          meal: '普通餐',
          isCheckable: true,
          isCompleted: false,
        },
        {
          id: '123745',
          firstName: 'JIAHOW',
          lastName: 'LIN',
          title: 'MR',
          cabin: '經濟艙',
          cabinZone: 'A',
          seatNo: '28C',
          meal: '普通餐',
          isCheckable: true,
          isCompleted: false,
        },
        {
          id: '123735',
          firstName: 'DOGE',
          lastName: 'WOW',
          title: 'MR',
          cabin: '經濟艙',
          cabinZone: 'A',
          seatNo: '28D',
          meal: '普通餐',
          isCheckable: true,
          isCompleted: false,
        },
        {
          id: '334567',
          firstName: 'ANAN',
          lastName: 'LIN',
          title: 'SIR',
          cabin: '經濟艙',
          cabinZone: 'A',
          seatNo: '28D',
          meal: '普通餐',
          isCheckable: true,
          isCompleted: true,
        },
        {
          id: 'pax4',
          firstName: 'DINDIN',
          lastName: 'LIN',
          title: 'MR',
          cabin: '經濟艙',
          cabinZone: 'A',
          seatNo: '28E',
          meal: '普通餐',
          isCheckable: false,
          isCompleted: false,
        },
      ],
    };
  },

  computed: {
    selectAll: {
      get() {
        return this.paxDataList
          ? this.selectedPaxList.length ===
              this.paxDataList.filter(
                (item) => item.isCheckable && !item.isCompleted,
              ).length
          : false;
      },
      set(value) {
        const selectedPaxList = [];
        if (value) {
          this.paxDataList.forEach((item) => {
            if (item.isCheckable === true && item.isCompleted === false) {
              selectedPaxList.push(item);
            }
          });
        }

        this.selectedPaxList = selectedPaxList;
      },
    },

    selectedStatus() {
      return this.selectedPaxList.length > 0;
    },

    hasChackableFalse() {
      return (
        this.paxDataList.filter((paxData) => paxData.isCheckable === false)
          .length > 0
      );
    },
  },

  methods: {
    submit(evt) {
      if (!this.selectedStatus) {
        evt.preventDefault();
      } else {
        this.$store.commit('CheckIn/SET_PAX_DATA_LIST', this.selectedPaxList);
        this.$router.push('paxInfo/' + this.selectedPaxList[0].id);
      }
    },
  },
};
</script>
