<template>
  <div>
    <div class="container">
      <!-- CHECK IN INFO -->
      <FlightInfo
        :depAirport="{cityLocName:'台北', airportLocName:'桃園國際機場',airportCode:'TPE'}"
        :arrAirport="{cityLocName:'東京', airportLocName:'羽田國際機場',airportCode:'HND'}"
        :isRoundTrip="true"
        :cabinType="'經濟艙'"
        :paxNum="3"
        :pnrNo="'SDF3CS'"
      />

      <!-- TITLE -->
      <h2 class="text-brown mb-3">{{$t('lb_select_ckin_flt')}}</h2>
      <p>{{$t('lb_select_ckin_flt_detail')}}</p>

      <!-- CHECK IN FLIGHT LISTS -->
      <ul class="mb-7">
        <li v-for="(item,index) in flightData" :key="index">
          <FlightCard
            :index="index"
            :flightData="item"
            :isCheckable="item.isCheckable"
            :isDisable="item.isDisable"
            v-model="flightIndex"
          />
        </li>
      </ul>
    </div>

    <!-- BUTTON BAR -->
    <div class="border border-left-0 border-right-0">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <router-link to="/checkIn">
              <button class="pill-btn pill-btn-outline-primary my-6 float-left">
                <img src="@/assets/btn-brown-left-arrow.svg" alt class="vertical-baseline mr-2">
                <span>{{$t('btn_back')}}</span>
              </button>
            </router-link>
          </div>
          <div class="col-6">
            <router-link to="selectCheckInPax">
              <button class="pill-btn pill-btn-primary my-6 float-right">
                <span class="mr-2">{{$t('btn_select_ckin_pax')}}</span>
                <img src="@/assets/btn-r-arrow-white.svg" alt class="vertical-baseline">
              </button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import FlightInfo from '@/components/checkIn/FlightInfo.vue';
  import FlightCard from '@/components/checkIn/FlightCard.vue';

  export default {
    components: {
      FlightInfo,
      FlightCard,
    },
    data() {
      return {
        //所選擇航班index
        flightIndex: null,
        flightData: [
          {
            flightNo: 'JX000',
            depDate: '2020/01/28',
            depTime: '14:30',
            depAirportCode: 'TPE',
            arrDate: '2020/01/28',
            arrTime: '18:20',
            arrAirportCode: 'HND',
            checkInDate: '2020/01/28',
            checkInTime: '16:20',
            isDisable: false,
            isCheckable: true,
          },
          {
            flightNo: 'JX001',
            depDate: '2020/01/28',
            depTime: '14:30',
            depAirportCode: 'TPE',
            arrDate: '2020/01/28',
            arrTime: '18:20',
            arrAirportCode: 'HND',
            checkInDate: '2020/01/28',
            checkInTime: '16:20',
            isDisable: false,
            isCheckable: true,
          },
          {
            flightNo: 'JX002',
            depDate: '2020/01/28',
            depTime: '14:30',
            depAirportCode: 'TPE',
            arrDate: '2020/01/28',
            arrTime: '18:20',
            arrAirportCode: 'HND',
            checkInDate: '2020/01/28',
            checkInTime: '16:20',
            isDisable: true,
            isCheckable: true,
          },
          {
            flightNo: 'JX003',
            depDate: '2020/01/28',
            depTime: '14:30',
            depAirportCode: 'TPE',
            arrDate: '2020/01/28',
            arrTime: '18:20',
            arrAirportCode: 'HND',
            checkInDate: '2020/01/28',
            checkInTime: '16:20',
            isDisable: true,
            isCheckable: false,
          },
        ],
      };
    },
  };
</script>
