<template>
  <div id="app">
    <vue-skip-to to="#main" text="Skip to main content" />
    <DummyNav/>
    <router-view id="main" role="main"/>
    <!-- <router-view v-if="!$route.meta.keepAlive"></router-view> -->
    <StarLoading/>
    <StarNotifications/>
  </div>
</template>
<script>
  import DummyNav from './components/DummyNav.vue';
  import StarLoading from './components/StarLoading.vue';
  import StarNotifications from './components/common/StarNotifications';
  import pkg from '../package.json'

  export default {
    components: { StarNotifications, DummyNav, StarLoading },
    mounted() {
      console.log(
        `%c ${pkg.name} %c Version v${pkg.version} %c`,
        'background:#35495e ; padding: 1px; border-radius: 3px 0 0 3px;  color: #fff',
        'background:#996a4e ; padding: 1px; border-radius: 0 3px 3px 0;  color: #fff',
        'background:transparent',
      );
    },
  };
</script>
